{% extends 'index.html.twig' %}
{% block page %}
    {{ parent() }}
<div class="col-lg-8">
        <a class="btn btn-primary likepaginator" href="{{ path('updateempresas') }}">
            Actualizar Datos de Empresas
        </a>
    </div>
{% endblock %}