{% extends 'layout_error.html.twig' %}
{% block page %}
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2 text-center">
	  <div class="logo">
	    <h1>Error 404! Página no Encontrada</h1>
          </div>                         
             
            <div class="clearfix"></div>
            <br><br>          
          <div class="clearfix"></div>
             <br><br>
                
            <div class="clearfix"></div>
            <br>
                <div class="col-lg-9  col-lg-offset-1">
		  <div class="btn-group btn-group-justified">
		      <a href="{{ path('mws_admin_crud_menu') }}" class="btn btn-primary">Volver al panel administrador</a>
                      <a href="{{ path('home') }}" class="btn btn-success">Volver a la página principal</a> 
		  </div>
                        
                </div>
            
        </div>
                
                
        </div>
{% endblock %}
