{% extends 'layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.index.list'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
{% endblock %}

{% block page %}
<div class="row">
    <div class="col-lg-2">
        {% if filterForm.vars.errors|length > 0 %}
        <div class="alert alert-block alert-danger fade in form-errors">
            {{ form_errors(filterForm) }}
        </div>
        {% endif %}
        &nbsp;
    </div>
    <div class="col-lg-12">
        <div class="filters-right">
            <a class="btn btn-primary dropdown-toggle" data-toggle="collapse" data-target="#filters">
                {{ 'views.index.filters'|trans({}, 'MWSimpleAdminCrudBundle') }}
                <span class="caret"></span>
            </a>
        </div>
    </div>
    <div class="col-lg-12">
        <div id="filters" class="well collapse">
            <div class="form-group">
            {{ form_start(filterForm) }}
            {{ form_end(filterForm) }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>{{ 'views.index.list'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}</h3>
        </div>
        <form id="samplecode" name="samplecode" method="POST" action="">
        <table class="table table-striped table-bordered table-condensed table-responsive">
            <thead>
                <tr>
                    {% for key, field in config.fieldsindex %}
                        <th{% if entities.isSorted(key) %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, field.label, key) }}</th>
                    {% endfor %}
                    <th>Default</th>
                    <th>{{ 'views.index.actions'|trans({}, 'MWSimpleAdminCrudBundle') }}</th>
                </tr>
            </thead>
            <tbody>            
            {% for entity in entities %}
                <tr>
                    {% for key, field in config.fieldsindex %}
                        <td>
                        {% if field.type in ['datetime', 'datetimetz', 'date', 'time'] %}
                            {{ attribute(entity, field.name)|date(field.date) }}
                        {% elseif field.type in ['boolean'] %}
                            {{ isActive(attribute(entity, field.name)) }}
                        {% elseif field.type in ['ONE_TO_MANY', 'MANY_TO_MANY'] %}
                            {% set many_entity = attribute(entity, field.name) %}
                            {% for key, field in many_entity %}
                                {{ field }} |
                            {% endfor %}
                        {% else %}
                            {{ attribute(entity, field.name) }}
                        {% endif %}
                        </td>
                    {% endfor %}
                    <td>
                        <input type="radio" name="default" value="{{entity.id}}" {% if entity.defaultmap == "1" %} checked="checked" {% endif %} onclick="setDefault({{entity.id}})"/>
                    </td>                    
                    <td>
                        {% block actions %}
                            <a class="glyphicon glyphicon-search tooltips"  href="{{ path(config.show, { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.show'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}"></a>
                            <a class="glyphicon glyphicon-edit tooltips"  href="{{ path(config.edit, { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.edit'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}"></a>
                        {% endblock %}
                    </td>
                </tr>
                
            {% endfor %}
            </tbody>
        </table>
        </form>
    </div>
    <div class="col-lg-4 navigation">
        {{ knp_pagination_render(entities) }}
    </div>
        <div class="col-lg-8">
            <a class="btn btn-primary likepaginator" href="{{ path(config.new) }}">
                {{ 'views.index.createnew'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
            </a>
        </div>
    </div>
    
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $('.tooltips').tooltip();
        function setDefault(id) {
                //alert(id);
                $.ajax({
        url: '{{ path('set_default') }}',
        type: "POST",
        data: {"id": id},
        success: function(data) {
            //$('.result').html(data);            
            //$('#sistema_dieselbundle_presupuesto_consumos_' + cantidadAddJs + '_unitario').val(data);           
        }
    });

}
        
    </script>
    
{% endblock %}
