<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="{{ asset('images/config/logo') }}">
        <meta charset="utf-8">
        <title>{% block title %}{{ 'views.layout.bannersadmin'|trans({}, 'MWSimpleAdminCrudBundle') }}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Le styles -->
        <link href="{{ asset('bundles/mwsimpleadmincrud/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/mwsimpleadmincrud/css/bootstrap-checkbox.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/mwsimpleadmincrud/js/bootstrap-fileupload/bootstrap-fileupload.min.css') }}" rel="stylesheet" id="bootstrap-style">
        <link rel="stylesheet" href="{{ asset('bundles/mwsimpleadmincrud/select2/select2.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/mwsimpleadmincrud/css/bootstrapValidator.min.css') }}">
        <link href="{{ asset('bundles/mwsimpleadmincrud/datetime/css/bootstrap-datetimepicker.css') }}" rel="stylesheet">        
        <link href="{{ asset('bundles/mwsimpleadmincrud/css/crud.css') }}" rel="stylesheet">
        <link href="{{ asset('css/banner.css') }}" rel="stylesheet">
        <script src="{{ asset('bundles/mwsimpleadmincrud/js/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/mwsimpleadmincrud/js/bootstrap.min.js') }}"></script>        
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script src="{{ asset('bundles/mwsimpleadmincrud/datetime/js/bootstrap-datetimepicker.js') }}"></script>
        <script src="{{ asset('bundles/mwsimpleadmincrud/datetime/js/locales/bootstrap-datetimepicker.es.js') }}"></script>
        <script src="{{ asset('bundles/mwsimpleadmincrud/select2/select2.min.js') }}"></script>
    {% block stylesheets %}{% endblock %}
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ asset('images/config/logo') }}">
</head>

<body>
    <div id="banner-secundario" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('home') }}" style="padding: 0px;"><img src="{{ asset('images/config/logo') }}" alt="" style="height: 50px"/></a>
            </div>
            <div class="navbar-collapse collapse">                
                <ul class="nav navbar-nav navbar-left">                   
                    {#{{ render(controller('SistemaUserBundle:Menu:builder')) }}#}
                    {% if is_granted('ROLE_USER') %}
                    <li><a href="{{ path('admin_usuariocapa') }}">Capas</a></li>    
                    <li><a href="{{ path('admin_mapa') }}">Proyectos</a></li>
                    <li><a href="{{ path('admin_grupo') }}">Grupos</a></li>
                    <li><a href="{{ path('user_perfil_edit') }}">Mi Perfil</a></li>
                    {#<li><a href="{{ path('admin_metadatos') }}">Metadatos</a></li>#}
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('user') }}">Usuarios</a></li>
                    <li><a href="{{ path('admin_proveedor') }}">Proveedores</a></li>
                    <li><a href="{{ path('admin_capa') }}">Capas</a></li>
                    <li><a href="{{ path('admin_servidor') }}">Servidores</a></li>
                    <li><a href="{{ path('admin_pestania') }}">Pestañas</a></li>
                    <li><a href="{{ path('admin_categoria') }}">Categoria</a></li>
                    <li><a href="{{ path('admin_arbol_pestania') }}">Arbol</a></li>
                    <li><a href="{{ path('admin_config') }}">Configuración</a></li>                    
                    {% endif %}
                    {% if is_granted('ROLE_AUDITOR') %}
                        <li><a href="{{ path('admin_auditoria') }}">Auditoría</a></li>
                    {% endif %}
                    <li><a href="{{ path('home') }}">Visualizador</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if app.user %}
                        <a style="color: #0a0" class="pull-right" href="#"><span class="glyphicon glyphicon-check btn btn-lg"></span>Bienvenido: <h6 class="label label-success">{%if app.user.username is defined %}{{ app.user.username }} {%endif%}</h6></a>
                        <a style="color: #0a0" class="pull-right" href="{{path('logout')}}"><span class="glyphicon glyphicon-log-out btn btn-lg"></span>Cerrar Sesion</a>
                    {% else %}
                        <a style="color: #0a0" class="pull-right" href="{{path('login')}}"><span class="glyphicon glyphicon-log-in btn btn-lg"></span>Ingresar</a>
                    {% endif %}
                </ul>
            </div>      </div>
    </div>
    <div class="container">
        {% block flash %}
        {% for type, flashMessages in app.session.flashbag.all() %}
            {% for flashMessage in flashMessages %}
                <div class="alert alert-{{ type }}">
                    {{ flashMessage|trans({}, 'MWSimpleAdminCrudBundle') }}
                </div>
            {% endfor %}
        {% endfor %}
        {% endblock %}
    {% block page %}{% endblock %}
</div>
<script src="{{ asset('bundles/mwsimpleadmincrud/js/bootstrap-checkbox.js') }}"></script>
<script src="{{ asset('bundles/mwsimpleadmincrud/js/bootstrap-fileupload/bootstrap-fileupload.min.js') }}"></script>
<script src="{{ asset('bundles/mwsimpleadmincrud/js/validator/bootstrapValidator.min.js') }}"></script>
<script src="{{ asset('bundles/mwsimpleadmincrud/js/validator/language/es_ES.js') }}"></script>
{% block javascript %}{% endblock %}
</body>
</html>