<div class="row">
    <div class='col-lg-12'>
        <legend>Archivos</legend>
    </div>    
    <div class="col-lg-12">
        <table class="table table-striped table-bordered table-condensed table-responsive">
                    
    </table>
        <div class="archivo col-lg-12">            
            <table class="table table-striped table-bordered table-condensed table-responsive">                    
                    <tbody>
                        {% for archivo in entity.archivos %}
                <div class='rowremove'>    
        <div class='form-group'>                                    
            <div>{{ archivo.filePath }} <a class='btnRemoveArchivos btn btn-mini btn-danger' href="/uploads/archivos/{{ archivo.filePath }}" target="_blank">
                <i class='glyphicon glyphicon-download'></i>
            </a></div>
        </div>       
    
    <hr>
</div>
            {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>
    <div class="col-lg-12">
            <div class="ribon_dom"><button type="button" class='add_archivo_link btn btn-info'><span class="glyphicon glyphicon-plus"></span>&nbsp;<span class="glyphicon glyphicon-compressed"></span></button></div>
        </div>    
</div>
