<link href="{{ asset('bundles/mwsimpleadmincrud/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/mwsimpleadmincrud/css/bootstrap-checkbox.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/mwsimpleadmincrud/js/bootstrap-fileupload/bootstrap-fileupload.min.css') }}" rel="stylesheet" id="bootstrap-style">
        <link rel="stylesheet" href="{{ asset('bundles/mwsimpleadmincrud/select2/select2.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/mwsimpleadmincrud/css/bootstrapValidator.min.css') }}">
        <link href="{{ asset('bundles/mwsimpleadmincrud/datetime/css/bootstrap-datetimepicker.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/mwsimpleadmincrud/css/crud.css') }}" rel="stylesheet">
        <script src="{{ asset('bundles/mwsimpleadmincrud/js/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/mwsimpleadmincrud/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/mwsimpleadmincrud/datetime/js/bootstrap-datetimepicker.js') }}"></script>
        <script src="{{ asset('bundles/mwsimpleadmincrud/datetime/js/locales/bootstrap-datetimepicker.es.js') }}"></script>
        <script src="{{ asset('bundles/mwsimpleadmincrud/select2/select2.min.js') }}"></script>
<div class="row">
    <div class='col-lg-12'>
        <legend>Archivos</legend>
    </div>    
    <div class="col-lg-12">
        <table class="table table-striped table-bordered table-condensed table-responsive">
                    
    </table>
        <div class="archivo col-lg-12">            
            <table class="table table-striped table-bordered table-condensed table-responsive">                    
                    <tbody>
                        {% for archivo in archivos %}
                <div class='rowremove'>    
        <div class='form-group'>                                    
            <div>{{ archivo.fileName }} <a class='btnRemoveArchivos btn btn-mini btn-danger' href="/files/vinculaciones/{{ archivo.fileName }}" target="_blank">
                <i class='glyphicon glyphicon-download'></i>
            </a></div>
        </div>       
    
    <hr>
</div>
            {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>
    <div class="col-lg-12">
            <div class="ribon_dom"><button type="button" class='add_archivo_link btn btn-info'><span class="glyphicon glyphicon-plus"></span>&nbsp;<span class="glyphicon glyphicon-compressed"></span></button></div>
        </div>    
</div>
