<html>
    <head>
        <link rel="icon" href="favicon.ico">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <title>Consulta Vinculacion</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sistemavisualizador/OpenLayers-2.12/theme/default/style.css') }}"/>
        <script src="http://maps.google.com/maps/api/js?v=3&amp;sensor=false"></script>
        <script type="text/javascript" src="{{ asset('bundles/sistemavisualizador/OpenLayers-2.12/lib/OpenLayers.js') }}"></script>
        <link href="{{ asset('bundles/mwsimpleadmincrud/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/mwsimpleadmincrud/css/bootstrap-checkbox.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/mwsimpleadmincrud/js/bootstrap-fileupload/bootstrap-fileupload.min.css') }}" rel="stylesheet" id="bootstrap-style">
        <link rel="stylesheet" href="{{ asset('bundles/mwsimpleadmincrud/select2/select2.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/mwsimpleadmincrud/css/bootstrapValidator.min.css') }}">
        <link href="{{ asset('bundles/mwsimpleadmincrud/datetime/css/bootstrap-datetimepicker.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/mwsimpleadmincrud/css/crud.css') }}" rel="stylesheet">
        <script src="{{ asset('bundles/mwsimpleadmincrud/js/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/mwsimpleadmincrud/js/bootstrap.min.js') }}"></script>
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script src="{{ asset('bundles/mwsimpleadmincrud/datetime/js/bootstrap-datetimepicker.js') }}"></script>
        <script src="{{ asset('bundles/mwsimpleadmincrud/datetime/js/locales/bootstrap-datetimepicker.es.js') }}"></script>
        <script src="{{ asset('bundles/mwsimpleadmincrud/select2/select2.min.js') }}"></script>

    {% block stylesheets %}{% endblock %}
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ asset('bundles/mwsimpleadmincrud/images/favicon.ico') }}">
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" style="padding: 0px;"><img src="{{ asset('bundles/sistemavisualizador/html/adc.png') }}" alt="" style="height: 50px"/></a>
            </div>
            <div class="navbar-collapse collapse">                
                <ul class="nav navbar-nav navbar-left">
                    {% if is_granted('ROLE_VISUALIZADOR') or is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
                    <li><a href="{{ path('mapavinculacion') }}">Visualizador</a></li>
                    {% endif %}                    
                    <li><a href="{{ path('selectproyect') }}">Proyectos</a></li>
                    <li><a href="{{ path('mapavinculacion') }}">Vinculaciones</a></li>
                    <li><a href="{{ path('consultavinculacion') }}">Consultar Vinculaciones</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if app.user %}
                        <a style="color: #0a0" class="pull-right" href="#"><span class="glyphicon glyphicon-check btn btn-lg"></span>Bienvenido: <h6 class="label label-success">{%if app.user.username is defined %}{{ app.user.username }} {%endif%}</h6></a>
                        <a style="color: #0a0" class="pull-right" href="{{path('logout')}}"><span class="glyphicon glyphicon-log-out btn btn-lg"></span>Salir</a>
                    {% else %}
                        <a style="color: #0a0" class="pull-right" href="{{path('login')}}"><span class="glyphicon glyphicon-log-in btn btn-lg"></span>Ingresar</a>
                    {% endif %}
                </ul>
            </div>

        </div>
    </div>
    <div class="container-fluid">
        {% for type, flashMessages in app.session.flashbag.all() %}
            {% for flashMessage in flashMessages %}
                <div class="alert alert-{{ type }}">
                    {{ flashMessage|trans({}, 'MWSimpleAdminCrudBundle') }}
                </div>
            {% endfor %}
        {% endfor %}
        <div class="col-md-7">
            <h2>Consultar Vinculaciones</h2>
            <div id="custom-search-input">                        
                <div class="input-group col-md-12">
                    <input id="buscar" accesskey="b" tabindex="6" type="text" class="form-control input-lg" title="Buscar" placeholder="Buscar" />
                    <span class="input-group-btn">
                        <button id="button1" tabindex="6" class="btn btn-info btn-lg" onclick="buscar();">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>                            
            </div> 
        </div>        
        <div class="row-fluid">
            <div class="col-lg-7">
                <div id="map"></div>
            </div>
            <div class="col-lg-5" style="max-height: 600px; overflow: scroll">

                <div class="panel panel-primary">
                    <div class="panel-heading"> 
                        <h3 class="panel-title">Datos</h3> 
                    </div> 
                    <div class="panel-body">
                        <ul id="resultado" class="list-group">
                        </ul>
                    </div>
                </div>
                <div id="formulario" class="panel-body">

                </div>
            </div>
        </div>
    </div>
    <script>
        {% if config.urlwfs != null%}
                                            var urlwfs = '{{config.urlwfs}}';                                         
                                        {% else %}
                                            var urlwfs = '/wfsAC';
                                        {% endif %}
        OpenLayers.ProxyHost = "/bundles/sistemavisualizador/heron/proxy2.php?url=";
        var navigationControl, queryControl;
        var map = new OpenLayers.Map({
            div: "map",
            maxExtent: new OpenLayers.Bounds(
                    -20037508, -20037508, 20037508, 20037508.34
                    )
        });
        var lon = -61;
        var lat = -26;
        var zoom = 7;
        var bounds = new OpenLayers.Bounds(
                5392957.0009, 6950316.17970754,
                5601169.65698419, 7131097.38242718
                );
        var physical = new OpenLayers.Layer.Google(
                "Google Physical",
                {type: google.maps.MapTypeId.TERRAIN}
        );
        var streets = new OpenLayers.Layer.Google(
                "Google Streets"
                );
        var hybrid = new OpenLayers.Layer.Google(
                "Google Hybrid",
                {type: google.maps.MapTypeId.HYBRID}
        );
        var satellite = new OpenLayers.Layer.Google(
                "Google Satellite",
                {type: google.maps.MapTypeId.SATELLITE}
        );

        {% for capa in capas %}    
            {{capa.titulo|replace(' ', '_')}} = new OpenLayers.Layer.WMS(
            {{ capa.capa|json_encode()|raw }},
            {{ capa.servidor.url|json_encode()|raw }},
            {layers: {{ capa.capa|json_encode()|raw }}, transparent: true, format: 'image/png'}, {isBaseLayer: false, visibility: false}            
            ),
        {% endfor %}

        map.addLayers([physical, streets, hybrid, satellite
            {% for capa in capas %}    
            , {{capa.titulo|replace(' ', '_')}}
            {% endfor %}
            ]);
        map.addControl(new OpenLayers.Control.LayerSwitcher());
        
        {% for capa in capas %}    
            {{capa.titulo|replace(' ', '_')}}.events.register("visibilitychanged", {{capa.titulo|replace(' ', '_')}}, layerChanged);
        {% endfor %}
            
        var center = new OpenLayers.LonLat(-58.68, -27.50).transform(
                new OpenLayers.Projection("EPSG:4326"),
                map.getProjectionObject()
                )
        map.setCenter(center, 10);

        
        select = new OpenLayers.Layer.Vector("Selection", {styleMap:
                    new OpenLayers.Style(OpenLayers.Feature.Vector.style["select"]), isBaseLayer: false, displayInLayerSwitcher: false
        });
        map.addLayers([select]);

        {% for capa in capas %}    
            control{{capa.titulo|replace(' ', '_')}} = new OpenLayers.Control.GetFeature({
            protocol: new OpenLayers.Protocol.WFS({url: urlwfs, featureType: "{{capa.capa}}", srsName: "EPSG:900913", geometryName: "geom"})
        });
            {% endfor %}
            
        {% for capa in capas %} 
        control{{capa.titulo|replace(' ', '_')}}.events.register("featureselected", this, function (e) {
            $.ajax({
                type: "POST",
                dataType: 'json',
                url: '{{ path('ajax_show') }}',
                data: {fid: e.feature.fid},
                async: false //you won't need that if nothing in your following code is dependend of the result
            })
                    .done(function (response) {
                        template = response;
                        $('#formulario').html(response.form_data); //Change the html of the div with the id = "your_div"                        
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        alert('Error : ' + errorThrown);
                    });
            resultado.innerHTML = "";
            $.ajax({
                type: "POST",
                url: '{{ path('buscarfid_json') }}',
                data: {search: e.feature.fid},
                success: function (data) {
                    if (data == 'null') {
                        alert("no se encontraron resultados");
                    } else {
                        obj = JSON.parse(data);
                        var geojson_format = new OpenLayers.Format.GeoJSON({ignoreExtraDims: true});
                        select.destroyFeatures();
                        select.addFeatures(geojson_format.read(obj[1]));
                        map.addLayer(select);                        
                    }
                }
            });

            jQuery.each(e.feature.data, function (i, val) {
                resultado.innerHTML += '<li class="list-group-item">' + i + ": " + val + '</li>'
            });

            $('#sistema_adminbundle_vinculacion_fid').val(e.feature.fid);
        });
        control{{capa.titulo|replace(' ', '_')}}.events.register("featureunselected", this, function (e) {
            select.removeFeatures([e.feature]);
        });
        control{{capa.titulo|replace(' ', '_')}}.events.register("hoverfeature", this, function (e) {
            hover.addFeatures([e.feature]);
        });
        control{{capa.titulo|replace(' ', '_')}}.events.register("outfeature", this, function (e) {
            hover.removeFeatures([e.feature]);
        });
        map.addControl(control{{capa.titulo|replace(' ', '_')}});

        {% endfor %}
        var myStyles = new OpenLayers.StyleMap({
            "default": new OpenLayers.Style({
                //pointRadius: 10, // sized according to type attribute
                fillColor: "red",
                strokeColor: "#ff9933",
                strokeWidth: 2,
                graphicZIndex: 1,
                fillOpacity: 0.35
            }),
            "select": new OpenLayers.Style({
                fillColor: "#66ccff",
                strokeColor: "#3399ff",
                graphicZIndex: 2
            })
        });
        var vector_layer = new OpenLayers.Layer.Vector("Points", {
            styleMap: myStyles,
            rendererOptions: {zIndexing: true},
            displayInLayerSwitcher: false
        });

        function showInfo(evt) {
            $('html,body').animate({
                scrollTop: $("#info").offset().top
            }, 2000);
            $("#info").focus();
            if (evt.features && evt.features.length) {
                highlightLayer.destroyFeatures();
                highlightLayer.addFeatures(evt.features);
                highlightLayer.redraw();
            } else {
                document.getElementById('responseText').innerHTML = evt.text;
                myObj = document.getElementsByClassName('panel-title');



            }
        }
        
        function layerChanged(layer) {        
        if (layer.object.visibility) {         
        {% for capa in capas %}            
            if (layer.object.name != {{capa.titulo|replace(' ', '_')}}.name){        
            {{capa.titulo|replace(' ', '_')}}.setVisibility(false);
            control{{capa.titulo|replace(' ', '_')}}.deactivate();
                } else {
                control{{capa.titulo|replace(' ', '_')}}.activate();
            }
        {% endfor %}        
        }
        }
        
        $('#buscar').keypress(function (e) {
            if (e.which == 13) { //Enter
                buscar();
                return false;
            }
        });

        function buscar() {
            var jsonactivas = "";
            var capasactivas = map.getLayersBy("visibility", true);
            for (i = 0; i < capasactivas.length; i++) { 
                                jsonactivas += capasactivas[i].name;
                                if ((i+1) < capasactivas.length){
                                    jsonactivas += ",";
                                }
                            }
            var search = $('#buscar').val();
            $.ajax({
                type: "POST",
                url: '{{ path('buscar_json') }}',
                data: {search: search, activas:jsonactivas},
                success: function (data) {
                    if (data == 'null') {
                        alert("no se encontraron resultados");
                    } else {
                        obj = JSON.parse(data);
                        var geojson_format = new OpenLayers.Format.GeoJSON({ignoreExtraDims: true});
                        vector_layer.destroyFeatures();
                        vector_layer.addFeatures(geojson_format.read(obj[1]));
                        map.addLayer(vector_layer);
                        var dataExtent = vector_layer.getDataExtent();
                        map.zoomToExtent(dataExtent);
                    }
                }
            });
        }
    </script>
</body>
</html>
