
{{ form_start(form) }}
<div class="well col-lg-12">
    <div class="form-group col-lg-12">
        <div>{{ form_row(form.fid) }}</div>                                             
    </div>                    
</div>                       
<div class="row"></div>                
{% include 'SistemaVisualizadorBundle:Vinculacion:form_fields_archivo.html.twig' with { 'form' : form } %}                
<br><br>              

{{ form_row(form.save) }}                      
{{ form_row(form._token) }}
<script src="{{ asset('bundles/sistemaadmin/js/addForm.js') }}"></script>
<script src="{{ asset('bundles/sistemaadmin/js/addArchivo.js') }}"></script>