{% macro prototipoArchivo(entity) %}
<div class='rowremove'>    
        <div class='form-group'>
            <div>{{ form_widget(entity.vinculacionFile) }}</div>                        
            <div><a class='btnRemoveArchivos btn btn-mini btn-danger' href='#'>
                <i class='glyphicon glyphicon-trash'></i>
            </a></div>
        </div>       
    
    <hr>
</div>
{% endmacro %}
<div class="row">
    <div class='col-lg-12'>
        <legend>Archivos</legend>
    </div>    
    <div class="col-lg-12">
        <table class="table table-striped table-bordered table-condensed table-responsive">
                    
    </table>
        <div data-prototype="{{ _self.prototipoArchivo(form.archivos.vars.prototype)|e }}" class="archivo col-lg-12">            
            <table class="table table-striped table-bordered table-condensed table-responsive">                    
                    <tbody>
                        {% for archivo in form.archivos %}
                {{ _self.prototipoArchivo(archivo) }}
            {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>
    <div class="col-lg-12">
            <div class="ribon_dom"><button type="button" class='add_archivo_link btn btn-info'><span class="glyphicon glyphicon-plus"></span>&nbsp;<span class="glyphicon glyphicon-compressed"></span></button></div>
        </div>    
</div>


