<html>
    <head>
        <link rel="icon" href="favicon.ico">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <title>Vinculacion</title>       
        <link href="{{ asset('bundles/mwsimpleadmincrud/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/mwsimpleadmincrud/css/bootstrap-checkbox.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/mwsimpleadmincrud/js/bootstrap-fileupload/bootstrap-fileupload.min.css') }}" rel="stylesheet" id="bootstrap-style">
        <link rel="stylesheet" href="{{ asset('bundles/mwsimpleadmincrud/select2/select2.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/mwsimpleadmincrud/css/bootstrapValidator.min.css') }}">
        <link href="{{ asset('bundles/mwsimpleadmincrud/datetime/css/bootstrap-datetimepicker.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/mwsimpleadmincrud/css/crud.css') }}" rel="stylesheet">
        <script src="{{ asset('bundles/mwsimpleadmincrud/js/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/mwsimpleadmincrud/js/bootstrap.min.js') }}"></script>
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script src="{{ asset('bundles/mwsimpleadmincrud/datetime/js/bootstrap-datetimepicker.js') }}"></script>
        <script src="{{ asset('bundles/mwsimpleadmincrud/datetime/js/locales/bootstrap-datetimepicker.es.js') }}"></script>
        <script src="{{ asset('bundles/mwsimpleadmincrud/select2/select2.min.js') }}"></script>

    {% block stylesheets %}{% endblock %}
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>                
            </div>          

        </div>
    </div>
    <div class="container-fluid">
        {% for type, flashMessages in app.session.flashbag.all() %}
            {% for flashMessage in flashMessages %}
                <div class="alert alert-{{ type }}">
                    {{ flashMessage|trans({}, 'MWSimpleAdminCrudBundle') }}
                </div>
            {% endfor %}
        {% endfor %}
        <div class="col-md-12">
            <h2>Vinculaciones</h2>            
        </div>        
        <div class="row-fluid">            
            

                
                <div id="formulario" class="panel-body">
                    
{{ form_start(form) }}                     
<div class="row"></div>                
{% include 'SistemaVisualizadorBundle:Vinculacion:form_fields_archivo.html.twig' with { 'form' : form } %}                
<br><br>              
<input type="hidden" name="vectores" value="{{ features }}">
{{ form_row(form.save) }}                      
{{ form_row(form._token) }}
{{ form_end(form) }}
<script src="{{ asset('bundles/sistemaadmin/js/addForm.js') }}"></script>
<script src="{{ asset('bundles/sistemaadmin/js/addArchivo.js') }}"></script>
                </div>            
        </div>
    </div>
</body>
</html>
