{% extends 'layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.index.list'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
{% endblock %}

{% block page %}

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Capas</h3>
        </div>
        <table class="table table-striped table-bordered table-condensed table-responsive">
            <thead>
                <tr>
                    <th>Nombre</th>                    
                    <th>Metadatos</th>
                    <th>Estado</th>
                    <th>Informe</th>
                    <th>{{ 'views.index.actions'|trans({}, 'MWSimpleAdminCrudBundle') }}</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>                    
                        <td>
                        {{ entity.nombre }}
                        </td>                        
                        <td>
                        {% if entity.metadato == null%}                        
                        <a class="glyphicon glyphicon-hand-right tooltips"  href="{{ path('admin_metadatos_nuevo', { 'idCapa': entity.id }) }}" title="" rel="tooltip" data-original-title="Cargar"> Cargar</a>
                        {% else %}
                        {{ entity.metadato }} | <a class="glyphicon glyphicon-hand-right tooltips"  href="{{ path('admin_metadatos_edit', { 'id': entity.metadato.id }) }}" title="" rel="tooltip" data-original-title="Editar"> Editar</a>    
                        {% endif %}
                        </td>
                        <td>
                            {% if entity.estado == "publicado" %} 
                            <div class="btn-success">{{ entity.estado }}</div>
                            {% elseif entity.estado == "rechazado" %}
                            <div class="btn-danger">{{ entity.estado }}</div>    
                            {% else %}    
                            <div class="btn-info">{{ entity.estado }}</div>
                            {% endif %}
                        </td>
                        <td>
                        {{ entity.informe }}
                        </td>
                    <td>
                        {% block actions2 %}
                            <a class="glyphicon glyphicon-search tooltips"  href="{{ path(config.show, { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.show'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}"></a>
                            <a class="glyphicon glyphicon-edit tooltips"  href="{{ path(config.edit, { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.edit'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}"></a>
                            
                        {% endblock %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>    
        <div class="col-lg-8">
            <a class="btn btn-primary likepaginator" href="{{ path(config.new) }}">
                Cargar Capa
            </a>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $('.tooltips').tooltip();
    </script>
{% endblock %}