{% extends 'layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.edit.edit'|trans({'%entity%': 'Role'}, 'MWSimpleAdminCrudBundle') }}
{% endblock %}

{% block page %}
    {% form_theme edit_form 'MWSimpleAdminCrudBundle:widget:fields.html.twig' %}

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="panel panel-primary center-block">
                <div class="panel-heading">
                    <i class="glyphicon glyphicon-pencil"></i> {{ 'Editar Permiso' }}
                </div>
                <div class="panel-body">
                    {% block form %}
                        {{ form(edit_form) }}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

        <div class="col-lg-9">
    <div class="float-left col-lg-3">
        <a class="btn btn-info col-lg-11" href="{{ path('role') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleAdminCrudBundle') }}
        </a>
    </div>
    <div class="float-left col-lg-3">{{ form(delete_form) }}</div>
</div>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('bundles/mwsimplecrudgenerator/js/widget.js') }}"></script>
{% endblock %}
