{% extends 'layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.show.show'|trans({'%entity%': 'Rol'}, 'MWSimpleAdminCrudBundle') }}
{% endblock %}

{% block page %}

<div class="panel panel-primary center-block">
<div class="panel-heading">
            <i class="glyphicon glyphicon-ok"></i> {{ 'Ver Rol' }}
        </div>
  <div class="panel-body">

    <form class="form-horizontal">
        <fieldset>
            <div class="form-group col-lg-5">
                    <label class="control-label">Id</label>
                    <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ entity.id }}</span>                    </div>
           </div>
           <div class="row"></div>
           <div class="form-group col-lg-5">
                    <label class="control-label">Nombre del Rol</label>
                    <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ entity.rolename }}</span>                    </div>
           </div>
        </fieldset>
    </form>
</div>
</div>

        <div class="col-lg-9">
    <div class="float-left col-lg-3">
        <a class="btn btn-info col-lg-11" href="{{ path('role') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleAdminCrudBundle') }}
        </a>
    </div>
    <div class="float-left col-lg-3">
        <a class="btn btn-primary col-lg-11" href="{{ path('role_edit', { 'id': entity.id }) }}">
            {{ 'views.recordactions.edit'|trans({}, 'MWSimpleAdminCrudBundle') }}
        </a>
    </div>
    <div class="float-left col-lg-3">{{ form(delete_form) }}</div>
</div>
{% endblock %}
