{% extends 'layout.html.twig' %}

{% block title %}

{% endblock %}

{% block page %}
<style>
        #fade {
            display: none;
            position:absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-color: #ababab;
            z-index: 1001;
            -moz-opacity: 0.8;
            opacity: .70;
            filter: alpha(opacity=80);
        }

        #modal, #error {
            display: none;
            position: absolute;
            top: 45%;
            left: 45%;
            width: 100px;
            height: 100px;
            padding:30px 15px 0px;
            border: 3px solid #ababab;
            box-shadow:1px 1px 10px #ababab;
            border-radius:20px;
            background-color: white;
            z-index: 1002;
            text-align:center;
            overflow: auto;
        }
    </style>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="panel panel-primary center-block">
            <div class="panel-heading">
                <i class="glyphicon glyphicon-pencil"></i> 
            </div>
            <div class="row">
            <div class="form-group col-lg-6">
  
  {{ form_widget(form) }}
  
</div>
                </div>
            <div class="panel-body">
                <div class="alert alert-info">        
                    <strong>Pinche y arrastre para configurar el arbol</strong>
                </div>
                {% for proyecto in proyectos %}
                    <div id="{{ proyecto.id }}"></div>
                {% endfor %}                
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2">

    </div>        
</div>
<div id="fade"></div>
    <div id="modal">
        <img id="loader" src="http://www.itgeared.com/demo/images/loading.gif" />
    </div>
    <div id="error">
        <p>Atributos de la capa inaccesibles</p>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}    
<script src="{{ asset('bundles/sistemaadmin/js/tree.jquery.js') }}"></script>
<script src="{{ asset('bundles/sistemaadmin/js/jquery.cookie.js') }}"></script>
<link rel="stylesheet" href="{{ asset('bundles/sistemaadmin/css/jqtree.css') }}">
<script>
        jQuery(document).ready(function() {                    
                    //getArbol($('#select2_proyecto').val());                                   
                    $('#select2_form_proyecto').change(function() {
                        {% for proyecto in proyectos %}
                        $("#"+{{ proyecto.id }}).hide();
                        {% endfor %}                         
                        getArbol($('#select2_form_proyecto').val());
                    });
                });

        function getArbol(proyecto) {
            openModal();
            $('#'+ proyecto).show();
            $.ajax({
                url: '{{ path('Config_autocomplete_arbol') }}',
                type: "POST",
                data: {"id": proyecto},
                success: function (datas) {                    
                    closeModal();
                    console.log(datas);
                    if (datas == "Arbol No Encontrado o No Disponible") {
                        alert("Arbol No Encontrado o No Disponible");
                    } else {                       
                        var obj=eval("("+datas+")");                        
            $(function() {
        $('#'+ proyecto).tree({
            //data: obj,
            dragAndDrop: true,
            saveState: true,
            saveState: 'my-tree',
        });
        
        $('#'+ proyecto).tree('loadData', obj);
        
        $('#'+ proyecto).bind(
                'tree.move',
                function(event)
                {
                    event.preventDefault();
                    // do the move first, and _then_ POST back.
                    event.move_info.do_move();
                    $.post('{{ path('admin_save_tree') }}', {tree: $(this).tree('toJson'), id: proyecto});
                }
        );
    });
                        
                        
                           
                        }
                    }                
            });

        }

        function openModal() {
            document.getElementById('modal').style.display = 'block';
            document.getElementById('fade').style.display = 'block';
        }

        function openError() {
            document.getElementById('error').style.display = 'block';
            document.getElementById('fade').style.display = 'block';
        }

        function closeModal() {
            document.getElementById('modal').style.display = 'none';
            document.getElementById('fade').style.display = 'none';
        }
    </script>
<script>
    


    </script>
{% endblock %}