{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - Editar Configuracion
{% endblock %}

{% block page %}
<style>
        #fade {
            display: none;
            position:absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-color: #ababab;
            z-index: 1001;
            -moz-opacity: 0.8;
            opacity: .70;
            filter: alpha(opacity=80);
        }

        #modal, #error {
            display: none;
            position: absolute;
            top: 45%;
            left: 45%;
            width: 100px;
            height: 100px;
            padding:30px 15px 0px;
            border: 3px solid #ababab;
            box-shadow:1px 1px 10px #ababab;
            border-radius:20px;
            background-color: white;
            z-index: 1002;
            text-align:center;
            overflow: auto;
        }
        
        div.vich-image > a > img {
            max-height: 80px;
        }
    </style>
    <link href="{{ asset('bundles/sistemaadmin/css/bootstrap-colorpicker.min.css') }}" rel="stylesheet">
    <script src="{{ asset('bundles/sistemaadmin/js/bootstrap-colorpicker.js') }}"></script>
    {% form_theme edit_form 'MWSimpleAdminCrudBundle:widget:fields.html.twig' %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="panel panel-primary center-block">
                <div class="panel-heading">
                    <i class="glyphicon glyphicon-plus"></i> Editar Configuraciones
                </div>
                <div class="panel-body">
                    {% block form %}
                        {{ form_start(edit_form) }}
                        {{ form_row(edit_form.zoom) }}                        
                        {{ form_row(edit_form.centergoogle) }}
                        {{ form_row(edit_form.titulo) }}
                        {{ form_row(edit_form.mail) }}
                        {{ form_row(edit_form.urlgeoserver) }}
                        {{ form_row(edit_form.urlwfs) }}                                                
                        <br>
                       <div class="panel panel-success">
                            <div class="panel-heading"><h3 class="panel-title">Configuración Geoserver</h3></div>
                            <div class="panel-body">
                        {{ form_row(edit_form.workspacegs) }}
                        {{ form_row(edit_form.datastoregs) }}
                        {{ form_row(edit_form.proyecciongs) }}
                        {{ form_row(edit_form.usergs) }}
                        {{ form_row(edit_form.passgs) }}
                            </div>
                        </div>
                        <div class="panel panel-success">
                            <div class="panel-heading"><h3 class="panel-title">Configuración PostgreSql</h3></div>
                            <div class="panel-body">
                        {{ form_row(edit_form.userpgsql) }}
                        {{ form_row(edit_form.passpgsql) }}
                        {{ form_row(edit_form.hostpgsql) }}
                        {{ form_row(edit_form.bdpgsql) }}
                        {{ form_row(edit_form.bdmetadatospgsql) }}
                            </div>
                        </div>                      
                        <div class="panel panel-success">
                            <div class="panel-heading"><h3 class="panel-title">Geonetwork</h3></div>
                            <div class="panel-body">
                        {{ form_row(edit_form.urlgeonetwork) }}                        
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading"><h3 class="panel-title">Vinculaciones</h3></div>
                            <div class="panel-body">
                        <ul id="vinculaciones-fields-list" data-prototype="{{ form_widget(edit_form.vinculaciones.vars.prototype)|e }}">
                        {% for vinculacionField in edit_form.vinculaciones %}
                            <li>
                                {{ form_errors(vinculacionField) }}
                                {{ form_widget(vinculacionField) }}
                            </li>
                        {% endfor %}
                        </ul>
                        <button href="#" type="button" id="add-another-vinculacion" class="btn btn-success" aria-label="Agregar Vinculacion">
                          <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar Vinculacion
                        </button>
                        </div>
                        </div>
                        <div class="panel panel-success">
                            <div class="panel-heading"><h3 class="panel-title">Colores de banner</h3></div>
                            <div class="panel-body">
                                <div class="example-content-widget">
                                    <label class="control-label">Banner Principal</label>
                                    <div id="cp3" class="input-group colorpicker-component colorpicker-element">                                        
                                        {{ form_widget(edit_form.colorbannerp) }}
                                        <span class="input-group-addon"><i style="background-color: rgb(65, 210, 224);"></i></span>
                                    </div>
                                    <label class="control-label">Banner Secundario</label>
                                    <div id="cp2" class="input-group colorpicker-component colorpicker-element">                                        
                                        {{ form_widget(edit_form.colorbanners) }}
                                        <span class="input-group-addon"><i style="background-color: rgb(65, 210, 224);"></i></span>
                                    </div>                                    
                                </div>
                            </div>
                        </div>  
                        {{ form_end(edit_form) }}                                              
      
        </div>
                        <script>
    $(function() {
        $('#cp2').colorpicker().on('changeColor', function(e) {
            $('#banner-secundario')[0].style.backgroundColor = e.color.toHex();
        }); 
        $('#cp3').colorpicker();
    });
</script>
                    {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2">
                <a class="form-control btn btn-info" href="{{ path(config.index) }}">
                {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleAdminCrudBundle') }}
                    </a>
                </div>
            </div>
            <div id="fade"></div>
    <div id="modal">
        <img id="loader" src="http://www.itgeared.com/demo/images/loading.gif" />
    </div>
    <div id="error">
        <p>Atributos de la capa inaccesibles</p>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/mwsimpleadmincrud/js/widget.js') }}"></script>
    <script type="text/javascript">
    // keep track of how many email fields have been rendered
    var vinculoCount = '{{ edit_form.vinculaciones|length }}';
    var vinculosList = jQuery('#vinculaciones-fields-list');
    jQuery(document).ready(function() {
        vinculosList.find('li').each(function() {
        addTagFormDeleteLink($(this));
    });
    
        jQuery('#add-another-vinculacion').click(function(e) {
            e.preventDefault();

            //var vinculosList = jQuery('#vinculaciones-fields-list');
            
            // grab the prototype template
            var newWidget = vinculosList.attr('data-prototype');
            // replace the "__name__" used in the id and name of the prototype
            // with a number that's unique to your emails
            // end name attribute looks like name="contact[emails][2]"
            newWidget = newWidget.replace(/__name__/g, vinculoCount);
            //vinculoCount++;

            // create a new list element and add it to the list
            var newLi = jQuery('<li></li>').html(newWidget);
            newLi.appendTo(vinculosList);
            var $removeFormA = $("<a class='btn btn-mini btn-danger' href='#'><i class='glyphicon glyphicon-trash'></i>Eliminar</a>");
            newLi.append($removeFormA);
            $removeFormA.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // remove the li for the tag form
        newLi.remove();
    });
            vinculoCount++;
        });
        //getAtributos($('#select2_sistema_adminbundle_proyecto_vinculaciones_0_capas').val());                                    
                    
    })
</script>
    <script>
        

        function openModal() {
            document.getElementById('modal').style.display = 'block';
            document.getElementById('fade').style.display = 'block';
        }

        function openError() {
            document.getElementById('error').style.display = 'block';
            document.getElementById('fade').style.display = 'block';
        }

        function closeModal() {
            document.getElementById('modal').style.display = 'none';
            document.getElementById('fade').style.display = 'none';
        }
        
        function addTagFormDeleteLink($tagFormLi) {
    var $removeFormA = $("<a class='btn btn-mini btn-danger' href='#'><i class='glyphicon glyphicon-trash'></i>Eliminar</a>");
    $tagFormLi.append($removeFormA);

    $removeFormA.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // remove the li for the tag form
        $tagFormLi.remove();
    });
}
    </script>
{% endblock %}