{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'views.new.creation'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
{% endblock %}

{% block page %}
    <style>
        #fade {
            display: none;
            position:absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-color: #ababab;
            z-index: 1001;
            -moz-opacity: 0.8;
            opacity: .70;
            filter: alpha(opacity=80);
        }

        #modal, #error {
            display: none;
            position: absolute;
            top: 45%;
            left: 45%;
            width: 100px;
            height: 100px;
            padding:30px 15px 0px;
            border: 3px solid #ababab;
            box-shadow:1px 1px 10px #ababab;
            border-radius:20px;
            background-color: white;
            z-index: 1002;
            text-align:center;
            overflow: auto;
        }
    </style>
    {% form_theme form 'MWSimpleAdminCrudBundle:widget:fields.html.twig' %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="panel panel-primary center-block">
                <div class="panel-heading">
                    <i class="glyphicon glyphicon-plus"></i> {{ 'views.new.creation'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
                </div>                   
                <div class="panel-body">
                    {% block form %}
                        {{ form(form) }}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2">
            <a class="form-control btn btn-info" href="{{ path(config.index) }}">
                {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleAdminCrudBundle') }}
            </a>
        </div>
    </div>
    <div id="fade"></div>
    <div id="modal">
        <img id="loader" src="http://www.itgeared.com/demo/images/loading.gif" />
    </div>
    <div id="error">
        <p>Atributos de la capa inaccesibles</p>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/mwsimpleadmincrud/js/widget.js') }}"></script>
    <script>
        jQuery(document).ready(function () {
            $('#select2_sistema_adminbundle_config_capa').change(function () {
                getAtributos($('#select2_sistema_adminbundle_config_capa').val());
            });
        });

        function getAtributos(capa) {
            openModal();
            document.getElementById('sistema_adminbundle_config_capa').options.length = 0;
            $.ajax({
                url: '{{ path('Capa_autocomplete_capas') }}',
                type: "POST",
                data: {"id": capa},
                success: function (data) {
                    closeModal();
                    if (data == "Servidor No Encontrado o No Disponible") {
                        alert("Servidor No Encontrado o No Disponible");
                    } else {
                        var json = JSON.parse(data);
                        var count = json.length;
                        console.log(count);
                        if (typeof count == 'undefined') {
                            $('#sistema_adminbundle_capa_capa')
                                    .append($("<option></option>")
                                            .attr("value", json.Name)
                                            .text(json.Name));
                        } else {
                            $.each(json, function (key, value) {
                                $('#sistema_adminbundle_capa_capa')
                                        .append($("<option></option>")
                                                .attr("value", value.Name)
                                                .text(value.Name));
                            });
                        }
                    }
                }
            });

        }

        function openModal() {
            document.getElementById('modal').style.display = 'block';
            document.getElementById('fade').style.display = 'block';
        }

        function openError() {
            document.getElementById('error').style.display = 'block';
            document.getElementById('fade').style.display = 'block';
        }

        function closeModal() {
            document.getElementById('modal').style.display = 'none';
            document.getElementById('fade').style.display = 'none';
        }
    </script>
{% endblock %}