{% block sistema_adminbundle_capas_widget %}
    {% form_theme form 'MWSimpleAdminCrudBundle:widget:fields.html.twig' %}

    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4"> 
            {{ form_row(form.titulo) }}
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4"> 
            {{ form_row(form.servidor) }}
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4"> 
            {{ form_row(form.capa) }}
        </div>    
    </div>
    <br>
    <div class="row">       
        <div class="col-lg-4 col-md-4 col-sm-4"> 
            {{ form_row(form.base) }}
        </div>        
         <div class="col-lg-4 col-md-4 col-sm-4"> 
            {{ form_row(form.activo) }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            {{ form_row(form.categoria) }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            {{ form_row(form.save) }}
            {{ form_row(form.saveAndAdd) }}
        </div>
    </div>
{% endblock %}