{% extends 'layout.html.twig' %}

{% block title %}
Auditoria
{% endblock %}

{% block page %}

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Capas en Espera</h3>
        </div>
        <table class="table table-striped table-bordered table-condensed table-responsive">
            <thead>
                <tr>
                    <th>Nombre</th>                 
                    <th>Metadatos</th>
                    <th>Estado</th>
                    <th>{{ 'views.index.actions'|trans({}, 'MWSimpleAdminCrudBundle') }}</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in capas %}
                <tr>                    
                        <td>
                        {{ entity.nombre }}
                        </td>                       
                        <td>
                        {% if entity.metadato == null%}
                            
                        <a class="glyphicon glyphicon-hand-right tooltips"  href="{{ path('admin_metadatos_nuevo', { 'idCapa': entity.id }) }}" title="" rel="tooltip" data-original-title="Validar"> Validar</a>
                        {% else %}
                        {{ entity.metadato }}    
                        {% endif %}
                        </td>
                        <td>
                            <div class="btn-info">{{ entity.estado }}</div>
                        </td>
                    
                    <td>
                        {% block actions2 %}
                        <form method="post" action="{{ path('admin_auditoria_auditar') }}">
                            <div class="form-row">
                                <select class="col-lg-6" id="epsg" name="epsg" >
                                    <option value="4326">EPSG:4326</option>
                                    <option value="22180">EPSG:22180</option>
                                    <option value="22181">EPSG:22181</option>
                                    <option value="22182">EPSG:22182</option>
                                    <option value="22183">EPSG:22183</option>
                                    <option value="22184">EPSG:22184</option>
                                    <option value="22185">EPSG:22185</option>
                                    <option value="22186">EPSG:22186</option>
                                </select>
                                <input type="hidden" name="idcapa" value={{entity.id}}>
                                <input class="btn-info" type="submit" name="submit" value="Validar">
                            </div>
                        </form>                           
                        {% endblock %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>      
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $('.tooltips').tooltip();
    </script>
{% endblock %}