{% block form_row %}
    <div class="form_row">
        <div class="form-group">
            {{ form_label(form) }}
            <div class="col-lg-3">
                {{ form_widget(form) }}
                <span class="label label-primary">Dejar en Blanco para mantener su contraseña </span>
            </div>
            {{ form_errors(form) }}
        </div>
    </div>
{% endblock %}