
<html>
<head>
    <title>Sigide | Google</title>
    <script type="text/javascript" src="http://ngs.woc.noaa.gov/storms/scripts/ext-cdn-771.js"></script>
    <link rel="stylesheet" type="text/css" href="http://projet.oss-online.org/geoaquifer/ext-2.2.1/resources/css/ext-all.css" />
    <link rel="stylesheet" type="text/css" href="http://projet.oss-online.org/geoaquifer/ext-2.2.1/examples/shared/examples.css" />
    <!-- Google Maps API for "localhost" -->
    <!--
    <script src='http://maps.google.com/maps?file=api&amp;key=ABQIAAAAjpkAC9ePGem0lIq5XcMiuhR_wWLPFku8Ix9i2SXYRVK3e45q1BQUd_beF8dtzKET_EteAjPdGDwqpQ'></script>
    <script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAY-I0w1WyNCVHbxpuwQWMpRTv_-xvSZ6KJmWSkQfCJoxbiB7tyBQ1ey_kgwA_p7sbTQSTOBeMyXtXkA"></script>
    -->
    <!-- 192.168.1.44 -->
    <!--
    <script src='http://maps.google.com/maps?file=api&amp;key=ABQIAAAAY-I0w1WyNCVHbxpuwQWMpRSIMweZSjbRtcUk2F5YNqLnri0MahTrQJRaRPWFP0OUB1b6unv37Jg7vQ'></script>
    <script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAY-I0w1WyNCVHbxpuwQWMpRSIMweZSjbRtcUk2F5YNqLnri0MahTrQJRaRPWFP0OUB1b6unv37Jg7vQ"></script>
    -->
    <!-- 10.27.10.44  -->
    <!--
    <script src='http://maps.google.com/maps?file=api&amp;key=ABQIAAAAY-I0w1WyNCVHbxpuwQWMpRQg15vMUgV9rqK5U3tGsPdx8x_OsBTeBHQ0wK75MLc8dB7yu0cRx36VJQ'></script>
    <script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAY-I0w1WyNCVHbxpuwQWMpRQg15vMUgV9rqK5U3tGsPdx8x_OsBTeBHQ0wK75MLc8dB7yu0cRx36VJQ"></script>
    -->

    <!-- Google Maps API for "dev.geoext.org" -->
    <!-- -->
    <script src='http://maps.google.com/maps?file=api&amp;key=AIzaSyDLAsjTXW-sq72t4afwLnwuyiXWd2N2xi4'></script>
    <script type="text/javascript" src="http://www.google.com/jsapi?key=AIzaSyDLAsjTXW-sq72t4afwLnwuyiXWd2N2xi4"></script>

    
    <script type="text/javascript" src="http://openlayers.org/api/2.8/OpenLayers.js"></script>
    <script type="text/javascript" src="http://dev.geoext.org/geoext/sandbox/cmoullet/trunk/geoext/lib/GeoExt.js"></script>

    <script type="text/javascript" src="http://dev.geoext.org/geoext/sandbox/cmoullet/ux/GoogleEarthPanel/ux/widgets/GoogleEarthPanel.js"></script>
    <script type="text/javascript" src="http://dev.geoext.org/geoext/sandbox/cmoullet/ux/GoogleEarthPanel/ux/control/GoogleEarthClick.js"></script>
    <script type="text/javascript">
        var mapPanel;

var GoogleEarthPanel;

var viewport;

var layer;

google.load("earth", "1");

Ext.onReady(function() {

    var options;
    var center = {% if config.centergoogle != null%}
                    '{{config.centergoogle}}'{% else %}
                    '{{config.centergoogle}}'{% endif %};

    options = {
        projection: new OpenLayers.Projection("EPSG:900913"),
        units: "m",
        numZoomLevels: 18,
        maxResolution: 156543.0339,
        maxExtent: new OpenLayers.Bounds(-20037508, -20037508,
                20037508, 20037508.34)
    };

    layer = new OpenLayers.Layer.Google(
            "Google Street", {sphericalMercator: true});

    var map = new OpenLayers.Map(options);

    var mouse = new OpenLayers.Control.MousePosition();

    map.addControl(mouse);
    mouse.activate();

    var toolbar = new Ext.Toolbar({
        items: [
            {
                xtype: 'tbfill'
            },
            {
                text: 'Google Earth',
                id: "googleToggle",
                enableToggle: true,
                pressed: true,
                handler: function() {
                    if (this.pressed) {
                        GoogleEarthPanel.add(googleEarthPanelItem);
                        GoogleEarthPanel.setSize('50%', 0);
                        GoogleEarthPanel.setVisible(true);
                        GoogleEarthPanel.doLayout();
                        viewport.doLayout();
                    } else {
                        GoogleEarthPanel.remove('googleEarthPanelItem');
                        GoogleEarthPanel.setWidth(0);
                        GoogleEarthPanel.setVisible(false);
                        GoogleEarthPanel.doLayout();
                        viewport.doLayout();
                    }
                }
            },            
        ]});

    var googleEarthPanelItem = {
        xtype: 'gxux_googleearthpanel',
        id: 'googleEarthPanelItem',
        map: map,
        networkLinkUrl: 'http://epfl-carto-plan2.demo-camptocamp.com/epfl/trunk/kml/BATI3D_EPFL.kmz',
        altitude: 50,
        heading: 91,
        tilt: 70,
        range: 96
    };

    viewport = new Ext.Viewport({
        layout: "border",
        id: 'mainViewport',
        items: [
            {
                region: "center",
                id: "mappanel",
                title: "Google Map",
                xtype: "gx_mappanel",
                map: map,
                layers: [layer],
                center: center,
                zoom: {{config.zoom}},
                split: true,
                tbar: toolbar
            },
            {
                region: "east",
                layout: 'fit',
                width: '50%',
                id: "googleearthpanel",
                title: 'Google Earth Panel',
                closeAction: 'hide',
                split: true
            },            
        ]
    });

    mapPanel = Ext.getCmp("mappanel");
    GoogleEarthPanel = Ext.getCmp("googleearthpanel");
    GoogleEarthPanel.add(googleEarthPanelItem);
    GoogleEarthPanel.doLayout();
    viewport.doLayout();
});
    </script>

</head>
<body>
</body>
</html