<h3>Hola {{ name }}, Hemos lanzado una nueva versión del Sistema de Gestión de IDE (SIGIDE)</h3>

<h4>Acceso: <a href="{{ url('home') }}">Sigide</a>.</h4>
<br>
<h4>Sus Credenciales:</h4>
<br>
<h4><u>Usuario:</u> <em>{{ usuario }}</em></h4>
<br>
<h4><u>Password:</u> <em>{{ password }}</em></h4>
<br>
<h4>Puede iniciar sesión en: <a href="{{ url('login') }}">Login</a>.</h4>
<br>
<h4>Recuerde que puede modificar su perfil y contraseña ingresando a <a href="{{ url('user_perfil_edit') }}">Editar Perfil</a> luego de iniciar sesión.</h4>
<br>
<img src="{{ absolute_url(asset('images/config/logo')) }}" style="background-color: #005588; height: 80px">
<img src="http://idechaco.gob.ar/images/ImgAccesoSuperior/SIGIDE-tapa2.png" style="height: 80px">