<h3>Recuperacion de contraseña</h3>

Hola, {{ name }}! has olvidado la contraseña de {{ titulo }}
<br>
<br>
Sus Nuevas Credenciales:
<br>
Usuario: {{ usuario }}
<br>
Password: {{ password }}
<br>
Para iniciar sesión, vaya a: <a href="{{ url('login') }}">Login</a>.
<br>
<br>
Gracias!

{# Makes an absolute URL to the /images/logo.png file #}
<img src="{{ absolute_url(asset('images/config/logo')) }}">
