<h3>Registro Exitoso!</h3>

Hola, {{ name }}! te damos la bienvenida a {{ titulo }}
<br>
<br>
Sus Credenciales:
<br>
Usuario: {{ usuario }}
<br>
Password: {{ password }}
<br>
Para iniciar sesión, vaya a: <a href="{{ url('login') }}">Login</a>.
<br>
<br>
Gracias!

{# Makes an absolute URL to the /images/logo.png file #}
<img src="{{ absolute_url(asset('images/config/logo')) }}">
