{% extends 'layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'Usuario' }}
{% endblock %}

{% block page %}
    {% form_theme form 'SistemaUserBundle:Form:form_fields_registro.html.twig' %}
    {#{% form_theme form.user_roles 'SistemaUserBundle:Theme:fields_many_checkbox.html.twig' %}#}
     <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-lg-offset-3">
            <div class="panel panel-primary center-block">
                <div class="panel-heading">
                    <i class="glyphicon glyphicon-user"></i> {{ 'Registro' }}
                </div>                   
                <div class="panel-body">
                    {% block form %}
                        {{ form(form) }}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
        
{% endblock %}

{% block javascript %}
    <script src="{{ asset('bundles/mwsimplecrudgenerator/js/widget.js') }}"></script>
{% endblock %}
