{% set capas=0 %}
{% set reglas=0 %}
{% set usuarios=0 %}
{% set configuracion=0 %}
{% for menu in menues %}
    {% set break = false %}
    {% if menu.titulo == "Capas" or menu.titulo == "Proveedores" or menu.titulo == "Servidores" %}
        {% set break = true %}
        {% if capas == 0 %}
        {% set capas=1 %}        
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Capas <span class="caret"></span></a>
            <ul class="dropdown-menu">
                {% for menu in menues %}
                {% if menu.titulo == "Capas" %}
                <li><a href="{{ path(menu.ruta) }}">{{ menu.titulo }}</a></li>
                {% endif %}
                {% if menu.titulo == "Proveedores" %}
                <li><a href="{{ path(menu.ruta) }}">{{ menu.titulo }}</a></li>
                {% endif %}
                {% if menu.titulo == "Servidores" %}
                <li><a href="{{ path(menu.ruta) }}">{{ menu.titulo }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </li>
        {% endif %}
        {% endif %}
    {% if menu.titulo == "Reglas/Permisos" or menu.titulo == "Reglas/Proyectos" %}        
        {% set break = true %}
        {% if reglas == 0 %}
        {% set reglas=1 %} 
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reglas <span class="caret"></span></a>
            <ul class="dropdown-menu">                
                {% for menu in menues %}
                {% if menu.titulo == "Reglas/Permisos" %}
                {% set reglas=reglas + 1 %}
                <li><a href="{{ path(menu.ruta) }}">{{ menu.titulo }}</a></li>
                {% endif %}
                {% if menu.titulo == "Reglas/Proyectos" %}
                {% set reglas=reglas + 1 %}
                <li><a href="{{ path(menu.ruta) }}">{{ menu.titulo }}</a></li>
                {% endif %}                
                {% endfor %}
                
            </ul>
        </li>
        {% endif %}
        {% endif %}    
    {% if menu.titulo == "Usuarios" or menu.titulo == "Permisos" %}
        {% set break = true %}
        {% if usuarios == 0 %}
        {% set usuarios=1 %}        
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Usuarios <span class="caret"></span></a>
            <ul class="dropdown-menu">
                {% for menu in menues %}
                {% if menu.titulo == "Usuarios" %}
                <li><a href="{{ path(menu.ruta) }}">{{ menu.titulo }}</a></li>
                {% endif %}
                {% if menu.titulo == "Permisos" %}
                <li><a href="{{ path(menu.ruta) }}">{{ menu.titulo }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </li>
    {% endif %}
    {% endif %}    
    {% if menu.titulo == "Configuración" or menu.titulo == "Arbol" %}
        {% set break = true %}
        {% if configuracion == 0 %}
        {% set configuracion=1 %}        
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Configuración <span class="caret"></span></a>
            <ul class="dropdown-menu">
                {% for menu in menues %}
                {% if menu.titulo == "Configuración" %}
                <li><a href="{{ path(menu.ruta) }}">{{ menu.titulo }}</a></li>
                {% endif %}
                {% if menu.titulo == "Arbol" %}
                <li><a href="{{ path(menu.ruta) }}">{{ menu.titulo }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </li>
    {% endif %}
    {% endif %}
    {% if break == false %}
    <li><a href="{{ path(menu.ruta) }}">{{ menu.titulo }}</a></li>
    {% endif %}
    
{% endfor %}