<script>
    OpenLayers.ProxyHost = "{{ asset('bundles/sistemavisualizador/heron/proxy2.php') }}" + "?url=";
            Ext.BLANK_IMAGE_URL = 'http://cdnjs.cloudflare.com/ajax/libs/extjs/3.4.1-1/resources/images/default/s.gif';
// pink tile avoidance
            OpenLayers.IMAGE_RELOAD_ATTEMPTS = 1;
            OpenLayers.Util.onImageLoadErrorColor = "transparent";
// make OL compute scale according to WMS spec
            OpenLayers.DOTS_PER_INCH = 25.4 / 0.28;
            /*
             * Common settings for MapPanel
             * These will be assigned as "hropts" within the MapPanel config
             */
            Ext.namespace("Heron.options.map");
            Heron.options.map.settings = {
            projection: "EPSG:3857",
//displayProjection: new OpenLayers.Projection("EPSG:4326"),         
                    units: 'm',
                    maxExtent: "-8035508.0601489,-7517522.8111938,-5858703.9398511,-2208187.1888062",
                    minResolution: 0.1, 
                    maxResolution: 10000, 
                    xy_precision: 5,{% if config.centergoogle != null%}
                    center: '{{config.centergoogle}}',{% else %}
                    center: '{{config.centergoogle}}',{% endif %}{% if config.zoom != null%}
                    zoom: '{{config.zoom}}',{% else %}
                    zoom:{{config.zoom}},
    {% endif %}
                    displayProjection: new OpenLayers.Projection("EPSG:4326"),
                    numZoomLevels: 30, //Para coincidir con los niveles de capas de Google
                    zoomDuration: 10, //To match Google’s zoom animation better with OpenLayers animated zooming
                    theme: null,
                    permalinks: {
                    /** The prefix to be used for parameters, e.g. map_x, default is 'map' */
                    paramPrefix: 'map',
                            /** Encodes values of permalink parameters ? default false*/
                            encodeType: false,
                            /** Use Layer names i.s.o. OpenLayers-generated Layer Id's in Permalinks */
                            prettyLayerNames: true
                            }
            }; 
                                            </script>