<script>
var stylemap = new OpenLayers.StyleMap({"default": new OpenLayers.Style({fillColor: "#07f",
                fillOpacity: 0.8, strokeColor: "#037", strokeWidth: 2, graphicZIndex: 1, pointRadius: 5}), defaultLabel: new OpenLayers.Style({fillColor: "#07f", fillOpacity: 0.8, strokeColor: "#037", strokeWidth: 2, graphicZIndex: 11, pointRadius: 0, cursor: "default", label: "${label}", fontColor: "#000000", fontSize: "11px", fontFamily: "Verdana, Arial, Helvetica, sans-serif", fontWeight: "bold", labelOutlineColor: "#FFFFFF", labelOutlineWidth: 4, labelSelect: !0}), select: new OpenLayers.Style({fillColor: "#fc0", strokeColor: "#f70", graphicZIndex: 2}), selectLabel: new OpenLayers.Style({pointRadius: 5,
                label: "${label}", fontColor: "black", fontSize: "11px", fontFamily: "Verdana, Arial, Helvetica, sans-serif", fontWeight: "bold", labelAlign: "cm", labelXOffset: "${xOffset}", labelYOffset: "${yOffset}", fillColor: "#fc0", strokeColor: "#f70", labelOutlineColor: "#fc0", labelOutlineWidth: 6, graphicZIndex: 2}), temporary: new OpenLayers.Style({fillColor: "#fc0", fillOpacity: 0.8, strokeColor: "#f70", strokeWidth: 2, graphicZIndex: 2, pointRadius: 5})});
// TODO see how we can set/override Map OpenLayers Controls
//Heron.options.map.controls = [new OpenLayers.Control.ZoomBox(),
//			new OpenLayers.Control.ScaleLine({geodesic: true, maxWidth: 200})];
Ext.namespace("Heron.options.wfs");
    Heron.options.wfs.downloadFormats = [
        {
            name: 'CSV',
            outputFormat: 'csv',
            fileExt: '.csv'
        },
    ];
    Heron.options.map.layers = [
        {% if proveedordefault.activo == true %}
        {% if proveedordefault.tipo == "Google" %}
            new OpenLayers.Layer.Google(
                "{{proveedordefault.nombre}}", // the default
                {type: google.maps.MapTypeId.{{proveedordefault.mapid}}, numZoomLevels: 19,
                MAX_ZOOM_LEVEL: 19, {% if proveedordefault.defaultmap == "1" %}visibility: true{% else %}visibility: false{% endif %}, sphericalMercator: true, projection: "EPSG:900913"},
                {singleTile: false, buffer: 0, isBaseLayer: true}
            ),
        {% elseif proveedordefault.tipo == "Bing" %}
            new OpenLayers.Layer.Bing({
                name: "{{proveedordefault.nombre}}",
                key: apiKey,
                type: "{{proveedordefault.mapid}}",
        {% if proveedordefault.defaultmap == "1" %}visibility: true{% else %}visibility: false{% endif %}
        }),{% elseif proveedordefault.tipo == "OSM" %}
new OpenLayers.Layer.OSM("osm"),{% endif %}{% endif %}            {% for proveedor in proveedores %}
{% if proveedor.activo == true %}
{% if proveedor.tipo == "Google" %}
new OpenLayers.Layer.Google(
"{{proveedor.nombre}}", // the default
{type: google.maps.MapTypeId.{{proveedor.mapid}}, numZoomLevels: 19,
MAX_ZOOM_LEVEL: 19, {% if proveedor.defaultmap == "1" %}visibility: true{% else %}visibility: false{% endif %}, sphericalMercator: true, projection: "EPSG:900913"},
{singleTile: false, buffer: 0, isBaseLayer: true}
),{% elseif proveedor.tipo == "Bing" %}
new OpenLayers.Layer.Bing({
name: "{{proveedor.nombre}}",
key: apiKey,
type: "{{proveedor.mapid}}",
{% if proveedor.defaultmap == "1" %}visibility: true{% else %}visibility: false{% endif %}
}),{% elseif proveedor.tipo == "OSM" %}
new OpenLayers.Layer.OSM("osm"),{% endif %}{% endif %}                        {% endfor %}

new OpenLayers.Layer.Image(
"None",
Ext.BLANK_IMAGE_URL,
OpenLayers.Bounds.fromString(Heron.options.map.settings.maxExtent),
new OpenLayers.Size(10, 10),
{resolutions: Heron.options.map.settings.resolutions, isBaseLayer: true, visibility: false, displayInLayerSwitcher: true, transitionEffect: 'resize'}
),
/*
* ==================================
*            Overlays
* ==================================
*/
{% for capa in capas %}
new OpenLayers.Layer.WMS(
{{ capa.titulo|json_encode()|raw }},
{{ capa.servidor.url|json_encode()|raw }},
{layers:{{ capa.capa|json_encode()|raw }}, transparent: true, format: 'image/png'},
{% if capa.base == true %}
{singleTile: false, isBaseLayer: true, noLegend: true}),
{% else %}
{projection: new OpenLayers.Projection("EPSG:900913"), singleTile: false, opacity: 0.8, {% if capa.inicio == true %}
    visibility: true,
{% else %}
    visibility: false,
{% endif %}isBaseLayer: false, noLegend: false, featureInfoFormat: 'application/vnd.ogc.gml', transitionEffect: 'resize', metadata: {
wfs: {
protocol: 'fromWMSLayer',
downloadFormats: Heron.options.wfs.downloadFormats
}
}}
),                                {% endif %}
{% endfor %}
{% if mapasProyectos != null %}
{% for capa in mapasProyectos.usuario %}
{% set extension = capa.filename|split('.') %}
new OpenLayers.Layer.Vector('{{ capa.nombre }}', {    
    strategies: [new OpenLayers.Strategy.BBOX()],
    styleMap: stylemap,
    protocol: new OpenLayers.Protocol.HTTP({
        url: '{{ asset('files/mapas/'~ capa.fileName) }}',
        {% if extension.1 == "gpx" %}
        format: new OpenLayers.Format.GPX()
        {% elseif extension.1 == "kml" %}
        format: new OpenLayers.Format.KML()
        {% else %}
        format: new OpenLayers.Format.GeoJSON()
        {% endif %}
    }),   
    projection: new OpenLayers.Projection("EPSG:4326"),
    visibility: false
}),
{% endfor %}
{% for capa in mapasProyectos.grupo %}
{% set extension = capa.filename|split('.') %}
new OpenLayers.Layer.Vector('{{ capa.nombre }}', {    
    strategies: [new OpenLayers.Strategy.BBOX()],
    styleMap: stylemap,
    protocol: new OpenLayers.Protocol.HTTP({
        url: '{{ asset('files/mapas/'~ capa.fileName) }}',
        {% if extension.1 == "gpx" %}
        format: new OpenLayers.Format.GPX()
        {% elseif extension.1 == "kml" %}
        format: new OpenLayers.Format.KML()
        {% else %}
        format: new OpenLayers.Format.GeoJSON()
        {% endif %}
    }),
//    style: {fillColor: '#382', strokeColor: 'yellow', strokeWidth: 3, strokeOpacity: 0.8},
    projection: new OpenLayers.Projection("EPSG:4326"),
    visibility: false
}),
{% endfor %}
{% endif %}
];
{% for key, value in arboles %}
var treeTheme{{ key }} = [
{
text: 'Capas Base', expanded: true, children: [
{% if bases != '' %}
{{ bases|raw }},{% endif %}{% for proveedor in proveedores %}{% if proveedor.activo == true %}
{nodeType: "gx_layer", layer: "{{proveedor.nombre}}", text: '{{proveedor.nombre}}', {% if proveedor.defaultmap == "1" %}checked: true{% else %}checked: false{% endif %}},{% endif %}                                            {% endfor %}
{nodeType: "gx_layer", layer: "None", text: 'Sin Capa Base' },
]
},{{ value|raw }}
];
// Replace default layer browser DefaultConfig.js
// Pass our theme tree config as an option
Ext.namespace("Heron.options.layertree{{ key }}");
Heron.options.layertree{{ key }}.tree = treeTheme{{ key }};
{% endfor %}
{% if mapasProyectos != null%}
var treeThemeProyecto = [
{
text: 'Capas Base', expanded: true, children: [
{% if bases != '' %}
{{ bases|raw }},{% endif %}{% for proveedor in proveedores %}{% if proveedor.activo == true %}
{nodeType: "gx_layer", layer: "{{proveedor.nombre}}", text: '{{proveedor.nombre}}', {% if proveedor.defaultmap == "1" %}checked: true{% else %}checked: false{% endif %}},{% endif %}                                            {% endfor %}
{nodeType: "gx_layer", layer: "None", text: 'Sin Capa Base' },
]
},
{% if mapasProyectos.usuario != null %}
{
text: 'Mis Proyectos', expanded: true, children: [
{% for capa in mapasProyectos.usuario %}
    {nodeType: "gx_layer", layer: "{{ capa.nombre }}", text: '{{ capa.nombre }}' },
{% endfor %}
]
},
{% endif %}
{% if mapasProyectos.grupo != null %}
{
text: 'Proyectos de Grupos', expanded: true, children: [
{% for capa in mapasProyectos.grupo %}
    {nodeType: "gx_layer", layer: "{{ capa.nombre }}", text: '{{ capa.nombre }}' },
{% endfor %}
]
},
{% endif %}
];
// Replace default layer browser DefaultConfig.js
// Pass our theme tree config as an option
Ext.namespace("Heron.options.layertreeProyecto");
Heron.options.layertreeProyecto.tree = treeThemeProyecto;
{% endif %}
</script>