<script>
/*
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

Ext.namespace("Heron");
Ext.namespace("Heron.geoportal");
Ext.namespace("Heron.options");
{% for pestania in pestanias %}
Ext.namespace("Heron.options.layertree{{ pestania.nombre }}");
{% endfor %}
{% if mapasProyectos != null%}
Ext.namespace("Heron.options.layertreeProyecto");
{% endif %}

csformForm = new Ext.FormPanel({
    baseCls: 'x-plain',
    labelWidth: 80,
    url: '',
    defaultType: 'textfield',
    title: '<b>Buscar Capas:</b>',
    bodyStyle: 'padding:10px 0 0 15px',
    items: [{
        fieldLabel: 'Buscar Capa',
        id: 'txtBuscarCapa',
        allowBlank: false
    }],
    buttons: [{
        text: 'Buscar',
        formBind: true, //only enabled once the form is valid
        handler: function() {
            var texto=Ext.getCmp('txtBuscarCapa').getValue();            
            //var allCapas=Ext.getCmp('mymap').layers;
            allCapas=$("#capasEncontradas li ul li a span");
            findCapaByName(texto,allCapas);
            Ext.getCmp('capasEncontradas').doLayout();
        }
    }],
});

function findCapaByName(texto, dataItems) {
        var res = texto.split(" ");
        //texto = texto.replace(/\s/g, "_");
        var texto = validarString(texto);
        var nodo = [];
        var contador = 0;
        for (var i in dataItems) {
            if (typeof dataItems[i].parentNode !== "undefined" && dataItems[i].parentNode !== null) {
                if (texto !== "") {
                    nodoTexto = validarString(dataItems[i].innerHTML);
                    if (nodoTexto.indexOf(texto) >= 0) {
                        dataItems[i].parentNode.parentNode.parentNode.style.display = 'block';
                    } else {
                        dataItems[i].parentNode.parentNode.parentNode.style.display = 'none';
                    }
                } else {
                    dataItems[i].parentNode.parentNode.parentNode.style.display = 'block';
                }
            }
        }        
    }
    function validarString(texto) {
        texto = texto.replace(/[_{};:.,-]|\(|\)/g, " ");
        return texto.toLowerCase();
    }    

/**
 * Describes the menu layout and links to content items.
 * This config object is included in the Layout config below.
 *
 */
Heron.geoportal.menuItems = [
	{
		id: 'hr-menu-bar',
		xtype: 'toolbar',
		floating: false,
		items:[                        			
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN_ALGO') or is_granted('ROLE_AUDITOR')%}
                                        
                                '<a class="button icon user" style="align: right; margin-left:20px; color=#005588">Bienvenido '+ '{{ user }}' +'</a>',
                        {
				xtype: 'tbbutton',
				text: 'Administracion',
                                icon: 'http://mdi.niedersachsen.de/images/maptheme/map.png',
				handler: function (item) { window.location.href = '{{ path('mw_simple_admin_crud') }}';  }
			},                        
                        {
				xtype: 'tbbutton',
				text: 'Cerrar Sesion',
                                icon: 'https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRx_drSMQvjeZ-lt2xW2QjYxpAqT2T0RPSVIZJN8rMGtnobV4tyCnt3oA',
				handler: function (item) { window.location.href = '{{ path("logout") }}';  }
			},
                        {% elseif is_granted('ROLE_USER') %}			
                        '<a class="button icon user" href="{{ path('user_perfil_edit') }}" style="align: right; margin-left:20px; color=#005588">Bienvenido '+ '{{ user }}' +'</a>',
                        {
				xtype: 'tbbutton',
				text: 'Cerrar Sesion',
                                icon: 'https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRx_drSMQvjeZ-lt2xW2QjYxpAqT2T0RPSVIZJN8rMGtnobV4tyCnt3oA',
				handler: function (item) { window.location.href = '{{ path("logout") }}';  }
			},
                        {
				xtype: 'tbspacer',
                                width: 20
			},
                        {
				xtype: 'tbbutton',
				text: 'Proyectos',
                                icon: 'http://mdi.niedersachsen.de/images/newspaper_add.png',
				handler: function (item) { window.location.href = '{{ path("admin_mapa") }}';  }
			},
                        {
				xtype: 'tbspacer',
                                width: 20
			},
                        {
				xtype: 'tbbutton',
				text: 'Capas',
                                icon: 'http://mdi.niedersachsen.de/images/maptheme/map.png',
				handler: function (item) { window.location.href = '{{ path("admin_usuariocapa") }}';  }
			},
                            {% if mapa %}
                        {
				xtype: 'tbbutton',
				text: 'Cerrar Proyecto',
                                icon: 'http://mdi.niedersachsen.de/images/maptheme/map.png',
				handler: function (item) { window.location.href = '{{ path("cerrar_proyecto") }}';  }
			},
                            {% endif %}
                        {% else%}
                            '<h1 style="margin-left:300px; font-size: 130%">Acceso al Sistema de Gesti&oacute;n de IDE:</h1>',
                            {
				xtype: 'tbbutton',
				text: 'Iniciar Sesión',
                                icon: 'https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRx_drSMQvjeZ-lt2xW2QjYxpAqT2T0RPSVIZJN8rMGtnobV4tyCnt3oA',
				handler: function (item) { window.location.href = '{{ path("login") }}';  }
			},
                        {
				xtype: 'tbbutton',
				text: 'Registrarme',
                                icon: 'http://www.fancyicons.com/download/?id=2762&t=png&s=16',
				handler: function (item) { window.location.href = '{{ path('user_register') }}';  }
			},        
                        {% endif %}
                        
			{
				xtype: 'tbspacer'
			},			
		]
	}
];

/**
 * Defines the entire layout of a Heron webapp using ExtJS-style.
 *
 * The layout specifies a hierarchy of ExtJS (Panel) components.
 * Each component is either a container of components (xtype: 'panel', i.e. an ExtJS Panel)
 * or a specific leaf component like a map panel (xtype: 'hr_mappanel') or simple HTML
 * panel (xtype: 'hr_htmlpanel'). Each component has a 'xtype' string and component-specific options.
 * The 'xtype' defines the component widget class .
 * For a container-type (xtype: 'panel') the options should include a 'layout' (like 'border' or 'card',
 * and an array of 'items' with each element being a component (another container or a leaf widget component).
 *
 * In order to distinguish ExtJS-specific config options from those that are Heron-specific,
 * the later are prefixed with "hr". These are defined outside this file to allow quick custimization.
 *
 * Specific config options for ExtJS components can be found in the API docs:
 * http://docs.sencha.com/ext-js/3-4/#!/api
 *
 * This is the core config, mainly the layout of a Heron browser application for all examples.
 * Many of the options refer to Javascript variables that are defined within
 * the DefaultOptions*.js. In particular Layers and specific widgets. This has been done
 * to create a reusable config for all examples. Each example may also add a 3rd refinement
 * using a local Config.js file. The names of the config files and variables like Heron.options.bookmarks
 * don't matter. They are just a convenience as to break up a large configuration into
 * the more stable common parts and the more variable parts. As it is all JSON/JavaScript, we
 * can use variables, in our case namespaced, like "Heron.options.bookmarks" as to avoid conflicts in
 * the global JS namespace. (If we would have XML configs we would have to resort to xlinks).
 *
 **/
Heron.layout = {
    xtype: 'panel',
    /* Optional ExtJS Panel properties here, like "border", see ExtJS API docs. */
    id: 'hr-container-main',
    layout: 'border',
    border: false,
    /** Any classes in "items" and nested items are automatically instantiated (via "xtype") and added by ExtJS. */
    items: [
        {
			/** North container: fixed banner plus Menu. */
			xtype: 'panel',
			id: 'hr-container-north',
			region: 'north',
			layout: 'border',
			width: '100%',
			height: 90,
			bodyBorder: false,
			border: false,
			items :  [
				{
					xtype: 'hr_htmlpanel',
					id: 'hr-logo-panel',
					region: 'center',
					bodyBorder: false,
					border: false,
                                        html: '<div class="bannerprincipal hr-html-panel-body" style="height: 50px; border-width: 1px; border-style: solid; border-color: lightgray; "><img class="bannerprincipal" src="{{ asset('images/config/logo') }}" style="height: 50px; padding-left: 20px;" alt="halo" /><div style="left: 800px" class="results" id="viewer_north_text"></div></div>',
					height: 55

				},
                                {
					xtype: 'hr_menupanel',
					id: 'hr-menu-panel',
					region: 'south',
					bodyBorder: false,
					border: false,
					height:30,
					/** Menu options, see widgets/MenuPanel */					
					/** See above for the items. */
					items: Heron.geoportal.menuItems
				}
			]
		},{
            xtype: 'panel',
            id: 'hr-menu-left-container',
            layout: 'accordion',
            region: "west",
            width: 300,
            collapsible: true,
            border: false,
            items: [
                {
                    xtype: 'hr_gxplayerpanel',
                    id: 'gxplayerpanel',
                    border: true,
                    autoScroll: true,
                    title: 'Capas',
//                    header: false,
//                    width: 240,
                    tbar: [], // we will add buttons to "gxplayerpanel.bbar" later
                    // configuration of all tool plugins for this application, see GXP docs
                    tools: [
                        {
                            ptype: "gxp_addlayers",
                            actionTarget: "gxplayerpanel.tbar",
//                            addActionText: __('Add layers'),
                            templatedLayerGrid: true,
                            layerGridWidth: 440,
                            layerGridHeight: 600,
                            layerPreviewWidth: 40,
                            layerPreviewHeight: 40,
                            // Zooms to the extent of the layer after adding it to the map.  Default is true.
                            zoomToLayer: true,
                            owsPreviewStrategies: ['attributionlogo', 'getlegendgraphic', 'randomcolor'],

                            // Catalog panel settings
                            searchText: "Buscar via csw",
                            catalogPanelWidth: 440,

                            defaultSrs: 'EPSG:4326',
                            search: {selectedSource: "nationaalgeoregister_csw"}
                        },                        
                    ],

                    // layer sources
                    defaultSourceType: "gxp_wmssource",
                    sources: {               
                        nationaalgeoregister_csw: {
                            ptype: "gxp_cataloguesource",
                            url: "{{config.urlgeonetwork}}"+"/srv/es/csw",
                            fullMetadataUrlTpl: "{{config.urlgeonetwork}}"+"/?uuid={id}",
                            title: "{{config.titulo}}"+" CSW"
                        },
                        idechaco_wms: {
                            url: "{{config.urlgeoserver}}"+"/wms?",
                            version: "1.1.1",
                            title: "{{config.titulo}}"+" WMS"
                        },
                    },
                    items: [
                        {                    
                    xtype: 'tabpanel',
                    activeTab: 0,
                    frame: true,
                    id: 'hr-geo-left-container1',
                    region: "west",
                    width: 280,
                    collapsible: false,
                    split: true,
                    border: false,
                    autoScroll: true,
                    items: [
                        {                    
                            xtype: 'tabpanel',
                            title: 'Categorias',
                            activeTab: 0,
                            frame: true,
                            id: 'hr-geo-left-container2',
                            region: "west",
                            width: 280,
                            height: 1200,
                            collapsible: false,
                            split: true,
                            border: false,
                            autoScroll: true,
                            enableTabScroll: true,
                            items: [
                                {% for pestania in pestanias %}
                                {
                                xtype: 'hr_layertreepanel',
                                border: false,
                                id: '{{ pestania.nombre }}',
                                layerIcons: 'bylayertype',
                                title: '{{ pestania.nombre }}',
                                enableDD: true,
                                autoScroll: true,
                                contextMenu: [
                                    {
                                        xtype: 'hr_layernodemenuzoomextent'
                                    },
                                    {
                                        xtype: 'hr_layernodemenuopacityslider'
                                    },
                                    {
                                        xtype: 'hr_layernodemenumetadatos'
                                    },
                                    {
                                        xtype: 'hr_layernodemenustyle'
                                    },
                                ],
                                hropts: Heron.options.layertree{{ pestania.nombre }}
                                },
                                {% endfor %}
                                {% if mapasProyectos != null%}
                                {
                                xtype: 'hr_layertreepanel',
                                border: false,
                                id: 'Proyectos',
                                layerIcons: 'bylayertype',
                                title: 'Proyectos',
                                enableDD: true,
                                autoScroll: true,
                                contextMenu: [
                                    {
                                        xtype: 'hr_layernodemenuzoomextent'
                                    },
                                    {
                                        xtype: 'hr_layernodemenuopacityslider'
                                    },
                                    {
                                        xtype: 'hr_layernodemenustyle'
                                    }
                                ],
                                hropts: Heron.options.layertreeProyecto
                                },
                                {% endif %}                                
                            ]
                        },
                        {
                            xtype: 'hr_activelayerspanel',
                            height: 240,
                            flex: 3,
                            contextMenu: [
                                {
                                    xtype: 'hr_layernodemenulayerinfo'
                                },
                                {
                                    xtype: 'hr_layernodemenuzoomextent'
                                },
                                {
                                    xtype: 'hr_layernodemenuopacityslider'
                                },
                                {
                                    xtype: 'hr_layernodemenumetadatos'
                                }        
                            ],
                            hropts: {
                                component: {
                                    xtype: "gx_opacityslider",
                                    showTitle: false,
                                    plugins: new GeoExt.LayerOpacitySliderTip(),
                                    width: 160,
                                    inverse: false,
                                    aggressive: false,
                                    style: {
                                        marginLeft: '18px'
                                    }
                                }
                            }
                        },
                        {
                            title: "Buscar Capas",
                            id: "buscarCapas",
                            flex: 1,
                            items:[csformForm,{
                                title: "Capas encontradas",
                                id: "capasEncontradas",
                                flex: 1,
                                height: 800,
                            }],
                            //autoScroll:true
                        },
                    ]
                }

                    ]
                },
            ]
        },
        {
            xtype: 'tabpanel',
                    activeTab: 0,
                    frame: true,
                    id: 'hr-geo-left-container10',
                    region: 'center',
                    width: 280,
                    collapsible: false,
                    split: true,
                    border: false,
                    autoScroll: true,
                    items: [{
            xtype: 'panel',
            id: 'hr-map-and-info-container',
            layout: 'border',
            region: 'center',
            title: 'Mapa',
            width: '100%',
            collapsible: false,
            split: false,
            border: false,
            items: [                  
 
                {
                    xtype: 'hr_mappanel',
                    id: 'hr-map',
                    title: '&nbsp;',
                    region: 'center',
                    collapsible: false,
                    border: false,
                    hropts: Heron.options.map
                },
                 {% if mapa %}
                new Ext.grid.EditorGridPanel({
                    autoScroll: true,
                    expanded: true,
                    collapsible: true,
                    deferredRender: false,
                    layoutConfig:{animate:true},
                    xtype: "editorgrid",
                    ref: "featureGrid",
                    title: "Grilla de datos del Proyecto",
                    region: "south",
                    height: 150,
                    sm: new GeoExt.grid.FeatureSelectionModel(),
                    store: new GeoExt.data.FeatureStore({
                    layer: Heron.options.worklayers.editor,
                    features: Heron.options.worklayers.editor.features,        
                    fields: [
                        {% for atributo in mapa.atributos %}
                            {name: "{{atributo.nombre}}", type: "{{atributo.tipo}}"}, 
                        {% endfor %}                        
                    ],        
                    }), 
                    columns: [
                        {% for atributo in mapa.atributos %}
                            {header: "{{atributo.nombre}}", dataIndex: "{{atributo.nombre}}", editor: {xtype: "{{atributo.tipo}}" + "field"}},
                        {% endfor %}                        
                    ],        
                    bbar: []
                })
                {% endif %}      
                    ]
                },                
                {
                    title: "Ayuda",
                    html: "<iframe style='height: 100%; width: 100%;' src='{{ asset('bundles/sistemavisualizador/html/help.html.twig') }}'>",
                }
                
            ]
        },
        {
            xtype: 'panel',

            id: 'hr-menu-right-container',
            layout: 'accordion',
            region: "east",
            width: 240,
            collapsible: true,
            split: false,
            border: false,
            items: [
                {
                    xtype: 'hr_layerlegendpanel',
                    id: 'hr-layerlegend-panel',
                    border: true,
                    defaults: {
                        useScaleParameter: true,
                        baseParams: {
                            FORMAT: 'image/png'
                        }
                    },

                    /* Should Legend Image URL be fetched from WMS Capabilities? */
                    legendFromCapabilities: false,
                     /* Should Legend Image URL be fetched from WMS Capabilities for these URL patterns? */
                    legendFromCapabilitiesPatterns: ['dino', 'arcgis'],
                    hropts: {
                        // Preload Legends on initial startup
                        // Will fire WMS GetLegendGraphic's for WMS Legends
                        // Otherwise Legends will be loaded only when Layer
                        // becomes visible. Default: false
                        prefetchLegends: false
                    }
                }
            ]
        }
    ]
};
</script>