{% if mapa %}
<script>
/*
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

/** api: example[vectorstyler]
 *  Vector Styler
 *  -------------
 *  Style Vector Layers interactively.
 */

/** Zoom into center Amersfoort. */


/** Layers with local data files: Line, Polygon and Point Layer. */

/* Vector layers for Drawing and Upload */
{% set extension = mapa.filename|split('.') %}
Ext.namespace("Heron.options.worklayers");
Heron.options.worklayers = {
    editor: new OpenLayers.Layer.Vector('{{ mapa.nombre }}', {
    strategies: [new OpenLayers.Strategy.Fixed()],
    protocol: new OpenLayers.Protocol.HTTP({
        url: '{{ asset('files/mapas/'~ mapa.fileName) }}',
        {% if extension.1 == "gpx" %}
        format: new OpenLayers.Format.GPX()
        {% elseif extension.1 == "kml" %}
        format: new OpenLayers.Format.KML()
        {% else %}
        format: new OpenLayers.Format.GeoJSON()
        {% endif %}
    }),
//    style: {fillColor: '#382', strokeColor: 'yellow', strokeWidth: 3, strokeOpacity: 0.8},
    projection: new OpenLayers.Projection("EPSG:4326")
}),


    scratch: new OpenLayers.Layer.Vector('UploadLayer', {
        displayInLayerSwitcher: true, visibility: false})
};

// Add Layers to Map already present in default config
Heron.options.map.layers.push(Heron.options.worklayers.editor);
Heron.options.map.layers.push(Heron.options.worklayers.scratch);

// See ToolbarBuilder.js : each string item points to a definition
// in Heron.ToolbarBuilder.defs. Extra options and even an item create function
// can be passed here as well.
</script>
{% else %}
<script>
Ext.namespace("Heron.options.worklayers");
Heron.options.map.layers.remove(Heron.options.worklayers.editor);
Heron.options.map.layers.remove(Heron.options.worklayers.scratch);
</script>
{% endif %}
