<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="icon" href="{{ asset('images/config/logo') }}">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<title>{{ config.titulo }}</title>
<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<!-- External lib: ExtJS -->	
<link href="{{ asset('bundles/sistemavisualizador/ext-3.4.1/resources/css/ext-all.css') }}" rel="stylesheet">
    <link href="{{ asset('css/banner.css') }}" rel="stylesheet">
<script type="text/javascript" src="{{ asset('bundles/sistemavisualizador/ext-3.4.1/adapter/ext/ext-base.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/sistemavisualizador/ext-3.4.1/ext-all.js') }}"></script>
<!-- External lib: Proj4JS (reproject lib) -->
<script src="{{ asset('bundles/sistemavisualizador/proj4js-combined.js') }}" type="text/javascript"></script>
<!-- External lib: OpenLayers -->
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/sistemavisualizador/OpenLayers-2.12/theme/default/style.css') }}"/>
<script type="text/javascript" src="{{ asset('bundles/sistemavisualizador/OpenLayers-2.12/lib/OpenLayers.js') }}"></script>
<!-- External lib: GeoExt -->
<script type="text/javascript" src="{{ asset('bundles/sistemavisualizador/GeoExt/script/GeoExt.js') }}"></script>
<script src="{{ asset('bundles/sistemavisualizador/heron/lib/i18n/es_ES.js') }}"></script>
<link href="{{ asset('bundles/sistemavisualizador/heron/ux/printpreview/resources/css/printpreview.css') }}" rel="stylesheet">    
<link href="{{ asset('bundles/sistemavisualizador/heron/ux/gxp/git/src/theme/all.css') }}" rel="stylesheet">    
<script src="{{ asset('bundles/sistemavisualizador/heron/ux/gxp/gxp.js') }}"></script>
<script src="{{ asset('bundles/sistemavisualizador/heron/ux/gxp/git/src/script/locale/es.js') }}"></script>
<link href="{{ asset('bundles/sistemavisualizador/heron/resources/css/default.css') }}" rel="stylesheet">
<link href="{{ asset('bundles/sistemavisualizador/html/gh-buttons.css') }}" rel="stylesheet">
<!-- application -->
{{ include('SistemaVisualizadorBundle:Default:variables.js.twig') }}

<script src="{{ asset('bundles/sistemavisualizador/heron/script/Heron-with-ux.js') }}"></script>
<script src="{{ asset('bundles/sistemavisualizador/heron/lib/widgets/LayerTreePanel.js') }}"></script>
{{ include('SistemaVisualizadorBundle:Default:contextmenu.js.twig') }}
<script src="{{ asset('bundles/sistemavisualizador/heron/lib/widgets/search/MultiSearchCenterPanel.js') }}"></script>
<script src="{{ asset('bundles/sistemavisualizador/heron/ux/gxp/git/src/script/widgets/FilterBuilder.js') }}"></script>
<script src="{{ asset('bundles/sistemavisualizador/heron/examples/querybuildernl/QueryPanel.js') }}"></script>
<script src="{{ asset('bundles/sistemavisualizador/heron/lib/widgets/search/GXP_QueryPanel.js') }}"></script>
<script src="{{ asset('bundles/sistemavisualizador/heron/lib/widgets/search/FsSpatialSearchPanel.js') }}"></script>
<script src="{{ asset('bundles/sistemavisualizador/heron/lib/widgets/search/FsSearchByDrawPanel.js') }}"></script>
<script src="{{ asset('bundles/sistemavisualizador/heron/lib/widgets/search/FsCoordSearchPanel.js') }}"></script>
{{ include('SistemaVisualizadorBundle:Default:LayerProperties.js.twig') }}

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<style>
.olImageLoadError { 
/* when OL encounters a 404, don't display the pink image */
display: none !important;
}
</style>
{{ include('SistemaVisualizadorBundle:Default:app.js.twig') }}
{{ include('SistemaVisualizadorBundle:Default:capas.js.twig') }}
{{ include('SistemaVisualizadorBundle:Default:mapa.js.twig') }}
</head>
<body>

</body>
<script src="{{ asset('bundles/sistemavisualizador/heron/examples/streetview/GoogleStreetViewPanel.js') }}"></script>
{{ include('SistemaVisualizadorBundle:Default:tools.js.twig') }}
{{ include('SistemaVisualizadorBundle:Default:DefaultConfig.js.twig') }}
<script src="{{ asset('bundles/sistemavisualizador/heron/ux/printpreview/lib/GeoExt.ux/PrintPreview.js') }}"></script>
<script src="{{ asset('bundles/sistemavisualizador/heron/ux/printpreview/lib/locale/PrintPreview-es.js') }}"></script>
{{ include('SistemaVisualizadorBundle:Default:olemin.js.twig') }}
<link rel="stylesheet" href="{{ asset('bundles/sistemavisualizador/heron/ux/oleditor/ole/client/theme/geosilk/geosilk.css') }}" type="text/css"/>
<script>
    window.onload = function(){        
    var treeSearch = new Ext.tree.TreePanel({  	
                                            root: new GeoExt.tree.LayerContainer({
                                           text: 'Capas',
                                           Store:  Heron.App.map.layers,
                                           leaf: false,
                                           expanded: true,
                                       })
                                    });                                    
                                    Ext.getCmp('capasEncontradas').add(treeSearch);
                                }
</script>
</html>
