<script type="text/javascript">
    function PrintElem(elem)
    {
        
        var originalsize = $(".olMap").height();
        $(".olMap").height(1400);
        
        var layers = Heron.App.map.getLayersBy("visibility", true);
        var maxexec= 0;
        var count = 0;               
        setTimeout(doPartialWork(layers, originalsize, maxexec, count), 2000);
                                                    
        
        
        //Popup($('#visor').html());
        
    }
    
    
    function doPartialWork(layers, originalsize, maxexec, count) {
        setTimeout( function() { Heron.App.map.updateSize();}, 1);
        maxexec++;       
        for(var i=0, len=Object.keys(layers).length; i<len; i++){                
            var layer = layers[i];            
            layers[i].events.register("loadend", layers[i], function(layer, contador) {                
                count++;                
            });
        }    
        
    if ((count+2) > Object.keys(layers).length) {
        var mywindow = window.open('', 'my div', 'height=800, width=600, scrollbars=1');
        var keepColors = '<style>body {-webkit-print-color-adjust: exact !important; }</style>';
        mywindow.document.write('<html><head></head><body onload="window.print()">' + $(".olMap").html() + '</body></html>');
        mywindow.document.close();
        setTimeout( function() { $(".olMap").height(originalsize); Heron.App.map.updateSize();}, 3000);
    }
    else {
        if (maxexec < 900){
        // Start another slice of work on the next processing cycle
        setTimeout(function() {doPartialWork(layers, originalsize, maxexec, count)}, 5000);
    }
    }
}

    Ext.namespace("Heron.examples");
    Heron.examples.searchPanelConfigDraw = {
        xtype: 'hr_searchcenterpanel',
        hropts: {
            searchPanel: {
                xtype: 'fs_searchbydrawpanel',
                name: __('Search by Drawing'),
                header: false
            },
            resultPanel: {
                xtype: 'hr_featuregridpanel',
                id: 'hr-featuregridpanel',
                header: false,
                autoConfig: true,
                autoConfigMaxSniff: 100,
                exportFormats: ['XLS', 'GMLv2', 'GeoJSON', 'WellKnownText', 'Shapefile'],
                gridCellRenderers: Heron.options.gridCellRenderers,
                hropts: {
                    zoomOnRowDoubleClick: true,
                    zoomOnFeatureSelect: false,
                    zoomLevelPointSelect: 8,
                    zoomToDataExtent: false
                }
            }
        },
    };
    
                                        Heron.examples.searchPanelConfigQuery = {
                                            xtype: 'hr_searchcenterpanel',
                                            hropts: {
                                                searchPanel: {
                                                    xtype: 'hr_gxpquerypanel',
                                                    name: __('Build your own searches'),
                                                    description: 'This search uses both search within Map extent and/or your own attribute criteria',
                                                    header: false,
                                                    border: false,
                                                    caseInsensitiveMatch: true,
                                                    autoWildCardAttach: true
                                                },
                                                resultPanel: {
                                                    xtype: 'hr_featuregridpanel',
                                                    id: 'hr-featuregridpanel',
                                                    header: false,
                                                    border: false,
                                                    autoConfig: true,
                                                    exportFormats: ['XLS', 'GMLv2', 'GeoJSON', 'WellKnownText', 'Shapefile'],
                                                    gridCellRenderers: Heron.options.gridCellRenderers,
                                                    hropts: {
                                                        zoomOnRowDoubleClick: true,
                                                        zoomOnFeatureSelect: false,
                                                        zoomLevelPointSelect: 8,
                                                        zoomToDataExtent: true
                                                    }
                                                }
                                            },
                                        };
                                        Heron.options.map.toolbar = [
                                            {type: "featureinfo", options: {
                                                    popupWindow: {
                                                        width: 480,
                                                        height: 200,
                                                        featureInfoPanel: {
// Option values are 'Grid', 'Tree' and 'XML', default is 'Grid' (results in no display menu)
                                                            showTopToolbar: true,
                                                            displayPanels: ['Table'],
// Export to download file. Option values are 'CSV', 'XLS', default is no export (results in no export menu).
                                                            exportFormats: ['CSV', 'XLS', 'GMLv2', 'Shapefile', 'GeoJSON', 'WellKnownText'],
                                                            maxFeatures: 10,
                                                            showGeometries: false,
                                                            featureSelection: false,
                                                        }
                                                    },
                                                    control: {
                maxFeatures: 8,
                hover: false,
                drillDown: true,
                infoFormat: "text/html",
                queryVisible: true
            }
                                                }},
                                            {type: "-"},
                                            {type: "pan"},
                                            {type: "zoomin"},
                                            {type: "zoomout"},
                                            {type: "zoomvisible"},                                            
                                            {type: "measurelength", options: {geodesic: false}},
                                            {type: "measurearea", options: {geodesic: false}},
                                            {type: "coordinatesearch", options: {
// === Full demo configuration ===

// see ToolbarBuilder.js

                                                    formWidth: 320
                                                    , formPageX: 15
                                                    , formPageY: 100
                                                    , icon: '{{ asset('bundles/sistemavisualizador/heron/resources/images/silk/find.png') }}'
// see CoordSearchPanel.js
// , title: 'My title'
                                                    , titleDescription: 'Por favor elija el sistema de proyección...<br><br>Luego entre los valores de Latitud y Longitud'
                                                    , titleDescriptionStyle: 'font-size:11px; color:dimgrey;'
                                                    , bodyBaseCls: 'x-form-back'
                                                    , bodyItemCls: 'hr-html-panel-font-size-11'
                                                    , bodyCls: 'hr-html-panel-font-size-11'
                                                    , fieldMaxWidth: 200
                                                    , fieldLabelWidth: 80
                                                    , fieldStyle: 'color: red;'
                                                    , fieldLabelStyle: 'color: darkblue'
                                                    , layerName: 'Location - Lon/Lat'
                                                    , onProjectionIndex: 1
                                                    , onZoomLevel: -1
                                                    , showProjection: true
                                                    , showZoom: true
                                                    , showAddMarkers: true
                                                    , checkAddMarkers: true
                                                    , showHideMarkers: true
                                                    , checkHideMarkers: false
                                                    , showResultMarker: true
                                                    , fieldResultMarkerStyle: 'color: green;'
                                                    , fieldResultMarkerText: 'Posicion del marcador: '
                                                    , fieldResultMarkerSeparator: ' | '
                                                    , fieldResultMarkerPrecision: 4
                                                    , removeMarkersOnClose: true
                                                    , showRemoveMarkersBtn: true
                                                    , buttonAlign: 'center'
// left, center, right
                                                            /*
                                                             http://spatialreference.org/ref/epsg/4326/
                                                             EPSG:4326
                                                             WGS 84
                                                             WGS84 Bounds: -180.0000, -90.0000, 180.0000, 90.0000
                                                             Projected Bounds: -180.0000, -90.0000, 180.0000, 90.0000
                                                             
                                                             http://spatialreference.org/ref/epsg/28992/    
                                                             EPSG:28992
                                                             Amersfoort / RD New
                                                             WGS84 Bounds: 3.3700, 50.7500, 7.2100, 53.4700
                                                             Projected Bounds: 12628.0541, 308179.0423, 283594.4779, 611063.1429
                                                             */
                                                    , hropts: [
                                                        {
                                                            projEpsg: 'EPSG:900913'
                                                            , projDesc: 'EPSG:900913 - Google Mercator'
                                                            , fieldLabelX: 'X [m]'
                                                            , fieldLabelY: 'Y [m]'
                                                            , fieldEmptyTextX: 'Por favor ingrese X...'
                                                            , fieldEmptyTextY: 'Por favor ingrese Y...'
                                                            , fieldMinX: 12628.0541
                                                            , fieldMinY: 308179.0423
                                                            , fieldMaxX: 283594.4779
                                                            , fieldMaxY: 611063.1429
                                                            , fieldDecPrecision: 2
                                                            , iconWidth: 32
                                                            , iconHeight: 32
                                                            , localIconFile: '../../{{ asset('bundles/sistemavisualizador/heron/resources/images/redpin.png') }}'
                                                            , iconUrl: '{{ asset('bundles/sistemavisualizador/heron/resources/images/redpin.png') }}'
                                                        },
                                                        {
                                                            projEpsg: 'EPSG:4326'
                                                            , projDesc: 'EPSG:4326 - WGS 84'
                                                            , fieldLabelX: 'Lon [Grad]'
                                                            , fieldLabelY: 'Lat [Grad]'
                                                            , fieldEmptyTextX: 'Por favor ingrese Longitud...'
                                                            , fieldEmptyTextY: 'Por favor ingrese Latitud...'
                                                            , fieldMinX: -180
                                                            , fieldMinY: -90
                                                            , fieldMaxX: 180
                                                            , fieldMaxY: 90
                                                            , fieldDecPrecision: 6
                                                            , iconWidth: 32
                                                            , iconHeight: 32
                                                            , localIconFile: '../../{{ asset('bundles/sistemavisualizador/heron/resources/images/bluepin.png') }}'
                                                            , iconUrl: '{{ asset('bundles/sistemavisualizador/heron/resources/images/redpin.png') }}'
                                                        }
                                                    ]

// ====================================

                                                }},
                                            {type: "-"},
                                            {type: "zoomprevious"},
                                            {type: "zoomnext"},
                                                                                            {#{type: "printdirect", options: {url: urlgeoserver + '/pdf',
                                                    tooltip: __('Print Visible Map Area Directly') + ' JPEG'
//, mapTitle: 'Impresion Directa'
                                                    , mapTitleYAML: "mapTitle"		// MapFish - field name in config.yaml - default is: 'mapTitle'
                                                    , mapComment: 'My Comment - Direct Print, Output format JPEG'

                                                    , mapPrintLayout: "Sinimagen"			// MapFish - 'name' entry of the 'layouts' array or Null (=> MapFish default)   		
                                                }},
                                            {type: "printdialog", options: {url: urlgeoserver + '/pdf', windowWidth: 420
                                                    , showOutputFormats: true
                                                    , mapPreviewAutoHeight: false
                                                }},#}
                                            {
                                                type: "namesearch",
                                                options: {
                                                    url: "http://nominatim.openstreetmap.org/search?format=json",
                                                    xtype: 'hr_geocodercombo',
                                                    queryParam: "q",
                                                    zoom: 18,
                                                    emptyText: 'Buscar Dirección',
                                                    width: 230,
                                                }
                                            },
                                            {type: "any",
                                                options: {
                                                    text: 'Obtener link del mapa',
                                                    id: "addlink",
                                                    tooltip: __('Obtener link del mapa'),
                                                    iconCls: "icon-addbookmark",
                                                    enableToggle: false,
                                                    disabled: false,
                                                    pressed: false
                                                },
                                                create: function (mapPanel, options) {
                                                    options.handler = function () {
                                                     //this.addLink();
                                                        this.MapPanel = Heron.App.getMapPanel();
                                                        Permalinkgas=this.MapPanel.getPermalink();
                                                        window.prompt ("Copiar enlace con CTRL+C",Permalinkgas);
                                                    };
                                                    return new GeoExt.Action(options);
                                                }
                                            },
                                            {type: "-"},
                                            {type: "any",
                                                options: {
                                                    text: 'Imprimir',
                                                    tooltip: 'Impresión Directa',
                                                    handler: function () {


                                                        PrintElem('.olMap');
                                                    }
                                                }
                                            },
                                            {type: "-"},
                                            {type: "any",
                                                options: {
                                                    text: 'Busquedas',
                                                    icon: '{{ asset('bundles/sistemavisualizador/heron/resources/images/silk/find.png') }}',
                                                    menu: {
                                                        items: [
                                                            {
                                                                text: __('Build your own searches'),
                                                                icon: 'http://mdi.niedersachsen.de/images/table_go.png',
                                                                handler: function hallo5() {
                                                                    var wfs_query = {
                                                                        title: __('Build your own searches'),
                                                                        layout: "fit",
                                                                        closeAction: 'close',
                                                                        x: 100,
                                                                        y: undefined,
                                                                        width: 360,
                                                                        height: 440,
                                                                        items: [
                                                                            Heron.examples.searchPanelConfigQuery
                                                                        ]
                                                                    };
                                                                    var searchWindow = new Ext.Window(wfs_query);
                                                                    searchWindow.show();
                                                                }
                                                            },
                                                            {
                                                                text: __('Search by Drawing'),
                                                                icon: 'http://mdi.niedersachsen.de/images/table_go.png',
                                                                handler: function hallo6() {
                                                                    var wfs_query01 = {
                                                                        title: __('Search by Drawing'),
                                                                        layout: "fit",
                                                                        closeAction: 'close',
                                                                        x: 100,
                                                                        y: undefined,
                                                                        width: 360,
                                                                        height: 440,
                                                                        items: [
                                                                            Heron.examples.searchPanelConfigDraw
                                                                        ]
                                                                    };
                                                                    var searchWindow = new Ext.Window(wfs_query01);
                                                                    searchWindow.show();
                                                                }
                                                            },                                                            
                                                        ]
                                                    }
                                                }
                                            },
                                            {type: "-"},
                                            {
//type: "any",
                                                options: {
                                                    tooltip: __('Open new window in Google StreetView'),
                                                    iconCls: "icon-streetview",
                                                    enableToggle: true,
                                                    pressed: false,
                                                    id: "streetview",
                                                    toggleGroup: "toolGroup",
                                                    popupOptions: {
                                                        title: __('Street View'),
                                                        anchored: false,
                                                        anchorPosition: 'auto',
                                                        width: 300,
                                                        height: 300,
                                                        collapsible: true,
                                                        draggable: true
                                                    }
                                                },
                                                create: function (mapPanel, options) {

                                                    var ClickControl = OpenLayers.Class(OpenLayers.Control, {
                                                        defaults: {
                                                            pixelTolerance: 1,
                                                            stopSingle: true
                                                        },
                                                        initialize: function (options) {
                                                            this.handlerOptions = OpenLayers.Util.extend(
                                                                    {}, this.defaults
                                                                    );
                                                            OpenLayers.Control.prototype.initialize.apply(this, arguments);
                                                            this.handler = new OpenLayers.Handler.Click(
                                                                    this, {click: this.trigger}, this.handlerOptions
                                                                    );
                                                        },
                                                        trigger: function (event) {
                                                            openPopup(this.map.getLonLatFromViewPortPx(event.xy));
                                                        }

                                                    });
                                                    var popup;
                                                    function openPopup(location) {
                                                        if (!location) {
                                                            location = mapPanel.map.getCenter();
                                                        }
                                                        if (popup && popup.anc) {
                                                            popup.close();
                                                        }

                                                        var popupOptions = {
                                                            location: location,
                                                            map: mapPanel,
                                                            items: [new gxp.GoogleStreetViewPanel()]
                                                        };
                                                        Ext.apply(popupOptions, options.popupOptions);
                                                        popup = new GeoExt.Popup(popupOptions);
                                                        popup.show();
                                                    }

                                                    options.control = new ClickControl({
                                                        trigger: function (e) {
                                                            openPopup(this.map.getLonLatFromViewPortPx(e.xy));
                                                        }
                                                    });
                                                    return new GeoExt.Action(options);
                                                }
                                            },
                                            {type: "-"},
                                            {type: "any",
                                                options: {
                                                    text: "",
                                                    icon: '{{ asset('bundles/sistemavisualizador/heron/ux/gxp/git/src/theme/img/geosilk/google_earth.png') }}',
                                                    tooltip: 'google earth',
                                                    handler: function () {


                                                        window.location.href = '{{ path('googleearth') }}';
                                                    }
                                                }
                                            },
                                            {% for vinculo in vinculaciones %}
                                            {
                                                create: function (mapPanel, options) {
                                                    var popup;
                                                    var map = mapPanel.getMap();
                                                    select = new OpenLayers.Layer.Vector("Seleccion",{noLegend: true});
                                                    control = new OpenLayers.Control.GetFeature({
                                                        protocol: new OpenLayers.Protocol.WFS({version: "1.1.0", url: urlwfs, featureType: "{{vinculo.capas.capa}}", srsName: "EPSG:900913", geometryName: "the_geom"}),
                                                        box: true,
                                                        hover: false,
                                                        multipleKey: "shiftKey",
                                                        toggleKey: "ctrlKey"
                                                    });
                                                    control.events.register("featureselected", this, function (e) {
                                                        console.log(e.feature);
                                                        select.addFeatures([e.feature]);
                                                        var items = [];
                                                        var string = "";
                                                        var i = 0;
                                                        Ext.each(select.features, function (feature) {
                                                            if (i > 0) {
                                                                string += ",";
                                                            }
                                                            string += '{{vinculo.capas.capa}}'+'.'+feature.attributes.{{ vinculo.atributo }};
                                                            i++;
                                                            items.push({
                                                                xtype: "propertygrid",
                                                                title: feature.attributes.{{ vinculo.atributo }},
                                                                source: feature.attributes
                                                            });
                                                        });
                                                        if (popup) {
                                                            popup.close();
                                                        }

                                                        popup = new GeoExt.Popup({
                                                            title: "Vectores Seleccionados",
                                                            width: 300,
                                                            height: 300,
                                                            layout: "accordion",
                                                            map: mapPanel,
                                                            x: 830,
                                                            y: 100,
//location: e,
                                                            anchored: false,
                                                            anchorPosition: 'top-right',
                                                            collapsible: true,
                                                            draggable: true,
                                                            items: items,
                                                            bbar: ["->",
                                                                {
                                                                    text: "Cargar Archivos",
                                                                    handler: function () {
                                                                        window.open("{{path("vincular")}}?features=" + string, "vinculacion", "width=400,height=800,scrollbars=NO")
                                                                    }
                                                                },
                                                                {
                                                                    text: "Consultar",
                                                                    handler: function () {
                                                                        window.open("{{path("consultar")}}?features=" + string, "consulta", "width=400,height=800,scrollbars=NO")
                                                                    }
                                                                },
                                                            ]
                                                        });
                                                        popup.show();
                                                    });
                                                    control.events.register("featureunselected", this, function (e) {
                                                        select.removeFeatures([e.feature]);
                                                        if (popup) {
                                                            popup.close();
                                                        }
                                                    });
                                                    map.addLayers([select]);
                                                    return new GeoExt.Action({
//text: "Cargar Datos",
                                                        icon: '{{ asset('bundles/sistemavisualizador/heron/resources/images/silk/table_go.png') }}',
                                                        control: control,
                                                        map: map,
// button options
                                                        toggleGroup: "toolGroup",
                                                        enableToggle: true,
                                                        pressed: false,
                                                        allowDepress: true,
                                                        tooltip: "Cargar Datos en " + "{{vinculo.capas.titulo}}",
// check item options
//group: "draw"
                                                    })
                                                }
                                            },{% endfor %}
                                            {% if mapa %}
                                            {type: "oleditor", options: {
        id: "oleoleole",
        pressed: true,

        // Options for OLEditor
        olEditorOptions: {
            id: "ole2",
            editLayer: Heron.options.worklayers.editor,
            activeControls: ['StyleFeature', 'UploadFeature', 'DownloadFeature', 'Separator', 'Navigation', 'Separator', 'DeleteAllFeatures', 'DeleteFeature', 'DragFeature', 'SelectFeature', 'Separator', 'DrawHole', 'ModifyFeature', 'Save', 'Separator'],
            // activeControls: ['UploadFeature', 'DownloadFeature', 'Separator', 'Navigation', 'DeleteAllFeatures', 'DeleteFeature', 'DragFeature', 'SelectFeature', 'Separator', 'ModifyFeature', 'Separator'],
            featureTypes: ['{{mapa.geometria}}'],
            language: 'es',
            options: {
                StyleFeature: {
                    pageX: 200,
                    pageY: 100
                }},            
            DownloadFeature: {
                url: Heron.globals.serviceUrl,
                formats: [
                    {name: 'Well-Known-Text (WKT)', fileExt: '.wkt', mimeType: 'text/plain', formatter: 'OpenLayers.Format.WKT'},
                    {name: 'Geographic Markup Language - v2 (GML2)', fileExt: '.gml', mimeType: 'text/xml', formatter: new OpenLayers.Format.GML.v2({featureType: 'oledit', featureNS: 'http://geops.de'})},
                    {name: 'GeoJSON', fileExt: '.json', mimeType: 'text/plain', formatter: 'OpenLayers.Format.GeoJSON'},
                    {name: 'GPS Exchange Format (GPX)', fileExt: '.gpx', mimeType: 'text/xml', formatter: 'OpenLayers.Format.GPX', fileProjection: new OpenLayers.Projection('EPSG:4326')},
                    {name: 'Keyhole Markup Language (KML)', fileExt: '.kml', mimeType: 'text/xml', formatter: 'OpenLayers.Format.KML', fileProjection: new OpenLayers.Projection('EPSG:4326')},
                    {name: 'ESRI Shapefile (zipped, RD)', fileExt: '.zip', mimeType: 'application/zip', formatter: 'OpenLayers.Format.GeoJSON', targetFormat: 'ESRI Shapefile', fileProjection: new OpenLayers.Projection('EPSG:4326')},
//                    {name: 'ESRI Shapefile (zipped, ETRS89)', fileExt: '.zip', mimeType: 'application/zip', formatter: 'OpenLayers.Format.GeoJSON', targetFormat: 'ESRI Shapefile', fileProjection: new OpenLayers.Projection('EPSG:4258')},
                    {name: 'ESRI Shapefile (zipped, WGS84)', fileExt: '.zip', mimeType: 'application/zip', formatter: 'OpenLayers.Format.GeoJSON', targetFormat: 'ESRI Shapefile', fileProjection: new OpenLayers.Projection('EPSG:4326')},
                    {name: 'OGC GeoPackage (Dutch RD)', fileExt: '.gpkg', mimeType: 'application/binary', formatter: 'OpenLayers.Format.GeoJSON', targetFormat: 'GPKG', fileProjection: new OpenLayers.Projection('EPSG:4326')},
                    {name: 'OGC GeoPackage (WGS84)', fileExt: '.gpkg', mimeType: 'application/binary', formatter: 'OpenLayers.Format.GeoJSON', targetFormat: 'GPKG', fileProjection: new OpenLayers.Projection('EPSG:4326')}

                ],
                // For custom projections use Proj4.js
                fileProjection: new OpenLayers.Projection('EPSG:4326')
            },
            UploadFeature: {
                url: Heron.globals.serviceUrl,
                formats: [
                    {name: 'Well-Known-Text (WKT)', fileExt: '.wkt', mimeType: 'text/plain', formatter: 'OpenLayers.Format.WKT'},
                    {name: 'Geographic Markup Language - v2 (GML2)', fileExt: '.gml', mimeType: 'text/xml', formatter: 'OpenLayers.Format.GML'},
                    {name: 'GeoJSON', fileExt: '.json', mimeType: 'text/plain', formatter: 'OpenLayers.Format.GeoJSON'},
                    {name: 'GPS Exchange Format (GPX)', fileExt: '.gpx', mimeType: 'text/xml', formatter: 'OpenLayers.Format.GPX', fileProjection: new OpenLayers.Projection('EPSG:4326')},
                    {name: 'Keyhole Markup Language (KML)', fileExt: '.kml', mimeType: 'text/xml', formatter: 'OpenLayers.Format.KML', fileProjection: new OpenLayers.Projection('EPSG:4326')},
                    {name: 'CSV (alleen RD-punten, moet X,Y kolom hebben)', fileExt: '.csv', mimeType: 'text/plain', formatter: 'OpenLayers.Format.GeoJSON', fileProjection: new OpenLayers.Projection('EPSG:4326')},
                    {name: 'CSV (idem, punten in WGS84)', fileExt: '.csv', mimeType: 'text/plain', formatter: 'OpenLayers.Format.GeoJSON', fileProjection: new OpenLayers.Projection('EPSG:4326')},
                    {name: 'ESRI Shapefile (1 laag, gezipped in RD)', fileExt: '.zip', mimeType: 'text/plain', formatter: 'OpenLayers.Format.GeoJSON'},
//                    {name: 'ESRI Shapefile (1 laag, gezipped in ETRS89)', fileExt: '.zip', mimeType: 'text/plain', formatter: 'OpenLayers.Format.GeoJSON', fileProjection: new OpenLayers.Projection('EPSG:4258')},
                    {name: 'ESRI Shapefile (1 laag, gezipped in WGS84)', fileExt: '.zip', mimeType: 'text/plain', formatter: 'OpenLayers.Format.GeoJSON', fileProjection: new OpenLayers.Projection('EPSG:4326')},
                    {name: 'OGC GeoPackage (1 layer, Dutch RD)', fileExt: '.gpkg', mimeType: 'text/plain', formatter: 'OpenLayers.Format.GeoJSON', fileProjection: new OpenLayers.Projection('EPSG:4326')},
                    {name: 'OGC GeoPackage (1 layer, WGS84)', fileExt: '.gpkg', mimeType: 'text/plain', formatter: 'OpenLayers.Format.GeoJSON', fileProjection: new OpenLayers.Projection('EPSG:4326')}
                ],
                // For custom projections use Proj4.js
                fileProjection: new OpenLayers.Projection('EPSG:4326')
            }
        }
    }
    }{% endif %}
                                        ];</script>