<script>
    var imprimir = false;
    var consultas = false;
    var apiKey = "Akq1Y7-MEHnjBlNAEWJ2uJzXIDLHcn6LA05vV5Dfk6OEimJD8Xr-kuppCyT5Mixw";
    var urlgeoserver = '{{asset('/bundles/sistemavisualizador/heron/proxy2.php')}}' + '?url=' + '{{config.urlgeoserver}}';
    {% if config.urlwfs != null%}
    var urlwfs = '{{config.urlwfs}}';{% else %}
    var urlwfs = null;{% endif %}
    var urlservidor = '{{config.urlgeoserver}}';    
    imprimir = true;
    consultas = true;
</script>