
{% extends 'layout.html.twig' %}

{% block title %}
Auditoria
{% endblock %}

{% block page %}
        <style type="text/css">
#accountForm {
    margin-top: 15px;
}
#map {
            height: 350px;
            width: 350px;
            background-color: #eee;
        }
        .olControlAttribution {
            bottom: 3px;
            left: 10px;
            line-height: 9px;
            font-size: 9px;
            color: #ccc;
        }
</style>
        <script type="text/javascript" src="{{ asset('bundles/sistemavisualizador/ext-3.4.1/adapter/ext/ext-base.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/sistemavisualizador/ext-3.4.1/ext-all.js') }}"></script>
        <link href="{{ asset('bundles/sistemavisualizador/ext-3.4.1/resources/css/ext-all.css') }}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="http://projet.oss-online.org/geoaquifer/ext-2.2.1/examples/shared/examples.css" />
        <script type="text/javascript" src="{{ asset('bundles/sistemavisualizador/OpenLayers-2.12/lib/OpenLayers.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/sistemavisualizador/GeoExt/script/GeoExt.js') }}"></script>
        
        
<script type="text/javascript">
        var lonmet = -6734829.1930;
        var latmet = -3123471.7491;
        var zoommet = 5;
        var mapmet, layermet;
        var geographicmet = new OpenLayers.Projection('EPSG:4326');
        var point1met = new OpenLayers.Geometry.Point({{ metadatos.loeste }},{{ metadatos.lnorte }}); //west y north
        var point2met = new OpenLayers.Geometry.Point({{ metadatos.loeste }},{{ metadatos.lsur }}); //west y south
        var point3met = new OpenLayers.Geometry.Point({{ metadatos.leste }},{{ metadatos.lsur }}); //east y south
        var point4met = new OpenLayers.Geometry.Point({{ metadatos.leste }},{{ metadatos.lnorte }}); //east y north
        var boundsmet = new OpenLayers.Bounds();
        boundsmet.extend(point1met);
        boundsmet.extend(point2met);        
        var optionsmet = {    
            allOverlays: true
        };
        
        

        $(window).load(function(){
            mapmet = new OpenLayers.Map('map', optionsmet);
            layermet = new OpenLayers.Layer.OSM("OSM");
            mapmet.addLayer(layermet);       
        var sitePoints = [];
var siteStyle = {
  strokeColor: "#770077",
                strokeOpacity: 1,
                strokeWidth: 2,
                fillColor: "#770077",
                fillOpacity: 0.5
};
var layervectormet = new OpenLayers.Layer.Vector("vectormet");

var epsg4326 = new OpenLayers.Projection("EPSG:4326");
point1met.transform(epsg4326, mapmet.getProjectionObject());
  sitePoints.push(point1met);
point2met.transform(epsg4326, mapmet.getProjectionObject());
  sitePoints.push(point2met);
point3met.transform(epsg4326, mapmet.getProjectionObject());
  sitePoints.push(point3met);
point4met.transform(epsg4326, mapmet.getProjectionObject());
  sitePoints.push(point4met);

var linearRing = new OpenLayers.Geometry.LinearRing(sitePoints);
var geometry = new OpenLayers.Geometry.Polygon([linearRing]);
var polygonFeature = new OpenLayers.Feature.Vector(geometry, null, siteStyle);
layervectormet.addFeatures([polygonFeature]);
        mapmet.addLayer(layervectormet);        
        mapmet.setCenter(new OpenLayers.LonLat({{config.centergoogle}}), {{config.zoom}});
        //map.zoomToExtent(bounds);
    });    
    
    </script>
    </head>
    <br>
    <br>
    <body>       
        <ul class="nav nav-tabs">
    <li class="active"><a href="#identificacion-tab" data-toggle="tab">Identificaci&oacute;n <i class="fa"></i></a></li>
    <li><a href="#contacto-tab" data-toggle="tab">Contacto <i class="fa"></i></a></li>
    <li><a href="#extent-tab" data-toggle="tab">Extent <i class="fa"></i></a></li>
    <li><a href="#calidad-tab" data-toggle="tab">Calidad <i class="fa"></i></a></li>
    <li><a href="#sistemadereferencia-tab" data-toggle="tab">Sistema de Referencia <i class="fa"></i></a></li>
    <li><a href="#distribucion-tab" data-toggle="tab">Distribucion <i class="fa"></i></a></li>
    <li><a href="#metadatos-tab" data-toggle="tab">Metadatos <i class="fa"></i></a></li>
</ul>
    <div class="tab-content">
        <div class="tab-pane active" id="identificacion-tab">
            <div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">Identificación</h3></div>            
            <div class="panel-body">
            
            <div class="row">                
                <label class="col-xs-3 control-label">Titulo</label>
                <div class="col-xs-5">
                    {{ metadatos.titulo }}
                </div>
            </div>
            <div class="row">
                <label class="col-xs-3 control-label">Fecha</label>
                <div class="col-xs-5">
                    {{ metadatos.fecha }}
                </div>
            </div>
            <div class="row">
                <label class="col-xs-3 control-label">Tipo de Fecha</label>
                <div class="col-xs-5">
                    {{ metadatos.tipofecha }}
                </div>
            </div>
            <div class="row">
                <label class="col-xs-3 control-label">Resumen del conjunto de datos</label>
                <div class="col-xs-5">
                    {{ metadatos.Resumencd }}
                </div>
            </div>
            </div>
            </div>
            <div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">Palabras Clave</h3></div>
            <div class="panel-body">                   
            <div class="row">
                <label class="col-xs-3 control-label">Palabras clave</label>
                <div class="col-xs-5">
                    {{ metadatos.palabrasclave }}
                </div>
            </div>
            <div class="row">
                <label class="col-xs-3 control-label">Tipo de Palabra clave</label>
                <div class="col-xs-5">
                    {{ metadatos.tipopclave }}
                </div>
            </div>
            <div class="row">
                <label class="col-xs-3 control-label">Tipo de Representacion Espacial</label>
                <div class="col-xs-5">
                    {{ metadatos.tiporepesp }}
                </div>
            </div>            
            </div>
            </div>
            <div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">Escala Equivalente</h3></div>
            <div class="panel-body">                   
            <div class="row">
                <label class="col-xs-3 control-label">Denominador</label>
                <div class="col-xs-5">
                    1:{{ metadatos.denominador }}
                </div>                
            </div>
            <div class="row">
                <label class="col-xs-3 control-label">Idioma</label>
                <div class="col-xs-5">
                    {{ metadatos.idiomacd }}
                </div>
            </div>
            <div class="row">
                <label class="col-xs-3 control-label">Juego de Caracteres del Conjunto de Datos</label>
                <div class="col-xs-5">
                    {{ metadatos.caracterescd }}
                </div>
            </div>
            <div class="row">
                <label class="col-xs-3 control-label">Tema del Conjunto de Datos</label>
                <div class="col-xs-5">
                    {{ metadatos.temacd }}
                </div>
            </div>
            <div class="row">
                <label class="col-xs-3 control-label">Información Complementaria</label>
                <div class="col-xs-5">
                    {{ metadatos.infocomp }}
                </div>
            </div>
            </div>
            </div>
        </div>

        <div class="tab-pane" id="contacto-tab">
            <div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">Contacto</h3></div>
            <div class="panel-body">                   
            <div class="row">
                <label class="col-xs-3 control-label">Nombre Completo Personal</label>
                <div class="col-xs-5">
                    {{ metadatos.pcnombre }}
                </div>
            </div>
            <div class="row">
                <label class="col-xs-3 control-label">Nombre de la Organización</label>
                <div class="col-xs-5">
                    {{ metadatos.pcorganizacion }}
                </div>
            </div>
            <div class="row">
                <label class="col-xs-3 control-label">Nombre del Cargo</label>
                <div class="col-xs-5">
                    {{ metadatos.pccargo }}
                </div>
            </div>
            <div class="row">
                <label class="col-xs-3 control-label">Número de Teléfono de Voz</label>
                <div class="col-xs-5">
                    {{ metadatos.pctelefono }}
                </div>
            </div>
            <div class="row">
                <label class="col-xs-3 control-label">Número de Fax</label>
                <div class="col-xs-5">
                    {{ metadatos.pcfax }}
                </div>
            </div>
            <div class="row">
                <label class="col-xs-3 control-label">Dirección</label>
                <div class="col-xs-5">
                    {{ metadatos.pcdireccion }}
                </div>
            </div>
            <div class="row">
                <label class="col-xs-3 control-label">Ciudad</label>
                <div class="col-xs-5">
                    {{ metadatos.pcciudad }}
                </div>
            </div>
            <div class="row">
                <label class="col-xs-3 control-label">Provincia o Area Administrativa</label>
                <div class="col-xs-5">
                    {{ metadatos.pcprovincia }}
                </div>
            </div>
            <div class="row">
                <label class="col-xs-3 control-label">Código Postal</label>
                <div class="col-xs-5">
                    {{ metadatos.pccodpostal }}
                </div>
            </div>
            <div class="row">
                <label class="col-xs-3 control-label">País</label>
                <div class="col-xs-5">
                    {{ metadatos.pcpais }}
                </div>
            </div>
            <div class="row">
                <label class="col-xs-3 control-label">Dirección Electrónica</label>
                <div class="col-xs-5">
                    {{ metadatos.pcemail }}
                </div>
            </div>
            <div class="row">
                <label class="col-xs-3 control-label">Rol del punto de Contacto</label>
                <div class="col-xs-5">
                    {{ metadatos.pcrol }}
                </div>
            </div>
            </div>
            </div>
        </div>
        <div class="tab-pane" id="extent-tab">
            <div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">Extensión Temporal del Conjunto de Datos</h3></div>
            <div class="panel-body">                   
            <div class="row">
                <label class="col-xs-3 control-label">Desde</label>
                <div class="col-xs-5">
                    {{ metadatos.desde }}
                </div>
            </div>
            <div class="row">
                <label class="col-xs-3 control-label">Hasta</label>
                <div class="col-xs-5">
                    {{ metadatos.hasta }}
                </div>
            </div>           
            </div>
            </div>
                
            <div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">Extensión Geográfica del Conjunto de Datos</h3></div>
            <div class="panel-body">
                <div class="col-xs-4">
                    <div id="map" style="height: 350px; width: 350px"></div>
            </div>
            <div class="col-xs-8">
            <div class="row">                
                <label class="col-xs-3 control-label">Longitud Oeste</label>
                <div class="col-xs-5">
                    {{ metadatos.loeste }}
                </div>
            </div>
            <div class="row">
                <label class="col-xs-3 control-label">Longitud Este</label>
                <div class="col-xs-5">
                    {{ metadatos.leste }}
                </div>
            </div>
            <div class="row">
                <label class="col-xs-3 control-label">Latitud Sur</label>
                <div class="col-xs-5">
                    {{ metadatos.lsur }}
                </div>
            </div>
            <div class="row">
                <label class="col-xs-3 control-label">Latitud Norte</label>
                <div class="col-xs-5">
                    {{ metadatos.lnorte }}
                </div>
            </div>
            <div class="row">
                <label class="col-xs-3 control-label">Nombre Geográfico</label>
                <div class="col-xs-5">
                    {{ metadatos.nomgeog }}
                </div>
            </div>
            </div>
            </div>
            </div>
        </div>
        <div class="tab-pane" id="calidad-tab">
            <div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">Calidad</h3></div>
            <div class="panel-body">                   
            <div class="row">
                <label class="col-xs-3 control-label">Nivel Jerárquico</label>
                <div class="col-xs-5">
                    {{ metadatos.njerarquico }}
                </div>
            </div>
            <div class="row">
                <label class="col-xs-3 control-label">Declaración del Linaje</label>
                <div class="col-xs-5">
                    {{ metadatos.linaje }}
                </div>
            </div>           
            </div>
            </div>            
        </div>
        <div class="tab-pane" id="sistemadereferencia-tab">
            <div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">Sistema de Referencia</h3></div>
            <div class="panel-body">                   
            <div class="row">
                <label class="col-xs-3 control-label">Código del Sistema de Referencia</label>
                <div class="col-xs-5">
                    {{ metadatos.codigoref }}
                </div>
            </div>                      
            </div>
            </div>            
        </div>
        <div class="tab-pane" id="distribucion-tab">
            <div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">Distribucion</h3></div>
            <div class="panel-body">                   
            <div class="row">
                <label class="col-xs-3 control-label">Nombre</label>
                <div class="col-xs-5">
                    {{ metadatos.distnom }}
                </div>
            </div>
            <div class="row">
                <label class="col-xs-3 control-label">Versión</label>
                <div class="col-xs-5">
                    {{ metadatos.distversion }}
                </div>
            </div>
            </div>
            </div>
            <div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">Recurso Online</h3></div>
            <div class="panel-body">                   
            <div class="row">
                <label class="col-xs-3 control-label">URL</label>
                <div class="col-xs-5">
                    {{ metadatos.url }}
                </div>
            </div>
            <div class="row">
                <label class="col-xs-3 control-label">Descripción</label>
                <div class="col-xs-5">
                    {{ metadatos.descripcion }}
                </div>
            </div>
            </div>
            </div>
        </div>
        <div class="tab-pane" id="metadatos-tab">
            <div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">Metadatos</h3></div>
            <div class="panel-body">                   
            <div class="row">
                <label class="col-xs-3 control-label">Identificador del Archivo de Metadatos</label>
                <div class="col-xs-5">
                    {{ metadatos.identificador }}
                </div>
            </div>
            <div class="row">
                <label class="col-xs-3 control-label">Idioma de los Metadatos</label>
                <div class="col-xs-5">
                    {{ metadatos.idiomamd }}
                </div>
            </div>
            <div class="row">
                <label class="col-xs-3 control-label">Nombre de la Norma de Metadatos</label>
                <div class="col-xs-5">
                    {{ metadatos.normamd }}
                </div>
            </div>
            <div class="row">
                <label class="col-xs-3 control-label">Versión de la Norma de Metadatos</label>
                <div class="col-xs-5">
                    {{ metadatos.versionmd }}
                </div>
            </div>
            <div class="row">
                <label class="col-xs-3 control-label">Conjunto de Caracteres de los Metadatos</label>
                <div class="col-xs-5">
                    {{ metadatos.caracteresmd }}
                </div>
            </div>
            <div class="row">
                <label class="col-xs-3 control-label">Fecha de creación de los metadatos</label>
                <div class="col-xs-5">
                    {{ metadatos.fechamd }}
                </div>
            </div>            
            <div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">Autor de Los Metadatos</h3></div>
            <div class="panel-body">
            <div class="row">
                <label class="col-xs-3 control-label">Nombre Completo Personal</label>
                <div class="col-xs-5">
                    {{ metadatos.nombremd }}
                </div>
            </div>
            <div class="row">
                <label class="col-xs-3 control-label">Nombre de la Organización</label>
                <div class="col-xs-5">
                    {{ metadatos.organizacionmd }}
                </div>
            </div>
            <div class="row">
                <label class="col-xs-3 control-label">Nombre del Cargo</label>
                <div class="col-xs-5">
                    {{ metadatos.cargomd }}
                </div>
            </div>
            <div class="row">
                <label class="col-xs-3 control-label">Rol del punto de Contacto</label>
                <div class="col-xs-5">
                    {{ metadatos.rolmd }}
                </div>
            </div>
            <div class="row">
                <label class="col-xs-3 control-label">Número de Teléfono de Voz</label>
                <div class="col-xs-5">
                    {{ metadatos.telefonomd }}
                </div>
            </div>
            <div class="row">
                <label class="col-xs-3 control-label">Número de Fax</label>
                <div class="col-xs-5">
                    {{ metadatos.faxmd }}
                </div>
            </div>
            <div class="row">
                <label class="col-xs-3 control-label">Dirección</label>
                <div class="col-xs-5">
                    {{ metadatos.direccionmd }}
                </div>
            </div>
            <div class="row">
                <label class="col-xs-3 control-label">Ciudad</label>
                <div class="col-xs-5">
                    {{ metadatos.ciudadmd }}
                </div>
            </div>
            <div class="row">
                <label class="col-xs-3 control-label">Provincia o Area Administrativa</label>
                <div class="col-xs-5">
                    {{ metadatos.provinciamd }}
                </div>
            </div>
            <div class="row">
                <label class="col-xs-3 control-label">Código Postal</label>
                <div class="col-xs-5">
                    {{ metadatos.codpostalmd }}
                </div>
            </div>
            <div class="row">
                <label class="col-xs-3 control-label">País</label>
                <div class="col-xs-5">
                    {{ metadatos.paismd }}
                </div>
            </div>
            <div class="row">
                <label class="col-xs-3 control-label">Dirección Electrónica</label>
                <div class="col-xs-5">
                    {{ metadatos.emailmd }}
                </div>
            </div>            
            </div>
            </div>
            </div>
            </div>
        </div>
    </div>
                
    </body>
{% endblock %}