<html>
    <head>
        <title></title>
        <link rel="stylesheet" type="text/css" href="theme/style.css">
    </head>
    <body>
        <b>Ayuda para la utilizaci&oacute;n del mapa</b><br>
        <br>
        Por defecto la herramienta que aparece activada al acceder al mapa es la de paneo, que permite mover correr el mapa hacia las zonas aledañas.<br>
        <br>
        Haciendo doble clic sobre un punto del mapa, se produce un acercamiento a esa zona.<br>
        <br>
        <img src='/bundles/sistemavisualizador/heron/ux/gxp/git/src/theme/img/silk/add.png'> Agregar capas<br>
        Este botón abre una ventana en donde se puede seleccionar el origen de los datos, y luego la capa o las capas que se desean agregar al mapa por medio del botón Agregar capas.<br>
        <br>
        <img src='/bundles/sistemavisualizador/heron/ux/gxp/git/src/theme/img/silk/add.png'> Buscar capas a partir del catálogo<br>
        Este botón abre una ventana de opciones para la búsqueda de datos a partir del catálogo de IDERA. Está en desarrollo.<br>
        <br>
        <b>Con una capa seleccionada:</b><br>
        <img src='/bundles/sistemavisualizador/heron/ux/gxp/git/src/theme/img/silk/delete.png'> Eliminar capa<br>
        <img src='/bundles/sistemavisualizador/heron/ux/gxp/git/src/theme/img/silk/magnifier.png'> Ver toda la capa<br>
        <img src='/bundles/sistemavisualizador/heron/ux/gxp/git/src/theme/img/silk/wrench.png'> Propiedades de la capa<br>
        <br>
        <b>Botón derecho sobre una capa en el árbol de capas de la de izquierda:</b><br>
        <img src='/bundles/sistemavisualizador/heron/ux/gxp/git/src/theme/img/silk/delete.png'> Eliminar capa<br>
        <img src='/bundles/sistemavisualizador/heron/ux/gxp/git/src/theme/img/silk/magnifier.png'> Ver toda la capa<br>
        <img src='/bundles/sistemavisualizador/heron/ux/gxp/git/src/theme/img/silk/wrench.png'> Propiedades de la capa<br>
        <br>
        <b>Herramientas para manejar el mapa:</b><br>
        <img src='/bundles/sistemavisualizador/heron/ux/gxp/git/src/theme/img/silk/arrow_out.png'> Ver extensión total del mapa<br>
        <img src='/bundles/sistemavisualizador/heron/ux/gxp/git/src/theme/img/silk/magnifier_zoom_in.png'> Acercar mapa<br>
        <img src='/bundles/sistemavisualizador/heron/ux/gxp/git/src/theme/img/silk/magnifier_zoom_out.png'> Alejar mapa<br>
        <img src='/bundles/sistemavisualizador/heron/ux/gxp/git/src/theme/img/silk/arrow_left.png'> Ir a la vista anterior<br>
        <img src='/bundles/sistemavisualizador/heron/ux/gxp/git/src/theme/img/silk/arrow_right.png'> Ir a la vista siguiente<br>
        <br>
        <img src='/bundles/sistemavisualizador/heron/ux/gxp/git/src/theme/img/silk/add.png'> Medir longitudes. Se utiliza haciendo clics sobre el mapa para medir una distancia entre dos puntos o la longitud de una ruta.<br>
        <img src='/bundles/sistemavisualizador/heron/ux/gxp/git/src/theme/img/silk/add.png'> Medir áreas. Se usa dibujando un área por medio de clics sobre el mapa.<br>
        <br>
        <b>Buscar un lugar…</b><br>
        Este es un cuadro de texto para introducir el nombre de algún lugar del país o del mundo para llevar el mapa hacia esa localización. Luego de agregar un nombre o parte de él, la herramienta muestra una lista de opciones que pueden ser seleccionadas para realizar el zoom. Es una herramienta provista por Google.<br>
        <br>        
    </body>
</html>