{% extends 'layout.html.twig' %}

{% block title %}
    Editar Metadatos
{% endblock %}

{% block page %}
    <link rel="stylesheet" href="{{ asset('bundles/sistemavisualizador/OpenLayers-2.12/examples/style.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sistemavisualizador/OpenLayers-2.12/theme/default/style.css') }}"/>
    <script type="text/javascript" src="{{ asset('bundles/sistemavisualizador/OpenLayers-2.12/lib/OpenLayers.js') }}"></script>
    <style type="text/css">
#accountForm {
    margin-top: 15px;
}
#map {
            height: 350px;
            width: 350px;
            background-color: #eee;
        }
        .olControlAttribution {
            bottom: 3px;
            left: 10px;
            line-height: 9px;
            font-size: 9px;
            color: #ccc;
        }
</style>
<script type="text/javascript">
        var lon = -6734829.1930;
        var lat = -3123471.7491;
        var zoom = 5;
        var map, layer;
        var geographic = new OpenLayers.Projection('EPSG:4326');
        var point1 = new OpenLayers.Geometry.Point({{ metadatos.loeste }},{{ metadatos.lnorte }}); //west y north
        var point2 = new OpenLayers.Geometry.Point({{ metadatos.loeste }},{{ metadatos.lsur }}); //west y south
        var point3 = new OpenLayers.Geometry.Point({{ metadatos.leste }},{{ metadatos.lsur }}); //east y south
        var point4 = new OpenLayers.Geometry.Point({{ metadatos.leste }},{{ metadatos.lnorte }}); //east y north
        var bounds = new OpenLayers.Bounds();
        bounds.extend(point1);
        bounds.extend(point2);
        var options = {    
            allOverlays: true
        };

        $(window).load(function(){
            map = new OpenLayers.Map('map', options);
            layer = new OpenLayers.Layer.OSM("OSM");
            map.addLayer(layer);
            
            var sitePoints = [];
var siteStyle = {
  strokeColor: "#770077",
                strokeOpacity: 1,
                strokeWidth: 2,
                fillColor: "#770077",
                fillOpacity: 0.5
};
var layervectormet = new OpenLayers.Layer.Vector("vectormet");

var epsg4326 = new OpenLayers.Projection("EPSG:4326");
point1.transform(epsg4326, map.getProjectionObject());
  sitePoints.push(point1);
point2.transform(epsg4326, map.getProjectionObject());
  sitePoints.push(point2);
point3.transform(epsg4326, map.getProjectionObject());
  sitePoints.push(point3);
point4.transform(epsg4326, map.getProjectionObject());
  sitePoints.push(point4);

var linearRing = new OpenLayers.Geometry.LinearRing(sitePoints);
var geometry = new OpenLayers.Geometry.Polygon([linearRing]);
var polygonFeature = new OpenLayers.Feature.Vector(geometry, null, siteStyle);
layervectormet.addFeatures([polygonFeature]);
        map.addLayer(layervectormet); 

            var control = new OpenLayers.Control();
        OpenLayers.Util.extend(control, {
            draw: function () {                
                this.box = new OpenLayers.Handler.Box( control,
                    {"done": this.notice},
                    {keyMask: OpenLayers.Handler.MOD_SHIFT});
                this.box.activate();
            },

            notice: function (bounds) {
                var ll = map.getLonLatFromPixel(new OpenLayers.Pixel(bounds.left, bounds.bottom)).transform(                   
                    map.getProjectionObject(), new OpenLayers.Projection("EPSG:4326")
                ); 
                var ur = map.getLonLatFromPixel(new OpenLayers.Pixel(bounds.right, bounds.top)).transform(                   
                    map.getProjectionObject(), new OpenLayers.Projection("EPSG:4326")
                ); 
                $('#sistema_userbundle_metadatos_westBoundLongitude').val(ll.lon.toFixed(4));
                $('#sistema_userbundle_metadatos_eastBoundLongitude').val(ur.lon.toFixed(4));
                $('#sistema_userbundle_metadatos_northBoundLatitude').val(ll.lat.toFixed(4));
                $('#sistema_userbundle_metadatos_southBoundLatitude').val(ur.lat.toFixed(4));
            }
        });
        
        map.addLayer(layer);
        map.addControl(control);
        map.setCenter(new OpenLayers.LonLat({{config.centergoogle}}), {{config.zoom}});
        //map.zoomToExtent(bounds);
    });
    
    function selecOp()
    { 
        var op=document.getElementById("escalas"); 
        var tt=document.getElementById("sistema_userbundle_metadatos_denominator"); 
        if (op.selectedIndex==0)tt.value=""; 
        if (op.selectedIndex==1)tt.value="5000"; 
        if (op.selectedIndex==2)tt.value="10000"; 
        if (op.selectedIndex==3)tt.value="25000"; 
        if (op.selectedIndex==4)tt.value="50000"; 
        if (op.selectedIndex==5)tt.value="100000"; 
        if (op.selectedIndex==6)tt.value="250000";
        if (op.selectedIndex==7)tt.value="300000";
        if (op.selectedIndex==8)tt.value="500000";
        if (op.selectedIndex==9)tt.value="1000000";
    }
    </script>    
    <br>
<br>
<br>
<ul class="nav nav-tabs">
    <li class="active"><a href="#identificacion-tab" data-toggle="tab">Identificaci&oacute;n <i class="fa"></i></a></li>
    <li><a href="#contacto-tab" data-toggle="tab">Contacto <i class="fa"></i></a></li>
    <li><a href="#extent-tab" data-toggle="tab">Extent <i class="fa"></i></a></li>
    <li><a href="#calidad-tab" data-toggle="tab">Calidad <i class="fa"></i></a></li>
    <li><a href="#sistemadereferencia-tab" data-toggle="tab">Sistema de Referencia <i class="fa"></i></a></li>
    <li><a href="#distribucion-tab" data-toggle="tab">Distribucion <i class="fa"></i></a></li>
    <li><a href="#metadatos-tab" data-toggle="tab">Metadatos <i class="fa"></i></a></li>
</ul>
    
    {{ form_start(edit_form, {'attr': {'class': 'form-horizontal', 'id': 'accountForm'} }) }}
    <div class="tab-content">
        <div class="tab-pane active" id="identificacion-tab">
            <div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">Identificación</h3></div>            
            <div class="panel-body">
            
            <div class="form-group">                
                <label class="col-xs-3 control-label">{{ form_label(edit_form.title) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.title, {'attr': {'class': 'form-control'}, 'value': metadatos.titulo }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(edit_form.date) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.date, {'attr': {'class': 'form-control'}, 'value': metadatos.fecha }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(edit_form.CI_DateTypeCode) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.CI_DateTypeCode, {'attr': {'class': 'form-control'}, 'value': metadatos.tipofecha }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(edit_form.abstract) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.abstract, {'attr': {'class': 'form-control'}, 'value': metadatos.Resumencd }) }}
                </div>
            </div>
            </div>
            </div>
            <div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">Palabras Clave</h3></div>
            <div class="panel-body">                   
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(edit_form.keyword) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.keyword, {'attr': {'class': 'form-control'}, 'value': metadatos.palabrasclave }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(edit_form.KeywordTypeCode) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.KeywordTypeCode, {'attr': {'class': 'form-control'}, 'value': metadatos.tipopclave }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(edit_form.SpatialRepresentationTypeCode) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.SpatialRepresentationTypeCode, {'attr': {'class': 'form-control'}, 'value': metadatos.tiporepesp }) }}
                </div>
            </div>            
            </div>
            </div>
            <div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">Escala Equivalente</h3></div>
            <div class="panel-body">                   
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(edit_form.denominator) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.denominator, {'attr': {'class': 'form-control'}, 'value': metadatos.denominador }) }}
                </div>
                <select name="escalas" id="escalas" onchange="selecOp()"> 
                        <option>Sugerencias</option> 
                        <option>1:5000</option> 
                        <option>1:10000</option> 
                        <option>1:25000</option> 
                        <option>1:50000</option> 
                        <option>1:100000</option> 
                        <option>1:250000</option>
                        <option>1:300000</option>
                        <option>1:500000</option>
                        <option>1:1000000</option>
                    </select>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(edit_form.LanguageCode) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.LanguageCode, {'attr': {'class': 'form-control'}, 'value': metadatos.idiomacd }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(edit_form.CharacterSetCode) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.CharacterSetCode, {'attr': {'class': 'form-control'}, 'value': metadatos.caracterescd }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(edit_form.TopicCategoryCode) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.TopicCategoryCode, {'attr': {'class': 'form-control'}, 'value': metadatos.temacd }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(edit_form.supplementalInformation) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.supplementalInformation, {'attr': {'class': 'form-control'}, 'value': metadatos.infocomp }) }}
                </div>
            </div>
            </div>
            </div>
        </div>

        <div class="tab-pane" id="contacto-tab">
            <div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">Contacto</h3></div>
            <div class="panel-body">                   
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(edit_form.individualName) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.individualName, {'attr': {'class': 'form-control'}, 'value': metadatos.pcnombre }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(edit_form.organisationName) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.organisationName, {'attr': {'class': 'form-control'}, 'value': metadatos.pcorganizacion }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(edit_form.positionName) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.positionName, {'attr': {'class': 'form-control'}, 'value': metadatos.pccargo }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(edit_form.voice) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.voice, {'attr': {'class': 'form-control'}, 'value': metadatos.pctelefono }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(edit_form.facsimile) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.facsimile, {'attr': {'class': 'form-control'}, 'value': metadatos.pcfax }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(edit_form.deliveryPoint) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.deliveryPoint, {'attr': {'class': 'form-control'}, 'value': metadatos.pcdireccion }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(edit_form.city) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.city, {'attr': {'class': 'form-control'}, 'value': metadatos.pcciudad }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(edit_form.administrativeArea) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.administrativeArea, {'attr': {'class': 'form-control'}, 'value': metadatos.pcprovincia }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(edit_form.postalCode) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.postalCode, {'attr': {'class': 'form-control'}, 'value': metadatos.pccodpostal }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(edit_form.country) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.country, {'attr': {'class': 'form-control'}, 'value': metadatos.pcpais }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(edit_form.electronicMailAddress) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.electronicMailAddress, {'attr': {'class': 'form-control'}, 'value': metadatos.pcemail }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(edit_form.CI_RoleCode) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.CI_RoleCode, {'attr': {'class': 'form-control'}, 'value': metadatos.pcrol }) }}
                </div>
            </div>
            </div>
            </div>
        </div>
        <div class="tab-pane" id="extent-tab">
            <div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">Extensión Temporal del Conjunto de Datos</h3></div>
            <div class="panel-body">                   
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(edit_form.extent_begin) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.extent_begin, {'attr': {'class': 'form-control'}, 'value': desde }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(edit_form.extent_end) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.extent_end, {'attr': {'class': 'form-control'}, 'value': hasta }) }}
                </div>
            </div>           
            </div>
            </div>
                
            <div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">Extensión Geográfica del Conjunto de Datos</h3></div>
            <div class="panel-body">
                <div class="col-xs-4">
                    <div id="map" style="height: 350px; width: 350px"></div>
            </div>
            <div class="col-xs-8">
            <div class="form-group">                
                <label class="col-xs-3 control-label">{{ form_label(edit_form.westBoundLongitude) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.westBoundLongitude, {'attr': {'class': 'form-control'}, 'value': metadatos.loeste }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(edit_form.eastBoundLongitude) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.eastBoundLongitude, {'attr': {'class': 'form-control'}, 'value': metadatos.leste }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(edit_form.southBoundLatitude) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.southBoundLatitude, {'attr': {'class': 'form-control'}, 'value': metadatos.lsur }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(edit_form.northBoundLatitude) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.northBoundLatitude, {'attr': {'class': 'form-control'}, 'value': metadatos.lnorte }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(edit_form.extent) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.extent, {'attr': {'class': 'form-control'}, 'value': metadatos.nomgeog }) }}
                </div>
            </div>
            </div>
            </div>
            </div>
        </div>
        <div class="tab-pane" id="calidad-tab">
            <div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">Calidad</h3></div>
            <div class="panel-body">                   
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(edit_form.ScopeCode) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.ScopeCode, {'attr': {'class': 'form-control'}, 'value': metadatos.njerarquico }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(edit_form.Statement) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.Statement, {'attr': {'class': 'form-control'}, 'value': metadatos.linaje }) }}
                </div>
            </div>           
            </div>
            </div>            
        </div>
        <div class="tab-pane" id="sistemadereferencia-tab">
            <div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">Sistema de Referencia</h3></div>
            <div class="panel-body">                   
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(edit_form.code) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.code, {'attr': {'class': 'form-control'}, 'value': metadatos.codigoref }) }}
                </div>
            </div>                      
            </div>
            </div>            
        </div>
        <div class="tab-pane" id="distribucion-tab">
            <div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">Distribucion</h3></div>
            <div class="panel-body">                   
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(edit_form.name) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.name, {'attr': {'class': 'form-control'}, 'value': metadatos.distnom }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(edit_form.version) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.version, {'attr': {'class': 'form-control'}, 'value': metadatos.distversion }) }}
                </div>
            </div>
            </div>
            </div>
            <div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">Recurso Online</h3></div>
            <div class="panel-body">                   
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(edit_form.URL) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.URL, {'attr': {'class': 'form-control'}, 'value': metadatos.url }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(edit_form.description) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.description, {'attr': {'class': 'form-control'}, 'value': metadatos.descripcion }) }}
                </div>
            </div>
            </div>
            </div>
        </div>
        <div class="tab-pane" id="metadatos-tab">
            <div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">Metadatos</h3></div>
            <div class="panel-body">                   
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(edit_form.fileIdentifier) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.fileIdentifier, {'attr': {'class': 'form-control'}, 'value': metadatos.identificador }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(edit_form.LanguageCode_MD) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.LanguageCode_MD, {'attr': {'class': 'form-control'}, 'value': metadatos.idiomamd }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(edit_form.metadataStandardName) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.metadataStandardName, {'attr': {'class': 'form-control'}, 'value': metadatos.normamd }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(edit_form.metadataStandardVersion) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.metadataStandardVersion, {'attr': {'class': 'form-control'}, 'value': metadatos.versionmd }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(edit_form.CharacterSetCode_MD) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.CharacterSetCode_MD, {'attr': {'class': 'form-control'}, 'value': metadatos.caracteresmd }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(edit_form.dateStamp) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.dateStamp, {'attr': {'class': 'form-control'}, 'value': metadatos.fechamd }) }}
                </div>
            </div>            
            <div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">Autor de Los Metadatos</h3></div>
            <div class="panel-body">
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(edit_form.individualName_MD) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.individualName_MD, {'attr': {'class': 'form-control'}, 'value': metadatos.nombremd }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(edit_form.organisationName_MD) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.organisationName_MD, {'attr': {'class': 'form-control'}, 'value': metadatos.organizacionmd }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(edit_form.positionName_MD) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.positionName_MD, {'attr': {'class': 'form-control'}, 'value': metadatos.cargomd }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(edit_form.CI_RoleCode_MD) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.CI_RoleCode_MD, {'attr': {'class': 'form-control'}, 'value': metadatos.rolmd }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(edit_form.voice_MD) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.voice_MD, {'attr': {'class': 'form-control'}, 'value': metadatos.telefonomd }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(edit_form.facsimile_MD) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.facsimile_MD, {'attr': {'class': 'form-control'}, 'value': metadatos.faxmd }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(edit_form.deliveryPoint_MD) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.deliveryPoint_MD, {'attr': {'class': 'form-control'}, 'value': metadatos.direccionmd }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(edit_form.city_MD) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.city_MD, {'attr': {'class': 'form-control'}, 'value': metadatos.ciudadmd }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(edit_form.administrativeArea_MD) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.administrativeArea_MD, {'attr': {'class': 'form-control'}, 'value': metadatos.provinciamd }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(edit_form.postalCode_MD) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.postalCode_MD, {'attr': {'class': 'form-control'}, 'value': metadatos.codpostalmd }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(edit_form.country_MD) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.country_MD, {'attr': {'class': 'form-control'}, 'value': metadatos.paismd }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(edit_form.electronicMailAddress_MD) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.electronicMailAddress_MD, {'attr': {'class': 'form-control'}, 'value': metadatos.emailmd }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(edit_form.usuariocapa) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(edit_form.usuariocapa, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div> 
            </div>
            </div>
            </div>
            </div>
        </div>
    </div>
{{ form_end(edit_form) }}
{% endblock %}

{% block javascript %}
    {{ parent() }}    
    <script>
$(document).ready(function() {
    $('#accountForm')
        .bootstrapValidator({
            framework: 'bootstrap',
            // Only disabled elements are excluded
            // The invisible elements belonging to inactive tabs must be validated
            excluded: [':disabled'],
            icon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                sistema_userbundle_metadatos_URL: {
                    validators: {
                        notEmpty: {
                            message: 'The full name is required'
                        }
                    }
                },
                company: {
                    validators: {
                        notEmpty: {
                            message: 'The company name is required'
                        }
                    }
                },
                address: {
                    validators: {
                        notEmpty: {
                            message: 'The address is required'
                        }
                    }
                },
                city: {
                    validators: {
                        notEmpty: {
                            message: 'The city is required'
                        }
                    }
                }
            }
        })
        // Called when a field is invalid
        .on('err.field.fv', function(e, data) {
            // data.element --> The field element

            var $tabPane = data.element.parents('.tab-pane'),
                tabId    = $tabPane.attr('id');

            $('a[href="#' + tabId + '"][data-toggle="tab"]')
                .parent()
                .find('i')
                .removeClass('fa-check')
                .addClass('fa-times');
        })
        // Called when a field is valid
        .on('success.field.fv', function(e, data) {
            // data.fv      --> The FormValidation instance
            // data.element --> The field element

            var $tabPane = data.element.parents('.tab-pane'),
                tabId    = $tabPane.attr('id'),
                $icon    = $('a[href="#' + tabId + '"][data-toggle="tab"]')
                            .parent()
                            .find('i')
                            .removeClass('fa-check fa-times');

            // Check if all fields in tab are valid
            var isValidTab = data.fv.isValidContainer($tabPane);
            if (isValidTab !== null) {
                $icon.addClass(isValidTab ? 'fa-check' : 'fa-times');
            }
        });
});
</script>
{% endblock %}