{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'views.new.creation'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
{% endblock %}

{% block page %}
    <link rel="stylesheet" href="{{ asset('bundles/sistemavisualizador/OpenLayers-2.12/examples/style.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sistemavisualizador/OpenLayers-2.12/theme/default/style.css') }}"/>
    <script type="text/javascript" src="{{ asset('bundles/sistemavisualizador/OpenLayers-2.12/lib/OpenLayers.js') }}"></script>
    <style type="text/css">
#accountForm {
    margin-top: 15px;
}
#map {
            height: 350px;
            width: 350px;
            background-color: #eee;
        }
        .olControlAttribution {
            bottom: 3px;
            left: 10px;
            line-height: 9px;
            font-size: 9px;
            color: #ccc;
        }
</style>
<script type="text/javascript">
        var lon = -6734829.1930;
        var lat = -3123471.7491;
        var zoom = 5;
        var map, layer;
        var geographic = new OpenLayers.Projection('EPSG:4326');
        var point1 = new OpenLayers.Geometry.Point(-64.24129,-23.892);
        var point2 = new OpenLayers.Geometry.Point(-57.704,-28.23234);
        var bounds = new OpenLayers.Bounds();
        bounds.extend(point1);
        bounds.extend(point2);
        var options = {    
            allOverlays: true
        };

        $(window).load(function(){
            map = new OpenLayers.Map('map', options);
            layer = new OpenLayers.Layer.OSM("OSM");
            map.addLayer(layer);

            var control = new OpenLayers.Control();
        OpenLayers.Util.extend(control, {
            draw: function () {                
                this.box = new OpenLayers.Handler.Box( control,
                    {"done": this.notice},
                    {keyMask: OpenLayers.Handler.MOD_SHIFT});
                this.box.activate();
            },

            notice: function (bounds) {
                var ll = map.getLonLatFromPixel(new OpenLayers.Pixel(bounds.left, bounds.bottom)).transform(                   
                    map.getProjectionObject(), new OpenLayers.Projection("EPSG:4326")
                ); 
                var ur = map.getLonLatFromPixel(new OpenLayers.Pixel(bounds.right, bounds.top)).transform(                   
                    map.getProjectionObject(), new OpenLayers.Projection("EPSG:4326")
                ); 
                $('#sistema_userbundle_metadatos_westBoundLongitude').val(ll.lon.toFixed(4));
                $('#sistema_userbundle_metadatos_eastBoundLongitude').val(ur.lon.toFixed(4));
                $('#sistema_userbundle_metadatos_northBoundLatitude').val(ll.lat.toFixed(4));
                $('#sistema_userbundle_metadatos_southBoundLatitude').val(ur.lat.toFixed(4));
            }
        });
        
        map.addLayer(layer);
        map.addControl(control);
        map.setCenter(new OpenLayers.LonLat({{configmet.centergoogle}}), {{configmet.zoom}});
        //map.zoomToExtent(bounds);
    });
    
    function selecOp()
    { 
        var op=document.getElementById("escalas"); 
        var tt=document.getElementById("sistema_userbundle_metadatos_denominator"); 
        if (op.selectedIndex==0)tt.value=""; 
        if (op.selectedIndex==1)tt.value="5000"; 
        if (op.selectedIndex==2)tt.value="10000"; 
        if (op.selectedIndex==3)tt.value="25000"; 
        if (op.selectedIndex==4)tt.value="50000"; 
        if (op.selectedIndex==5)tt.value="100000"; 
        if (op.selectedIndex==6)tt.value="250000";
        if (op.selectedIndex==7)tt.value="300000";
        if (op.selectedIndex==8)tt.value="500000";
        if (op.selectedIndex==9)tt.value="1000000";
    }
    $(document).on("click", ".open-AddBookDialog", function () {
     var cond = $(this).data('condicion');
     var def = $(this).data('definicion');
     var ayuda = $(this).data('ayuda');
     var ejemplo = $(this).data('ejemplo');
     document.getElementById('condicion').innerHTML=cond;
     document.getElementById('definicion').innerHTML=def;
     document.getElementById('ejemplo').innerHTML=ejemplo;
     document.getElementById('ayuda').innerHTML=ayuda;
});
    </script>
    <br>
<br>
<br>
<ul class="nav nav-tabs">
    <li class="active"><a href="#identificacion-tab" data-toggle="tab">Identificaci&oacute;n <i class="fa"></i></a></li>
    <li><a href="#contacto-tab" data-toggle="tab">Contacto <i class="fa"></i></a></li>
    <li><a href="#extent-tab" data-toggle="tab">Extent <i class="fa"></i></a></li>
    <li><a href="#calidad-tab" data-toggle="tab">Calidad <i class="fa"></i></a></li>
    <li><a href="#sistemadereferencia-tab" data-toggle="tab">Sistema de Referencia <i class="fa"></i></a></li>
    <li><a href="#distribucion-tab" data-toggle="tab">Distribucion <i class="fa"></i></a></li>
    <li><a href="#metadatos-tab" data-toggle="tab">Metadatos <i class="fa"></i></a></li>
    <li><a href="#ayuda-tab" data-toggle="tab">Ayuda <i class="fa"></i></a></li>
</ul>
<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Ayuda</h4>
      </div>
      <div class="modal-body">
          <b>Condicion:</b> <p id="condicion"></p>
          <b>Definicion:</b> <p id="definicion"></p>
          <b>Ayuda:</b><p id="ayuda"></p>
          <b>Ejemplo: </b><i><p id="ejemplo"></p></i>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
    
    {{ form_start(form, {'attr': {'class': 'form-horizontal', 'id': 'accountForm'} }) }}
    <div class="tab-content">
        <div class="tab-pane active" id="identificacion-tab">
            <div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">Identificación</h3></div>            
            <div class="panel-body">
            
            <div class="form-group">                
                <label class="col-xs-3 control-label">{{ form_label(form.title) }}</label>
                <a data-toggle="modal" 
                    data-condicion="Obligatorio" 
                    data-definicion="Nombre por el que se conoce formalmente el recurso (capa o archivo digital), asignado por el autor u organismo responsable (creadores). "
                    data-ayuda="El título deberá escribirse priorizando el equilibrio entre la
                                síntesis, la claridad y lo específico. Debe estar fuertemente
                                relacionado con el contenido o desarrollo del recurso,
                                evitándose ambigüedades, abreviaturas, siglas y simbologías"
                    data-ejemplo="‘Limite político de Santa Fe’
                                ‘Cuencas hidrográficas de superficie’
                                ‘Ríos permanentes de Chaco’
                                ‘Red vial de Buenos Aires’" 
                    title="Add this item" class="open-AddBookDialog" data-target="#myModal">ayuda</a>
                <div class="col-xs-5">
                    {{ form_widget(form.title, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(form.date) }}</label>
                <a data-toggle="modal" 
                    data-condicion="Obligatorio" 
                    data-definicion="Fecha de referencia del recurso."
                    data-ayuda="Fecha que, dependiendo de su tipo (Creación, Publicación,
                                Revisión), va a determinar el tiempo exacto en que se creó,
                                publicó o se realizó un cambio en el recurso. (Ver mas detalle
                                en Anexo I)."
                    data-ejemplo="Fecha de Referencia
                                 Fecha: 2010-01-01
                                 Tipo: Creación
                                 Fecha: 2010-05-01
                                 Tipo: Revisión" 
                    title="Add this item" class="open-AddBookDialog" data-target="#myModal">ayuda</a>
                <div class="col-xs-5">
                    {{ form_widget(form.date, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(form.CI_DateTypeCode) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(form.CI_DateTypeCode, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(form.abstract) }}</label>
                <a data-toggle="modal" 
                    data-condicion="Obligatorio" 
                    data-definicion="Relato sintético del
                                    contenido del recurso,
                                    complementario a la
                                    DESCRIPCIÓN."
                    data-ayuda="Este descriptor representa una importante guía,
                                complementaria a la descripción, para el interesado en una
                                búsqueda específica. Por su importancia, se deberá poner
                                especial atención en los términos utilizados, su grado de
                                complejidad y la extensión del texto (recomendado sintético)"
                    data-ejemplo="Como parte del desarrollo del Proyecto Sistema de Información Territorial de Santa Cruz (SIT
                                SantaCruz) se desarrolló un mapa de cuencas hidrográficas de superficie para la provincia de Santa Cruz en
                                escala 1:50.000, a partir del análisis de mosaicos satelitales Landsat, de cartografía antecedente disponible y de
                                información topográfica radar SRTM3. El mapa de cuencas hidrográficas de superficie logrado comprende 13
                                grandes unidades hidrográficas, de superficie variable y un total de 38 unidades hidrográficas menores.´" 
                    title="Add this item" class="open-AddBookDialog" data-target="#myModal">ayuda</a>
                <div class="col-xs-5">
                    {{ form_widget(form.abstract, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            </div>
            </div>
            <div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">Palabras Clave</h3></div>
            <div class="panel-body">                   
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(form.keyword) }}</label>
                <a data-toggle="modal" 
                    data-condicion="Obligatorio" 
                    data-definicion="Término significativo
                                    utilizado para la
                                    catalogación o
                                    categorización del
                                    recurso de interés."
                    data-ayuda="Sirven para describir, a partir de una catalogación (o reducción
                                a términos genéricos simples y abarcativos) de un recurso.
                                Utilizando este descriptor como complemento del TITULO
                                (A_1), es posible enriquecer la búsqueda de recursos a partir
                                de asociación de conceptos"
                    data-ejemplo="Ej.: para el título de un recurso
                                ‘Cuencas hidrográficas de superficie’
                                Palabras Clave: ‘Hidrología’,
                                ‘Ordenamiento Territorial’, ‘Recursos
                                Naturales’, ‘Manejo’.
                                Ej.: para el título de un recurso ‘Red
                                vial de Puerto Santa Cruz’ Palabras
                                Clave: ‘Vialidad’, ‘Urbanismo’,
                                ‘Planificación’" 
                    title="Add this item" class="open-AddBookDialog" data-target="#myModal">ayuda</a>
                <div class="col-xs-5">
                    {{ form_widget(form.keyword, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(form.KeywordTypeCode) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(form.KeywordTypeCode, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(form.SpatialRepresentationTypeCode) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(form.SpatialRepresentationTypeCode, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>            
            </div>
            </div>
            <div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">Escala Equivalente</h3></div>
            <div class="panel-body">                   
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(form.denominator) }}</label>
                
                <div class="col-xs-5">
                    {{ form_widget(form.denominator, {'attr': {'class': 'form-control'} }) }}
                </div>
                <select name="escalas" id="escalas" onchange="selecOp()"> 
                        <option>Sugerencias</option> 
                        <option>1:5000</option> 
                        <option>1:10000</option> 
                        <option>1:25000</option> 
                        <option>1:50000</option> 
                        <option>1:100000</option> 
                        <option>1:250000</option>
                        <option>1:300000</option>
                        <option>1:500000</option>
                        <option>1:1000000</option>
                    </select>
                <a data-toggle="modal" 
                    data-condicion="Obligatorio" 
                    data-definicion="Relación entre la
                                    dimensión real de los
                                    objetos y las
                                    representaciones gráficas
                                    posibles a través de la
                                    teledetección o bien de la
                                    digitalización."
                    data-ayuda="Representa la escala a la cual se hayan representados los fenómenos
                                terrestres en el recurso desarrollado. En el caso de las digitalizaciones
                                (vectoriales) en pantalla o planchetas, la escala (y por consiguiente el
                                grado de detalle alcanzado por el dibujo) son una función de la escala
                                del material fuente o de base. En el caso de material de tipo raster, la
                                escala se encuentra condicionada por las mínimas unidades de
                                información en éste (por ejemplo el pixel en el caso de las imágenes
                                satelitales, o el grano en la fotografía aérea) o bien la distancia o
                                dimensiones mínimas de los objetos discernibles en éste."
                    data-ejemplo="1:1.000.000" 
                    title="Add this item" class="open-AddBookDialog" data-target="#myModal">ayuda</a>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(form.LanguageCode) }}</label>
                <a data-toggle="modal" 
                    data-condicion="Obligatorio" 
                    data-definicion="Conforme a ISO 19115,
                                    este elemento es
                                    opcional y se recomienda
                                    que se complete según
                                    los códigos para estos
                                    idiomas en ISO 639-2"
                    data-ayuda="Consiste en el idioma en que el recurso se encuentra
                                disponible para su distribución y/o consulta."
                    data-ejemplo="Ej.: ‘spa’ ‘en’" 
                    title="Add this item" class="open-AddBookDialog" data-target="#myModal">ayuda</a>
                <div class="col-xs-5">
                    {{ form_widget(form.LanguageCode, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(form.CharacterSetCode) }}</label>
                <a data-toggle="modal" 
                    data-condicion="Condicional" 
                    data-definicion="Nombre completo del
                    estándar de codificación
                    de caracteres usado para
                    el dataset."
                    data-ayuda="La “codificación de caracteres” es el “método” que permite
                    convertir un “carácter” de un “lenguaje
                    natural” (alfabeto o silabario) en un símbolo de otro sistema
                    de representación, como un número o una secuencia de
                    pulsos eléctricos en un sistema electrónico, aplicando normas
                    o reglas de codificación"
                    data-ejemplo="Ej.: ‘utf-8’" 
                    title="Add this item" class="open-AddBookDialog" data-target="#myModal">ayuda</a>
                <div class="col-xs-5">
                    {{ form_widget(form.CharacterSetCode, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(form.TopicCategoryCode) }}</label>
                <a data-toggle="modal" 
                    data-condicion="Obligatorio" 
                    data-definicion="Tópico que caracteriza el
                    contenido del recurso."
                    data-ayuda="El descriptor expresa a través de palabras clave, a partir de
                    una lista desplegable, proveniente de la categorización
                    provista en la ISO, en forma clara y sintética un tema que
                    engloba de alguna manera el asunto del recurso."
                    data-ejemplo="<b>001 Agricultura:</b> Cultivo de la agricultura, cría de animales o el cultivo de plantas.
                    Por ejemplo, describir los recursos de riego, acuicultura, ganadería, y las plagas y enfermedades que afectan los
                    cultivos y el ganado.<br>
                    <b>002 Biota:</b> Natural de flora y fauna. Por ejemplo, los recursos que describen la vida silvestre, las ciencias
                    biológicas, ecología, naturaleza, vida marina, humedales y hábitats.<br>
                    <b>003 Límites:</b> Descripción legal de la tierra.<br>
                    <b>004 Clima:</b> Climatología / Meteorología / Atmósfera: los procesos atmosféricos y los fenómenos.
                    Por ejemplo, los recursos que describen la cobertura de nubes, condiciones atmosféricas, el cambio climático, y
                    la precipitación.<br>
                    <b>005 Economía:</b> Las actividades económicas o de empleo.
                    Por ejemplo, los recursos que describen el trabajo, los ingresos, el comercio, la industria, el turismo y el
                    ecoturismo, la silvicultura, la pesca, la caza comercial o de subsistencia, y la exploración y explotación de
                    recursos tales como minerales, petróleo y gas.<br>
                    <b>006 Elevación:</b> Altura por encima o por debajo del nivel del mar.
                    Por ejemplo, los recursos que describen la altitud, batimetría, modelos digitales de elevaciones, pendientes, y
                    los productos derivados de esta información.<br>
                    <b>007 Medio ambiente:</b> Recursos del medio ambiente, la protección y conservación.
                    Por ejemplo, los recursos que describen la contaminación, el almacenamiento y tratamiento de residuos,
                    evaluación de impacto ambiental, riesgo ambiental, y las reservas naturales.<br>
                    <b>008 Información Geocientífica:</b> Ciencias de la tierra.
                    Por ejemplo, los recursos que describen las características geofísicas y de los procesos, los minerales, la
                    estructura, composición y origen de las rocas de la tierra, terremotos, actividad volcánica, corrimientos de
                    tierras, la información de la gravedad, los suelos, el permafrost, la hidrogeología y la erosión.<br>
                    <b>009 Salud: </b>Los servicios de salud, ecología humana y seguridad.
                    Por ejemplo, los recursos que describen las enfermedades humanas y la enfermedad, los factores que afectan
                    la salud, la higiene, la salud física y mental, abuso de sustancias, y servicios de salud.<br>
                    <b>010 Coberturas Básicas: </b>Imágenes con mapas básicos de cobertura de la Tierra.
                    Por ejemplo, los recursos que describen las cubiertas del suelo, mapas topográficos, y las imágenes clasificadas 
                    
                    y sin clasificar.<br>
                    <b>011 Inteligencia / Militar: </b>Bases militares, las estructuras y actividades.
                    Por ejemplo, los recursos que describe cuarteles, campos de entrenamiento, transporte militar, y la
                    recopilación de información.<br>
                    <b>012 Aguas interiores: </b>Características del agua tierra adentro, sistemas de drenaje y sus características.
                    Por ejemplo, los recursos que describen los ríos y glaciares, lagos salados, planes de uso del agua, presas,
                    corrientes, inundaciones, calidad del agua, y cartas hidrográficas.<br>
                    <b>013 Ubicación: </b>Información posicional y servicios.
                    Por ejemplo, los recursos que describen las direcciones, redes geodésicas, las zonas y servicios postales, puntos
                    de control, y los nombres de lugar.<br>
                    <b>014 Océanos: </b>Características de las aguas saladas excluidas las aguas interiores.
                    Por ejemplo, los recursos que describen las mareas, maremotos, información costeras y arrecifes.<br>
                    <b>015 Planificación de Catastro: </b>Uso de la tierra.
                    Por ejemplo, los recursos que describen los mapas de zonificación, levantamientos catastrales, y propiedad de
                    la tierra.<br>
                    <b>016 Sociedad: </b>Las características de las sociedades y culturas.
                    Por ejemplo, los recursos que describen los asentamientos naturales, la antropología, la arqueología, la
                    educación, las creencias tradicionales, usos y costumbres, datos demográficos, la delincuencia y la justicia,
                    áreas recreativas y actividades, las evaluaciones de impacto social, y la información del censo.<br>
                    <b>017 Estructura: </b>Recursos construidos por el hombre.
                    Por ejemplo, los recursos que describen los edificios, museos, iglesias, fábricas, viviendas, monumentos y
                    torres.<br>
                    <b>018 Transporte: </b>Los medios y ayudas para el transporte de personas y mercancías.
                    Por ejemplo, los recursos que describen las carreteras, aeropuertos y pistas de aterrizaje, vías marítimas,
                    túneles, cartas náuticas, localización del vehículo o embarcación, cartas aeronáuticas, y los ferrocarriles.<br>
                    <b>019 Utilidades / Comunicaciones: </b>Energía, agua y sistemas de residuos, y la infraestructura de comunicaciones
                    y servicios.
                    Por ejemplo, los recursos que describe la energía hidroeléctrica, geotérmica, solar y de fuentes nucleares de
                    energía, purificación y distribución de agua, recolección de aguas residuales y la eliminación, la
                    electricidad y de distribución de gas, la comunicación de datos, telecomunicaciones, radio y redes de
                    comunicación<br>" 
                    title="Add this item" class="open-AddBookDialog" data-target="#myModal">ayuda</a>
                <div class="col-xs-5">
                    {{ form_widget(form.TopicCategoryCode, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(form.supplementalInformation) }}</label>
                <a data-toggle="modal" 
                    data-condicion="Opcional" 
                    data-definicion="Información Adicional que puede proveerse
                                    acerca de la validez del dato, ya sea en un período temporal o en un
                                    margen de escala vertical."
                    data-ayuda="Cuando la validez de la información contenida en un recurso (y por
                                consecuencia de éste mismo) resultara condicionada por la fecha de
                                actualización o bien por un período en particular dentro del cual
                                tuviera validez un dato representado (por ejemplo, calidad físico–
                                química de un muestreo realizado en pozos de agua con destino a
                                consumo humano), o bien cuando la información solo tuviera validez
                                de uso en un margen acotado vertical (pixel de resolución de un geo
                                tiff por ej.) este elemento permite su representación."
                    data-ejemplo="Los Suelos. Nivel de Reconocimiento
                                1:500.000. Recursos Nat. de la Prov.
                                de Córdoba. 2006: En la zona Centro y
                                Sudeste, posee inventarios a nivel de
                                semi detalle con mapas a escala
                                1:50.000. Se aportan además, límites
                                departamentales, vías de
                                comunicación y poblaciones." 
                    title="Add this item" class="open-AddBookDialog" data-target="#myModal">ayuda</a>
                <div class="col-xs-5">
                    {{ form_widget(form.supplementalInformation, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            </div>
            </div>
        </div>

        <div class="tab-pane" id="contacto-tab">
            <div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">Contacto</h3></div>
            <div class="panel-body">                   
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(form.individualName) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(form.individualName, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(form.organisationName) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(form.organisationName, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(form.positionName) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(form.positionName, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(form.voice) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(form.voice, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(form.facsimile) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(form.facsimile, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(form.deliveryPoint) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(form.deliveryPoint, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(form.city) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(form.city, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(form.administrativeArea) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(form.administrativeArea, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(form.postalCode) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(form.postalCode, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(form.country) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(form.country, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(form.electronicMailAddress) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(form.electronicMailAddress, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(form.CI_RoleCode) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(form.CI_RoleCode, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            </div>
            </div>
        </div>
        <div class="tab-pane" id="extent-tab">
            <div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">Extensión Temporal del Conjunto de Datos</h3></div>
            <div class="panel-body">                   
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(form.extent_begin) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(form.extent_begin) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(form.extent_end) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(form.extent_end, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <a data-toggle="modal" 
                    data-condicion="Obligatorio" 
                    data-definicion="Periodo de tiempo cubierto por el contenido del recurso definido según está
                    especificado en la norma ISO 8601. Esta clase está documentada completamente en la norma ISO
                    19108."
                    data-ayuda="La extension temporal permite dar una idea de la validez de los datos"                                    
                                
                    data-ejemplo="Ej. 01/01/2015 - 31/12/2016" 
                    title="Add this item" class="open-AddBookDialog" data-target="#myModal">ayuda</a>
            </div>
            </div>
                
            <div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">Extensión Geográfica del Conjunto de Datos</h3>
            
            </div>
            <div class="panel-body">
                <div class="col-xs-4">
                    <div id="map" style="height: 350px; width: 350px"></div>
            </div>
            <div class="col-xs-8">
            
            <div class="form-group">                
                <label class="col-xs-3 control-label">{{ form_label(form.westBoundLongitude) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(form.westBoundLongitude, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(form.eastBoundLongitude) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(form.eastBoundLongitude, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(form.southBoundLatitude) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(form.southBoundLatitude, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(form.northBoundLatitude) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(form.northBoundLatitude, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(form.extent) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(form.extent, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <a data-toggle="modal" 
                    data-condicion="Opcional" 
                    data-definicion="Ubicación y extensión
                                espacial, mediante
                                coordenadas, del recurso
                                documentado."
                    data-ayuda="La cobertura permite dar una idea de la extensión total o área
                                de influencia del recurso desarrollado. Por extensión también
                                permite aproximar una idea del alcance espacial o cobertura
                                de la información de base o proyecto de trabajo, en el cual se
                                desarrolló el recurso"
                    data-ejemplo="Ej. para la cobertura de TODA Santa
                                Cruz:
                                N -45,9548
                                O -73,8777
                                E -65,7969
                                S -52,2978" 
                    title="Add this item" class="open-AddBookDialog" data-target="#myModal">ayuda</a>
            </div>
            </div>
            </div>
        </div>
        <div class="tab-pane" id="calidad-tab">
            <div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">Calidad</h3></div>
            <div class="panel-body">                   
            <div class="form-group" style="visibility: hidden">
                <label class="col-xs-3 control-label">{{ form_label(form.ScopeCode) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(form.ScopeCode, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(form.Statement) }}</label>
                <a data-toggle="modal" 
                    data-condicion="Obligatorio" 
                    data-definicion="Sintética descripción,
mención o cita de la/s
fuente/s de información
de la cual deriva o a partir
de las cuales se ha
generado el recurso bajo
documentación."
                    data-ayuda="Referencia al o los recursos del cual deriva el recurso actual
bajo documentación. El recurso actual puede derivar de
fuentes diversas"                                    
                                
                    data-ejemplo="Se relevaron los Centros de Atención Sanitarias con herramientas GPS, El Trabajo lo desarrollaron consultores contratados por la Secretaría de Planificación y Evaluación de Resultados. Se encuentra en desarrollo.
" 
                    title="Add this item" class="open-AddBookDialog" data-target="#myModal">ayuda</a>
                <div class="col-xs-5">
                    {{ form_widget(form.Statement, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>           
            </div>
            </div>            
        </div>
        <div class="tab-pane" id="sistemadereferencia-tab">
            <div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">Sistema de Referencia</h3></div>
            <div class="panel-body">                   
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(form.code) }}</label>
                <a data-toggle="modal" 
                    data-condicion="Obligatorio" 
                    data-definicion="La proyección
correspondiente a aquella
en la que se ha
desarrollado el recurso."
                    data-ayuda="Si el dato que se clasifica es de tipo capa (shp o similar) o
imagen (sat. o similar), se debe detallar la proyección
correspondiente a aquella en la que se ha desarrollado el
recurso o, si se presentaran diferencias, en la proyección en la
cual el recurso se documenta y se encuentra disponible."                                    
                                
                    data-ejemplo="Posgar 98 faja 5.
" 
                    title="Add this item" class="open-AddBookDialog" data-target="#myModal">ayuda</a>
                <div class="col-xs-5">
                    {{ form_widget(form.code, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>                      
            </div>
            </div>            
        </div>
        <div class="tab-pane" id="distribucion-tab">
            <div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">Distribucion</h3></div>
            <div class="panel-body">                   
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(form.name) }}</label>
                <a data-toggle="modal" 
                    data-condicion="Obligatorio" 
                    data-definicion="Descripción de la forma
de distribución del dato."
                    data-ayuda=""                                    
                                
                    data-ejemplo="eje_calles.shp"
                    title="Add this item" class="open-AddBookDialog" data-target="#myModal">ayuda</a>
                <div class="col-xs-5">
                    {{ form_widget(form.name, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(form.version) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(form.version, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            </div>
            </div>
            <div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">Recurso Online</h3></div>
            <div class="panel-body">                   
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(form.URL) }}</label>
                <a data-toggle="modal" 
                    data-condicion="Obligatorio" 
                    data-definicion="Información sobre las
fuentes on-line a través
de las cuales puede ser
obtenido el dataset. "
                    data-ayuda="Se menciona la URL de ubicación del dato y una descripción
detallada de lo que hace el recurso on-line. Puede referirse
tanto a portales web, repositorios ftp, o enlaces OGC tipo
wms/wfs/wcs, etc"                                    
                                
                    data-ejemplo="Portal Web IDEChaco http://idechaco.gob.ar"
                    title="Add this item" class="open-AddBookDialog" data-target="#myModal">ayuda</a>
                <div class="col-xs-5">
                    {{ form_widget(form.URL, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(form.description) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(form.description, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            </div>
            </div>
        </div>
        <div class="tab-pane" id="metadatos-tab">
            <div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">Metadatos</h3></div>
            <div class="panel-body">                   
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(form.fileIdentifier) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(form.fileIdentifier, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(form.LanguageCode_MD) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(form.LanguageCode_MD, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(form.metadataStandardName) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(form.metadataStandardName, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(form.metadataStandardVersion) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(form.metadataStandardVersion, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(form.CharacterSetCode_MD) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(form.CharacterSetCode_MD, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(form.dateStamp) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(form.dateStamp, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>            
            <div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">Autor de Los Metadatos</h3></div>
            <div class="panel-body">
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(form.individualName_MD) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(form.individualName_MD, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(form.organisationName_MD) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(form.organisationName_MD, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(form.positionName_MD) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(form.positionName_MD, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(form.CI_RoleCode_MD) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(form.CI_RoleCode_MD, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(form.voice_MD) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(form.voice_MD, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(form.facsimile_MD) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(form.facsimile_MD, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(form.deliveryPoint_MD) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(form.deliveryPoint_MD, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(form.city_MD) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(form.city_MD, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(form.administrativeArea_MD) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(form.administrativeArea_MD, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(form.postalCode_MD) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(form.postalCode_MD, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(form.country_MD) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(form.country_MD, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(form.electronicMailAddress_MD) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(form.electronicMailAddress_MD, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">{{ form_label(form.usuariocapa) }}</label>
                <div class="col-xs-5">
                    {{ form_widget(form.usuariocapa, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div> 
            </div>
            </div>
            </div>
            </div>
        </div>
        <div class="tab-pane" id="ayuda-tab">
            <div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">A cerca de los metadatos</h3></div>
            <div class="panel-body">                   
            <div itemprop="articleBody">
		
<p style="text-align: justify; font-size: 25px">* Un metadato describe información sobre un recurso (información espacial, capa digital o set de información). En esencia consiste en “datos acerca de otros datos”.</p>
<br>
<p style="text-align: justify; font-size: 25px">* Un metadato consiste en un conjunto de atributos ó elementos necesarios para describir, documentar, un recurso en particular.</p>
<br>
<p style="text-align: justify; font-size: 25px">* Aunque no resulte una herramienta diseñada específicamente para asegurar, entre otras cuestiones, los derechos de propiedad intelectual de un recurso desarrollado, su fin principal es asegurar, para el usuario interesado en un recurso, la documentación mínima indispensable para juzgar al recurso, su confiabilidad práctica y alcance, su grado de actualización y las responsabilidades involucradas en su creación, entre innumerables atributos posibles.</p>
<p style="text-align: justify; font-size: 25px">&nbsp;</p>

<p>&nbsp;</p>
<p>Fuente:</p>
<p>-Perfil de Metadatos IDERA v.1.14</p>
            </div>                      
            </div>
            </div>            
        </div>
    </div>
{{ form_end(form) }}
{% endblock %}

{% block javascript %}
    {{ parent() }}    
    <script>
$(document).ready(function() {
    $('#accountForm')
        .bootstrapValidator({
            framework: 'bootstrap',
            // Only disabled elements are excluded
            // The invisible elements belonging to inactive tabs must be validated
            excluded: [':disabled'],
            icon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                fullName: {
                    validators: {
                        notEmpty: {
                            message: 'The full name is required'
                        }
                    }
                },
                company: {
                    validators: {
                        notEmpty: {
                            message: 'The company name is required'
                        }
                    }
                },
                address: {
                    validators: {
                        notEmpty: {
                            message: 'The address is required'
                        }
                    }
                },
                city: {
                    validators: {
                        notEmpty: {
                            message: 'The city is required'
                        }
                    }
                }
            }
        })
        // Called when a field is invalid
        .on('err.field.fv', function(e, data) {
            // data.element --> The field element

            var $tabPane = data.element.parents('.tab-pane'),
                tabId    = $tabPane.attr('id');

            $('a[href="#' + tabId + '"][data-toggle="tab"]')
                .parent()
                .find('i')
                .removeClass('fa-check')
                .addClass('fa-times');
        })
        // Called when a field is valid
        .on('success.field.fv', function(e, data) {
            // data.fv      --> The FormValidation instance
            // data.element --> The field element

            var $tabPane = data.element.parents('.tab-pane'),
                tabId    = $tabPane.attr('id'),
                $icon    = $('a[href="#' + tabId + '"][data-toggle="tab"]')
                            .parent()
                            .find('i')
                            .removeClass('fa-check fa-times');

            // Check if all fields in tab are valid
            var isValidTab = data.fv.isValidContainer($tabPane);
            if (isValidTab !== null) {
                $icon.addClass(isValidTab ? 'fa-check' : 'fa-times');
            }
        });
});
</script>
{% endblock %}