{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'views.edit.edit'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
{% endblock %}

{% block page %}
    {% form_theme edit_form 'MWSimpleAdminCrudBundle:widget:fields.html.twig' %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="panel panel-primary center-block">
                <div class="panel-heading">
                    <i class="glyphicon glyphicon-pencil"></i> {{ 'views.edit.edit'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
                </div>
                <div class="panel-body">
                    {% block form %}
                        {{ form_start(edit_form) }}                        
                        {{ form_row(edit_form.nombre) }}
                        {{ form_label(edit_form.geometria) }}
                        {{ form_widget(edit_form.geometria, { 'attr': {'readonly': 'true'} }) }}
                        {{ form_label(edit_form.atributos) }}
                        <ul id="atributos-fields-list" data-prototype="{{ form_widget(edit_form.atributos.vars.prototype)|e }}">
                        {% for atributoField in edit_form.atributos %}
                            <li>
                                {{ form_errors(atributoField) }}
                                {{ form_widget(atributoField) }}
                            </li>
                        {% endfor %}
                        </ul>
                        <button href="#" type="button" id="add-another-atributo" class="btn btn-success" aria-label="Agregar atributo">
                          <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar Atributo
                        </button>
                        
                        
                        {{ form_row(edit_form.usuario) }}
                        {{ form_row(edit_form.mapaFile) }}
                        {{ form_end(edit_form) }}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2">
            <a class="form-control btn btn-info" href="{{ path(config.index) }}">
                {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleAdminCrudBundle') }}
            </a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">{{ form(delete_form) }}</div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/mwsimpleadmincrud/js/widget.js') }}"></script>
    <script type="text/javascript">
    // keep track of how many email fields have been rendered
    var atributoCount = '{{ edit_form.atributos|length }}';
    var atributosList = jQuery('#atributos-fields-list');
    jQuery(document).ready(function() {
        atributosList.find('li').each(function() {
        addTagFormDeleteLink($(this));
    });

    jQuery(document).ready(function() {
        jQuery('#add-another-atributo').click(function(e) {
            e.preventDefault();            

            // grab the prototype template
            var newWidget = atributosList.attr('data-prototype');
            // replace the "__name__" used in the id and name of the prototype
            // with a number that's unique to your emails
            // end name attribute looks like name="contact[emails][2]"
            newWidget = newWidget.replace(/__name__/g, atributoCount);            

            // create a new list element and add it to the list
            var newLi = jQuery('<li></li>').html(newWidget);
            newLi.appendTo(atributosList);
            var $removeFormA = $("<a class='btn btn-mini btn-danger' href='#'><i class='glyphicon glyphicon-trash'></i>Eliminar</a>");
            newLi.append($removeFormA);
            $removeFormA.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // remove the li for the tag form
        newLi.remove();
    });
            atributoCount++;
        });
        //getAtributos($('#select2_sistema_adminbundle_proyecto_vinculaciones_0_capas').val());                                    
                    
    });
  });
  
  function addTagFormDeleteLink($tagFormLi) {
    var $removeFormA = $("<a class='btn btn-mini btn-danger' href='#'><i class='glyphicon glyphicon-trash'></i>Eliminar</a>");
    $tagFormLi.append($removeFormA);

    $removeFormA.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // remove the li for the tag form
        $tagFormLi.remove();
    });
}
</script>
{% endblock %}