{% extends 'layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.index.list'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
{% endblock %}

{% block page %}

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Mis Proyectos</h3>
        </div>
        <table class="table table-striped table-bordered table-condensed table-responsive">
            <thead>
                <tr>
                    {% for key, field in config.fieldsindex %}
                        <th{% if entities.isSorted(key) %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, field.label, key) }}</th>
                    {% endfor %}
                    <th>Compartida</th>
                    <th>{{ 'views.index.actions'|trans({}, 'MWSimpleAdminCrudBundle') }}</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    {% for key, field in config.fieldsindex %}
                        <td>
                        {% if field.name == "Geometria" %}
                            {% if entity.geometria == 'point' %}
                                <img src="{{ asset('bundles/sistemaadmin/img/geoserver/bullet_blue.png') }}">
                            {% elseif  entity.geometria == 'path' %}
                                <img src="{{ asset('bundles/sistemaadmin/img/geoserver/line_blue.png') }}">
                            {% else %}
                                <img src="{{ asset('bundles/sistemaadmin/img/geoserver/shape_square_blue.png') }}">
                            {% endif %}
                        {% elseif field.type in ['datetime', 'datetimetz', 'date', 'time'] %}
                            {{ attribute(entity, field.name)|date(field.date) }}
                        {% elseif field.type in ['boolean'] %}
                            {{ isActive(attribute(entity, field.name)) }}
                        {% elseif field.type in ['ONE_TO_MANY', 'MANY_TO_MANY'] %}
                            {% set many_entity = attribute(entity, field.name) %}
                            {% for key, field in many_entity %}
                                {{ field }} |
                            {% endfor %}
                        {% else %}
                            {{ attribute(entity, field.name) }}
                        {% endif %}
                        </td>
                    {% endfor %}
                    
                    <td>
                        {% for grupo in entity.grupos %}                       
                            <i style="color: green;" class="glyphicon glyphicon-ok-circle"></i>                        
                        {% endfor %}
                    </td>   
                    <td>
                        {% block actions %}
                            {#<a class="glyphicon glyphicon-search tooltips"  href="{{ path(config.show, { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.show'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}"></a>#}
                            <a class="glyphicon glyphicon-edit tooltips"  href="{{ path(config.edit, { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="Modificar atributos"></a>
                            <a class="glyphicon glyphicon-map-marker tooltips"  href="{{ path('procesar_mapa', { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="Editar en el mapa"></a>
                        {% endblock %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-lg-4 navigation">
        {{ knp_pagination_render(entities) }}
    </div>        
    </div>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Proyectos de otros usuarios</h3>
        </div>
        <table class="table table-striped table-bordered table-condensed table-responsive">
            <thead>
                <tr>
                    <th>Nombre</th>                    
                    <th>Geometria</th>
                    <th>Usuario</th>
                    <th>{{ 'views.index.actions'|trans({}, 'MWSimpleAdminCrudBundle') }}</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in mapas %}
                <tr>                    
                        <td>
                        {{ entity.nombre }}
                        </td>
                        <td>
                        {% if entity.geometria == 'point' %}
                            <img src="http://localhost:8080/geoserver/web/resources/org.geoserver.web.GeoServerBasePage/img/icons/silk/bullet_blue.png">
                        {% endif %}
                        </td>
                        <td>
                        {{ entity.usuario }}
                        </td>
                    
                    <td>
                        {% block actions2 %}
                            {#<a class="glyphicon glyphicon-search tooltips"  href="{{ path(config.show, { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.show'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}"></a>#}
                            <a class="glyphicon glyphicon-edit tooltips"  href="{{ path(config.edit, { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="Modificar atributos"></a>
                            <a class="glyphicon glyphicon-map-marker tooltips"  href="{{ path('procesar_mapa', { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="Editar en el mapa"></a>
                        {% endblock %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>    
        <div class="col-lg-8">
            <a class="btn btn-primary likepaginator" href="{{ path(config.new) }}">
                Crear Proyecto
            </a>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $('.tooltips').tooltip();
    </script>
{% endblock %}