{% extends 'layout.html.twig' %}
{# ver aca para seguir haciendo http://symfony.com/doc/2.7/reference/forms/types/collection.html#}

{% block title %}
    Crear Proyecto
{% endblock %}

{% block page %}
    {% form_theme form 'MWSimpleAdminCrudBundle:widget:fields.html.twig' %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="panel panel-primary center-block">
                <div class="panel-heading">
                    <i class="glyphicon glyphicon-plus"></i> {{ 'views.new.creation'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
                </div>
                <div class="panel-body">
                    {% block form %}
                        {{ form_start(form) }}                        
                        {{ form_row(form.nombre) }}
                        {{ form_row(form.geometria) }}                        
                        <div class="panel panel-success">
                            <div class="panel-heading"><h3 class="panel-title">{{ form_label(form.atributos) }}</h3></div>
                            <div class="panel-body">
                        <ul id="atributos-fields-list" data-prototype="{{ form_widget(form.atributos.vars.prototype)|e }}">
                        {% for atributoField in form.atributos %}
                            <li>
                                {{ form_errors(atributoField) }}
                                {{ form_widget(atributoField) }}
                            </li>
                        {% endfor %}
                        </ul>
                        <button href="#" type="button" id="add-another-atributo" class="btn btn-success right" aria-label="Agregar atributo">
                          <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar Atributo
                        </button>
                        </div>
                        </div>
                        
                        
                        
                        {{ form_row(form.usuario) }}
                        {{ form_row(form.mapaFile) }}
                        {{ form_end(form) }}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2">
            <a class="form-control btn btn-info" href="{{ path(config.index) }}">
                {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleAdminCrudBundle') }}
            </a>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/mwsimpleadmincrud/js/widget.js') }}"></script>
    <script type="text/javascript">
    // keep track of how many email fields have been rendered
    var atributoCount = '{{ form.atributos|length }}';

    jQuery(document).ready(function() {
        jQuery('#add-another-atributo').click(function(e) {
            e.preventDefault();

            var atributosList = jQuery('#atributos-fields-list');

            // grab the prototype template
            var newWidget = atributosList.attr('data-prototype');
            // replace the "__name__" used in the id and name of the prototype
            // with a number that's unique to your emails
            // end name attribute looks like name="contact[emails][2]"
            newWidget = newWidget.replace(/__name__/g, atributoCount);
            

            // create a new list element and add it to the list
            var newLi = jQuery('<li></li>').html(newWidget);
            newLi.appendTo(atributosList);
            var $removeFormA = $("<a class='btn btn-mini btn-danger' href='#'><i class='glyphicon glyphicon-trash'></i>Eliminar</a>");
            newLi.append($removeFormA);
            $removeFormA.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // remove the li for the tag form
        newLi.remove();
    });
            atributoCount++;
        });
    })
</script>
{% endblock %}