{% extends 'layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'Usuarios: Lista' }}
{% endblock %}

{% block page %}

    <div class="row"> 
        <div class="col-lg-8">
        <a class="btn btn-primary likepaginator" href="{{ path('updateusers') }}">
            Actualizar Datos de Usuarios
        </a>
    </div>
    </div>
    <div class="row"> 
        <div class="col-lg-8">
        <a class="btn btn-primary likepaginator" href="{{ path('updatemapas') }}">
            Actualizar Proyectos
        </a>
    </div>
    </div>

{% endblock %}


{% block javascript %}
<script type="text/javascript">
$('.tooltips').tooltip();
</script>
{% endblock %}
