{% extends 'layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'Editar Usuario' }}
{% endblock %}

{% block page %}
    {% form_theme edit_form 'SistemaUserBundle:Form:form_fields_usuario.html.twig' %}
    {#{% form_theme edit_form.password 'SistemaUserBundle:Form:form_fields_usuario_edit.html.twig' %}#}    
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="panel panel-primary center-block">
                <div class="panel-heading">
                    <i class="glyphicon glyphicon-pencil"></i> {{ 'Editar Perfil' }}
                </div>
                <div class="panel-body">
                    {% block form %}
                        {{ form(edit_form) }}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
        
{% endblock %}

{% block javascript %}
    <script src="{{ asset('bundles/mwsimplecrudgenerator/js/widget.js') }}"></script>
{% endblock %}
