{% extends 'layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'Editar Usuario' }}
{% endblock %}

{% block page %}
    {% form_theme edit_form 'SistemaUserBundle:Form:form_fields_usuario.html.twig' %}
    {#{% form_theme edit_form.password 'SistemaUserBundle:Form:form_fields_usuario_edit.html.twig' %}#}
    {% form_theme edit_form.user_roles 'SistemaUserBundle:Theme:fields_many_checkbox.html.twig' %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="panel panel-primary center-block">
                <div class="panel-heading">
                    <i class="glyphicon glyphicon-pencil"></i> {{ 'Editar Usuario' }}
                </div>
                <div class="panel-body">
                    {% block form %}
                        {{ form(edit_form) }}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

        <div class="col-lg-9 col-lg-offset-2">
            <div class="float-left col-lg-3">
                <a class="btn btn-info col-lg-11" href="{{ path('user') }}">
                    {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleAdminCrudBundle') }}
                </a>
            </div>
            <div class="float-left col-lg-3">{{ form(delete_form) }}</div>
        </div>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('bundles/mwsimplecrudgenerator/js/widget.js') }}"></script>
{% endblock %}
