{% extends 'layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'Usuarios: Lista' }}
{% endblock %}

{% block page %}
<div class="row">
    <div class="col-lg-12">
        {% if filterForm.vars.errors|length > 0 %}
        <div class="alert alert-block alert-danger fade in form-errors">
            {{ form_errors(filterForm) }}
        </div>
        {% endif %}
        &nbsp;
        <div class="filters-right">
            <a class="btn btn-primary dropdown-toggle" data-toggle="collapse" data-target="#filters">
                {{ 'views.index.filters'|trans({}, 'MWSimpleAdminCrudBundle') }}
                <span class="caret"></span>
            </a>
        </div>
    </div>

    <div class="col-lg-12">
        <div id="filters" class="well collapse">
            <div class="form-group">
            {{ form(filterForm) }}
            </div>
        </div>
    </div>
    </div>
    <div class="row">
    <div class="panel panel-default">
    <div class="panel-heading"><h3>Usuarios</h3></div>

        <table class="table table-striped table-bordered table-condensed table-responsive">
            <thead>
                <tr>                    
                    <th{% if entities.isSorted('a.Username') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Nombre', 'a.username') }}</th>
                    <th{% if entities.isSorted('a.Isactive') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Activo', 'a.isActive') }}</th>
                    <th>{{ 'views.index.actions'|trans({}, 'MWSimpleAdminCrudBundle') }}</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>                    
                    <td>{{ entity.username }}</td>

                    <td>{{ isActive(entity.isActive) }}</td>
                    <td>


                    <a class="glyphicon glyphicon-search tooltips"  href="{{ path('user_show', { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'Ver Usuario' }}">

            </a>


                    <a class="glyphicon glyphicon-edit tooltips"  href="{{ path('user_edit', { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'Editar Usuario' }}">

            </a>
                                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>

    <div class="col-lg-4 navigation">
        {{ knp_pagination_render(entities) }}
    </div>

        <div class="col-lg-8">
        <a class="btn btn-primary likepaginator" href="{{ path('user_new') }}">
            Crear Usuario
        </a>
    </div>
    </div>

{% endblock %}


{% block javascript %}
<script type="text/javascript">
$('.tooltips').tooltip();
</script>
{% endblock %}
