{% extends 'MWSimpleAdminCrudBundle::layout.html.twig' %}
{% block title %}
{{ parent() }} - Bienvenido
{% endblock %}

{% block menu %}{% endblock %}

{% block titulo %}Bienvenido{% endblock %}

                    {%block menu_login%}
                        <a class="pull-right" href="{{path('homepage')}}"><span class="glyphicon glyphicon-home btn btn-lg"></span>Inicio</a>
                    {%endblock%}

{%block page%}
<script src="{{ asset('bundles/mwsimpleadmincrud/js/jquery.min.js') }}"></script>

{% if error %}

<div>{{ error.message |trans({}, 'UserBundle')}}</div>
{% endif %}
<div class="col-lg-6 col-lg-offset-3">
<div class="form-group panel panel-default">
    <div class="panel-heading"> <h3 class="panel-title center-block">Acceso:</h3></div>
    <div class="panel-body">
        <form action="{{ path('login_check') }}" method="post">
            <div>
                <label for="username">{{ 'security.login.username'|trans({}, 'UserBundle') }}</label>
                <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" />
            </div>
            <div>
                <label for="password">{{ 'security.login.password'|trans({}, 'UserBundle') }}</label>
                <input type="password" class="form-control" id="contrasena" name="_password" />
            </div>                
            {#
                If you want to control the URL the user
                is redirected to on success (more details below)
                <input type="hidden" name="_target_path" value="/account" />
            #}

            <button type="submit" class="btn btn-success">{{ 'security.login.submit'|trans({}, 'UserBundle') }}</button>
            <a class="btn btn-info" href="{{ path ('user_forgot_password') }}">Olvide mi contraseña</a>
        </form>
     </div>
</div>
</div>
<script src="{{ asset('bundles/sistemaadmin/js/md5.js') }}"></script>
<script type="text/javascript">
 var check = false;
 function Validar()
  {
   if (check == false){
   user=document.getElementById("username");   
   pwd=document.getElementById("contrasena");
   $.ajax({
                type: "POST",
                dataType: 'json',
                url: '{{ path('ajax_check') }}',
                data: {user: user.value},
                async: false //you won't need that if nothing in your following code is dependend of the result
                
            })                    
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        //alert('Error : ' + errorThrown);
                    });
                            
                    check = true;
                    //die();   
   return true;
  }
  }
function Convertir(){
    user=document.getElementById("username");
    if (user.value !== "superadmin" && user.value !== "admin"){        
   pwd=document.getElementById("contrasena");
   var hash = CryptoJS.MD5(pwd.value).toString();   
   pwd.value = hash;
    }
}
</script>
{%endblock%}
